@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -0.98px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(190, 190, 190, 0.16);
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}
header .top {
  width: 100%;
  height: auto;
  background-color: #3d78ff;
  padding: 5px 0 5px 0;
}
header .top .notification {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top .notification .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top .notification .text i {
  color: white;
  font-size: 14px;
}
header .top .notification .text .notiWrap {
  width: 50%;
  position: relative;
  height: 20px;
  overflow: hidden;
}
header .top .notification .text .notiWrap ul {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
header .top .notification .text .notiWrap li {
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.53px;
  color: #fff;
  text-align: center;
  margin: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
header .top .notification button {
  float: right;
  border: none;
  background: none;
  outline: none;
  filter: invert(100%);
  cursor: pointer;
}
header .bottom {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .bottom .right {
  display: flex;
  align-items: center;
}
header .bottom .right button {
  font-size: 12px;
  letter-spacing: -0.46px;
  color: #202020;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
header .bottom .right span {
  width: 1px;
  height: 12px;
  background-color: #202020;
  margin: 0 8px;
  margin-top: 4px;
  display: block;
}
header.notiClose {
  height: 50px;
}
header.notiClose .top {
  display: none;
}

main {
  width: 100%;
  height: auto;
}
main .fixed2 {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: calc(5% + 100px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
main .fixed2 span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: 5%;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
main .fixed span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed img {
  filter: grayscale(100%) brightness(180%);
}
main .fixed.active span {
  color: #3d78ff;
}
main .fixed.active img {
  filter: none;
}
main section {
  padding-top: 160px;
}
main section article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
main section article input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
main section article input::placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}

article#top .title {
  display: flex;
  align-items: center;
}
article#top .title h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #202020;
  margin-bottom: 4px;
}
article#top .title span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d78ff;
  padding: 4px 18px 5px 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-left: 4px;
  cursor: pointer;
}
article#top .processBar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .processBar .step {
  width: 33.3333%;
}
article#top .processBar .step span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #dedede;
}
article#top .processBar .step p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #dedede;
}
article#top .processBar .step.active span {
  background-color: #3d78ff;
}
article#top .processBar .step.active p {
  color: #505050;
}

footer {
  width: 100%;
  height: auto;
  padding: 37px 0;
  background-color: #f5f5f5;
}
footer .footerWrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footerWrap .left .row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
footer .footerWrap .left .row .footerTerms {
  cursor: pointer;
}
footer .footerWrap .left .row p, footer .footerWrap .left .row span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.91px;
  color: #474246;
}
footer .footerWrap .left .row span {
  margin: 0 10px;
}
footer .footerWrap .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footerWrap .right img {
  width: 106px;
  height: auto;
  padding: 12px;
  border: 1px solid #202020;
  border-radius: 10px;
}

.checkBoxDiv {
  transform-origin: left;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkBoxDiv label.checkBox {
  width: 16px;
  height: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv input.chkBox {
  display: none;
}
.checkBoxDiv input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}
.checkBoxDiv label.text {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkBoxDiv.square label.checkBox {
  width: 15px;
  height: 15px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 1px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv.square input.chkBox {
  display: none;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2.5px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 1400px) {
  main .fixed2 {
    right: 140px;
  }
  main .fixed {
    right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  article#top .title h1 {
    font-size: 26px;
    letter-spacing: -1.3px;
  }
  article#top .processBar {
    margin-top: 60px;
  }
  article#top .processBar .step p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  header .top .notification .text i {
    font-size: 14px;
  }
  header .top .notification .text .notiWrap {
    width: 90%;
  }
  header .top .notification .text .notiWrap li {
    font-size: 12px;
    line-height: 20px;
  }
  main .fixed2 {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 30%;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed2 span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed._70 {
    width: 70%;
  }
  main .fixed span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed img {
    display: none;
  }
  main .fixed.active {
    background-color: #3d78ff;
  }
  main .fixed.active span {
    color: white;
  }
  footer {
    padding: 30px 0;
    padding-bottom: 90px;
  }
  footer .footerWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footerWrap .left .row {
    justify-content: space-around;
    margin-bottom: 0;
  }
  footer .footerWrap .left .row p.footerTerms {
    margin-bottom: 10px;
  }
  footer .footerWrap .left .row.flexWrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footerWrap .left .row.flexWrap p {
    margin: 0 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  footer .footerWrap .left .row span {
    display: none;
  }
  footer .footerWrap .right {
    display: none;
  }
}

article#top .title img {
  width: 90px;
  display: inline-block;
  margin-left: 6px;
}

@media only screen and (max-width: 1200px) {
  main section article#top .processBar .step p {
    font-size: 10px;
  }
}
main .fixed {
  pointer-events: none;
}
main .fixed.active {
  pointer-events: all;
}

article#payInfo {
  margin-top: 80px;
}
article#payInfo h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
  margin-bottom: 10px;
}
article#payInfo .ticketInfo .top {
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: #3d78ff;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.98px;
  text-align: left;
  color: #fff;
}
article#payInfo .ticketInfo .flexArea {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  display: flex;
  border: 1px solid #e2e2e2;
  border-top: 0;
  box-sizing: border-box;
}
article#payInfo .ticketInfo .flexArea .left {
  flex: 1;
}
article#payInfo .ticketInfo .flexArea .right {
  flex: 1;
}
article#payInfo .ticketInfo .flexArea .left .flexRow, article#payInfo .ticketInfo .flexArea .right .flexRow {
  display: flex;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .title, article#payInfo .ticketInfo .flexArea .right .flexRow .title {
  width: 25%;
  background-color: #f2f2f2;
  padding: 12.5px 0;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: left;
  color: #212121;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content, article#payInfo .ticketInfo .flexArea .right .flexRow .content {
  width: 75%;
  box-sizing: border-box;
  padding: 12.5px 0;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content.column, article#payInfo .ticketInfo .flexArea .right .flexRow .content.column {
  flex-direction: column;
  align-items: flex-start;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content.column .flexText, article#payInfo .ticketInfo .flexArea .right .flexRow .content.column .flexText {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content p, article#payInfo .ticketInfo .flexArea .right .flexRow .content p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: left;
  color: #202020;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content p.grayText, article#payInfo .ticketInfo .flexArea .right .flexRow .content p.grayText {
  color: #d4d4d4;
  position: relative;
  width: 130px;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content p.grayText::after, article#payInfo .ticketInfo .flexArea .right .flexRow .content p.grayText::after {
  content: url(/assets/new_join/img/sodeOne_05_dc_arrow.svg);
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content p.bigText, article#payInfo .ticketInfo .flexArea .right .flexRow .content p.bigText {
  font-weight: bold;
  font-size: 16px;
  color: #202020;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check {
  width: 12px;
  height: 16px;
  position: relative;
  margin-right: 24px;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check::before, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check::before {
  content: "";
  width: 8px;
  height: 2px;
  display: block;
  background-color: #202020;
  position: absolute;
  top: 10px;
  left: 5px;
  transform: rotate(40deg);
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check::after, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check::after {
  content: "";
  width: 11px;
  height: 2px;
  display: block;
  background-color: #202020;
  position: absolute;
  top: 8px;
  left: 9.7px;
  transform: rotate(-45deg);
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check.circle, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check.circle {
  width: 18px;
  height: 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-right: 18px;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check.circle::before, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check.circle::before {
  left: 1px;
  height: 1px;
  background-color: #3d78ff;
}
article#payInfo .ticketInfo .flexArea .left .flexRow .content span.check.circle::after, article#payInfo .ticketInfo .flexArea .right .flexRow .content span.check.circle::after {
  top: 9px;
  left: 5.9px;
  height: 1px;
  background-color: #3d78ff;
}
article#payInfo .grayBox {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  padding: 40px 44px;
  margin-top: 20px;
  box-sizing: border-box;
}
article#payInfo .grayBox p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -1.12px;
  text-align: left;
  color: #202020;
}

article#terms {
  margin-top: 80px;
}
article#terms h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#terms .accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 40px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}
article#terms .accordion .title .left {
  display: flex;
  align-items: center;
}
article#terms .accordion .title .left p {
  font-size: 14px;
  letter-spacing: -0.98px;
  margin-left: 12px;
  margin-bottom: 1px;
  color: #202020;
  cursor: pointer;
}
article#terms .accordion .title .left p b {
  font-weight: 500;
  color: #3d78ff;
}
article#terms .accordion .title span {
  padding: 10px;
  cursor: pointer;
}
article#terms .accordion .title span img {
  transition: all 0.2s;
  width: 15px;
}
article#terms .accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eeeeee;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
article#terms .accordion .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
article#terms .accordion .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
article#terms .accordion .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
article#terms .accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#terms .accordion .checkBoxRow {
  padding: 10px 0;
  margin-left: 50px;
}
article#terms .accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
article#terms .accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}
article#terms .accordion.active .title span img {
  transform: rotate(90deg);
}
article#terms .accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}

article#payment {
  margin-top: 80px;
}
article#payment h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#payment button#creditCard {
  margin-top: 10px;
  width: 100%;
  padding: 17px 0;
  border-radius: 30px;
  border: solid 1px #d9d9d9;
  background-color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: center;
  color: #cbcbcb;
  pointer-events: none;
}
article#payment button#creditCard.active {
  background-color: #3d78ff;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

article#caution {
  margin-top: 80px;
  margin-bottom: 200px;
}
article#caution h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#caution .grayBox {
  margin-top: 10px;
  padding: 40px;
  background-color: #f9f9f9;
}
article#caution .grayBox pre {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.5px;
  text-align: left;
  color: #808080;
}
article#caution .grayBox pre a {
  color: #3d78ff;
  text-decoration: underline;
}

.bottomSticky {
  position: sticky;
  bottom: 60px;
  background-color: #fff;
  display: none;
  z-index: 2;
}
.bottomSticky .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 40px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}
.bottomSticky .title .left {
  display: flex;
  align-items: center;
}
.bottomSticky .title .left p {
  font-size: 14px;
  letter-spacing: -0.98px;
  margin-left: 12px;
  margin-bottom: 1px;
  color: #202020;
  cursor: pointer;
}
.bottomSticky .title .left p b {
  font-weight: 500;
  color: #3d78ff;
}
.bottomSticky .title span {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #bbb;
}

.modal#modal_01 .popupBody {
  width: 530px;
}
.modal#modal_01 .popupBody .head {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 34px;
  box-sizing: border-box;
}
.modal#modal_01 .popupBody .head h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
  text-align: center;
  color: #22262f;
}
.modal#modal_01 .popupBody .body {
  width: 100%;
  padding: 30px 34px 20px 34px;
  box-sizing: border-box;
}
.modal#modal_01 .popupBody .body p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.98px;
  text-align: left;
  color: #202020;
}
.modal#modal_01 .popupBody .body span.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #e1e1e1;
  margin: 10px 0;
}
.modal#modal_01 .popupBody .body .btnFlex {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.modal#modal_01 .popupBody .body .btnFlex button {
  width: 100px;
  padding: 8px 0;
  outline: none;
  border: 1px solid #3d78ff;
  background: none;
  cursor: pointer;
}
.modal#modal_01 .popupBody .body .btnFlex button.blue {
  color: white;
  background-color: #3d78ff;
}
.modal#modal_01 .popupBody .body .btnFlex button.blue_outline {
  color: #3d78ff;
}

@media only screen and (max-width: 1200px) {
  article#payInfo .ticketInfo .flexArea {
    flex-direction: column;
  }
  article#payInfo .ticketInfo .flexArea .left .flexRow .title, article#payInfo .ticketInfo .flexArea .right .flexRow .title {
    padding-left: 10px;
  }
  article#payInfo .ticketInfo .flexArea .left .flexRow .content, article#payInfo .ticketInfo .flexArea .right .flexRow .content {
    padding-left: 10px;
    flex-wrap: wrap;
  }
  article#payInfo .ticketInfo .flexArea .left .flexRow .content p.bigText, article#payInfo .ticketInfo .flexArea .right .flexRow .content p.bigText {
    width: 100%;
    margin-left: 40px;
  }
  article#terms .accordion .title {
    padding: 4px 14px;
  }
  article#caution .grayBox {
    padding: 40px 20px;
  }
  article#caution .grayBox pre {
    white-space: pre-line;
  }
}
@media only screen and (max-width: 900px) {
  .bottomSticky {
    display: block;
  }
  .bottomSticky.hide {
    display: none;
  }
}