.header_wra {
  background: none;
  transition: 0.4s;
}

.header_wra_on {
  background: #474246 !important;
  transition: 0.4s;
}

.cal_main_banner_1 {
  width: 100%;
  display: block;
  background-color: #aaa;
  border-radius: 0 0 8rem 0;
  background: url(/assets/images/new_cal/cal_banner.png);
  background-size: cover;
}

.cal_main_banner_1_wrap {
  width: 100%;
  background-color: #F8F8F8;
}

.cal_main_banner_1_text {
  text-align: center;
  padding: 13rem 0 11rem 0;
}

.cal_text_wrap_box {}

.cal_text_wrap_box h1 {
  font-size: 1.25rem;
  color: #fff;
  display: block;
  border: 1px solid;
  width: 18rem;
  margin: 0 auto;
  padding: 0.2rem;
  border-radius: 7px;
}

.cal_main_banner_1_text h2 {
  color: #fff;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.cal_content_wrap {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.cal_content_wrap_title {
  text-align: center;
  font-size: 1.875rem;
  padding: 5rem 0 3rem 0;
}

.cal_content_wrap_list {
  font-size: 0;
  margin: 0 auto;
  width: 100%;
  width: 100%;
}

.cal_content_wrap_list li {
  display: inline-block;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 4px 4px 19px -12px grey;
  position: relative;
  margin-right: 3.5%;
  margin-top: 3%;
  cursor: pointer;
  width: 418px;
}

.cal_content_wrap_list li:nth-of-type(1) {}

.cal_content_wrap_list li:nth-of-type(1) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_1.png) no-repeat;
  background-position: 105% 8rem;
  background-color: #45a4d5;
  background-size: 9rem;
}

.cal_content_wrap_list li:nth-of-type(2) {}

.cal_content_wrap_list li:nth-of-type(2) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_2.png) no-repeat;
  background-position: 95% 8rem;
  background-size: 7rem;
  background-color: #d2b283;
}

.cal_content_wrap_list li:nth-of-type(3) {}

.cal_content_wrap_list li:nth-of-type(3) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_3.png) no-repeat;
  background-position: 105% 9rem;
  background-color: #50b6bf;
  background-size: 8rem;
}

.cal_content_wrap_list li:nth-of-type(4) {}

.cal_content_wrap_list li:nth-of-type(4) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_4.png) no-repeat;
  background-position: 90% 12.5rem;
  background-size: 10rem;
  background-color: #427900;
}

.cal_content_wrap_list li:nth-of-type(5) {}

.cal_content_wrap_list li:nth-of-type(5) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_5.png) no-repeat;
  background-position: 90% 11.5rem;
  background-size: 12rem;
  /* background-color: #fc8787; */
}

.cal_content_wrap_list li:nth-of-type(6) {}

.cal_content_wrap_list li:nth-of-type(6) .cal_content_wrap_list_top {
  background: url(/assets/images/new_cal/new_cal_icon_6.png) no-repeat;
  background-position: 90% 12.3rem;
  background-size: 8rem;
  /* background-color: #f06666; */
}

.cal_content_wrap_list li:nth-of-type(3n) {}

.cal_content_wrap_list_top {
  background-color: #aaa;
  background-size: 100% !important;
  background-position: right !important;
}

.cal_content_wrap_list_top h1 {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem;
  height: 16rem;
}

.cal_box_icon {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 1px 1px 18px -6px grey;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 1px solid #fff;
  background: url(/assets/images/new_cal/new_cal_icon_best.png) no-repeat;
  background-position: center center;
  background-size: 50%;
  background-color: #3467C1;
}

.cal_box_icon_2 {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 1px 1px 18px -6px grey;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 1px solid #fff;
  background: url(/assets/images/new_cal/new_cal_icon_reco.png) no-repeat;
  background-position: center center;
  background-size: 32%;
  background-color: #D34C4C;
}

.cal_box_icon img {}

.cal_gage {
  width: 100%;
  background-color: #EFEFEF;
  position: relative;
  height: 1rem;
}

.cal_gage_bar {
  position: absolute;
  left: 0;
  width: 80%;
  background-color: #4fabfa;
  height: 1rem;
}

.cal_gage_alert {
  position: absolute;
  border-radius: 20px;
  height: 25px;
  top: -35px;
  color: #3467c1;
  background: url(/assets/images/new_cal/cal_hand_icon.png) no-repeat;
  background-color: #fff;
  background-position: 7px center;
  right: 0rem;
  width: 41.8px;
  background-size: 10px;
  display: block;
}

.cal_gage_alert_full {
  width: 48px;
}

.cal_gage_alert_hide {
  display: none !important;
}

.cal_gage_alert span {
  text-align: right;
  width: 100%;
  display: block;
  padding-right: 3px;
  font-size: 0.6rem;
  line-height: 25px;
}

.cal_content_wrap_list_bottom {
  height: 8rem;
}

.cal_content_wrap_list_bottom_text {
  padding: 1.5rem 1rem 1rem 1rem;
}

.cal_content_wrap_list_bottom_text h1 {
  font-size: 1rem;
  color: #444444;
}

.cal_content_wrap_list_bottom_text h2 {
  font-size: 1.75rem;
  color: #333333;
}

.cal_content_wrap_list_bottom_text h2 b {
  padding: 0 0.2rem;
  display: inline-block;
  vertical-align: top;
  color: #333333;
}

.cal_content {
  width: 100%;
  background-color: #F8F8F8;
}

.cal_content_2 {
  background-color: #fff;
  padding-bottom: 9rem;
}

.cal_content_2_title {
  text-align: center;
  font-size: 1.875rem;
  padding-top: 7rem;
  color: #333333;
}

.cal_content_2_title b {}

.cal_content_2_wrap {}

.cal_content_2_wrap_text {
  display: block;
  margin-right: 12rem;
}

.cal_content_2_wrap_text h1 {
  color: #fff;
  font-size: 2rem;
}

.cal_content_2_wrap_text h1 b {}

.cal_content_2_wrap_text span {
  color: #fff;
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
}

.cal_content_2_wrap_bottom {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  margin-top: 2rem;
}

.cal_content_2_wrap_bottom li {
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 0;
  border-left: 1px solid #eaeaea;
  width: 33.333%;
}

.cal_content_2_wrap_bottom li span {
  display: inline-block;
  color: #5980D0;
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: bold;
  margin-left: 2rem;
}

.cal_content_2_wrap_bottom li h3 {
  display: inline-block;
  font-size: 1rem;
  color: #444444;
  vertical-align: top;
  margin-left: 4rem;
}

.cal_content_2_wrap_bottom li:nth-of-type(1) {}

.cal_content_2_wrap_bottom li:nth-of-type(2) {}

.cal_content_2_wrap_bottom li:nth-of-type(3) {
  border-right: 1px solid #eaeaea;
}

.cal_content_2_wrap_bottom_color_2 {
  color: #78B4BD !important;
}

.cal_content_2_wrap_bottom_color_3 {
  color: #CD6969 !important;
}

.cal_content_2_banner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #4D8ED4;
  border-radius: 4rem 0 4rem 0;
  margin-top: 3rem;
  height: 380px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(/assets/images/new_cal/cal_banner_2.png) no-repeat;
  background-size: cover;
}

.cal_gage_alert:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-bottom: 0.7rem solid white;
  display: inline-block;
  position: absolute;
  right: -0.25rem;
  transform: rotate(45deg);
  bottom: -0.15rem;
  right: 0.6rem;
}

.cal_content_wrap_list_top_1_active {
  background: url(/assets/images/new_cal/cal_hover_1.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_content_wrap_list_top_2_active {
  background: url(/assets/images/new_cal/cal_hover_2.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_content_wrap_list_top_3_active {
  background: url(/assets/images/new_cal/cal_hover_3.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_content_wrap_list_top_4_active {
  background: url(/assets/images/new_cal/cal_hover_4.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_content_wrap_list_top_5_active {
  background: url(/assets/images/new_cal/cal_hover_5.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_content_wrap_list_top_6_active {
  background: url(/assets/images/new_cal/cal_hover_6.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.cal_hover_text {
  font-size: 1.25rem;
  color: #fff;
  padding: 1rem;
  height: 16rem;
  display: none;
}

@media(max-width:900px) {
  .cal_content_wrap_list li {
    display: inline-block;
    width: 320px;
    margin-right: 15px;
  }

  .cal_content_wrap_list li:nth-of-type(2n) {
    margin-right: 0;
  }

  .cal_content_wrap_list {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
  }

  .cal_content_wrap_list li:nth-of-type(3n) {
    margin-right: 15px;
  }
}

@media(max-width:660px) {
  .cal_main_banner_1_text h2 {
    font-size: 2rem;
  }

  .cal_content_wrap_list {
    width: 320px;
  }

  .cal_content_wrap_list li {
    width: 98%;
  }

  .cal_content_2_wrap_bottom li {
    width: 100%;
  }

  .cal_content_2_wrap_text {
    margin: 0 auto;
  }

  .cal_content_wrap_list li {
    display: block;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
  }

  .cal_content_wrap_list li:nth-of-type(3n) {
    margin: 0 auto;
    margin-top: 3rem;
  }

  .cal_content_wrap_list {
    margin: 0 auto;
    width: 320px;
  }

  .cal_content_2_wrap_bottom li span {
    padding-bottom: 1rem;
    width: 11rem;
  }

  .cal_content_wrap_list li:nth-of-type(2n) {
    margin: 0 auto;
    margin-top: 40px;
  }

  .cal_content_2_wrap_text h1, .cal_content_2_wrap_text span {
    color: #202020;
  }

  .cal_gage_alert {
    top: -3.3rem;
  }
}

.cal_content_wrap_list li:nth-of-type(3n) {
  margin-right: 0;
}

@media(max-width:1365px) {
  .cal_content_wrap_list li:nth-of-type(2n) {
    margin-right: 0 !important;
  }

  .cal_content_wrap_list li:nth-of-type(3n) {
    margin-right: 2.5%;
  }

  .cal_content_wrap_list {
    width: 867px;
  }
}

@media(max-width:900px) {
  .cal_content_wrap_list li:nth-of-type(6) {
    margin-right: 0;
  }

  .cal_gage_alert {
    background: url();
    background-color: #fff;
    width: 32px;
    display: none;
  }

  .cal_gage_alert span {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
  }

  .cal_content_wrap_list {
    width: 657px;
  }
}

@media(max-width:661px) {
  .cal_content_wrap_list {
    width: 320px;
  }

  .cal_content_wrap_list li {
    margin: 0;
    margin-top: 40px;
  }
}

.cal_content_2_banner_m {
  display: none;
  background: url(/assets/images/new_cal/dots.png) no-repeat;
  background-color: #6189d0;
  background-size: 60rem;
  background-position: -22rem 0%;
  margin-top: 3rem;
  border-radius: 4rem 0 4rem 0;
}

.cal_content_2_banner_m_left_img_area {
    display: inline-block;
    width: 51rem;
}

.cal_content_2_banner_m_left_img_area img {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

.cal_content_2_banner_m_text_area {
    display: inline-block;
}

.cal_content_2_banner_m_text_area h1 {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
}

.cal_content_2_banner_m_text_area h1 b {
  color: #fff;
  font-size: 2rem;
}

@media(max-width:1050px) {
  .cal_content_2_banner {
    display: none;
  }

  .cal_content_2_banner_m {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:850px) {
.cal_content_2_wrap_bottom li h3 {
  margin-left:1rem;
}
.cal_content_2_banner_m_left_img_area {
  width:45rem;
}
}
@media(max-width:780px) {
  .cal_content_2_banner_m_text_area h1 b {
    font-size:1.5rem;
  }

}
.cal_content_2_banner_m_2 {
  display:none;
}
@media(max-width:767px) {
  .cal_content_2_banner_m_2 {
    display:block;
    background: url(/assets/images/new_cal/dots.png) no-repeat;
    background-color: #6189d0;
    background-size: 60rem;
    background-position: -22rem 0%;
    margin-top: 3rem;
    border-radius: 0 4rem 0 4rem;
    width: 100%;
    height: 50rem;
    position: relative;
  }
  .cal_content_2_banner_m {
    display:none !important;
  }
  .cal_content_2_banner_m_text_area {display: table;margin: 0 auto;padding-top: 3rem;}
  .cal_content_2_banner_m_text_area h1 {
    font-size:2.5rem;
  }
  .cal_content_2_banner_m_text_area h1 b {
    font-size:2.5rem;
  }
  .cal_content_2_banner_m_text_area span {
    font-size:1.25rem;
    display: block;
    margin-top: 1rem;
    color: #fff;
  }
  .cal_content_2_banner_m_left_img_area {
    display:table;
    margin:0 auto;
    width: 100%;
    background: url(/assets/images/new_cal/new_cal_320_ph.png)no-repeat;
    background-position: right bottom;
    height: 100%;
    background-size: 40rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .cal_content_2_banner_m_left_img_area img {display: none;}
  .cal_content_2_wrap_bottom li {
    border:0;
  }
  .cal_content_2_wrap_bottom {
    width:85%;
  }
  .cal_content_2_wrap_bottom li span {
    width:35%;
  }
  .cal_content_2_wrap_bottom li h3 {
    font-size:1.35rem;
  }
  .cal_content_2_wrap_bottom li:nth-of-type(3) {
    border:0;
  }
  .cal_content_2_wrap_bottom li:nth-of-type(1) {
    border-bottom:1px solid #898989;
  }

  .cal_content_2_wrap_bottom li:nth-of-type(2) {
    border-bottom:1px solid #898989;
  }
}
@media (max-width:500px) {
  .cal_content_2_banner_m_left_img_area img {
    width:400px;
    margin:0 auto;
  }
  .cal_content_2_wrap_bottom li span {
    font-size:1.5rem;
  }
  .cal_content_2_wrap_bottom li h3  {

    font-size:1.25rem;
  }
}
@media (max-width:400px) {
  .cal_content_2_banner_m_left_img_area img {
    width:320px;
    margin:0 auto;
    display: block;
    display: none;
  }

}
