/*font*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

@font-face{
	font-family:'sd-misaeng';
	src:url('/assets/font/sdmisaeng.eot');
	src:url('/assets/font/sdmisaeng.eot?#iefix') format('embedded-opentype'), url('/assets/font/sdmisaeng.woff2') format('woff2'), url('/assets/font/sdmisaeng.woff') format('woff'), url('/assets/font/sdmisaeng.ttf') format('truetype'), url('/assets/font/sdmisaeng.svg#sd-misaeng') format('svg');
	font-weight:normal;
	font-style:normal;
}
.f_misaeng{font-family:'sd-misaeng',sans-serif;}
select::-ms-expand {display:none}
/*reset css*/
*{box-sizing:border-box}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, p, select, blockquote, th, td, img, a {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #000;
}
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'NanumSquare', sans-serif;
*/
html, body{
	font-size:16px;
}
/* 드래그방지
body {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select:none;
}
*/
html, body{width:100%;}
body{overflow-x:hidden !important}
body.modal-open{overflow:hidden;}
html.active{overflow-y:hidden}
body.active_back{overflow-y:hidden}
li{list-style:none}
a{text-decoration:none;color:#333}
a:hover{text-decoration:none}
a:active{text-decoration:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
img{display:block;border:0}
button{background:transparent;border:0;cursor:pointer;outline:none}
input, select, textarea{border:1px solid rgba(0, 0, 0, 0.2);background:#fff;outline:none;text-indent:5px;border-radius:0;}
input[type=password]{font-family:'Arial';}
.clearfix:before,.clearfix:after{content:'';display:table;clear:both;}
.body_cover{position:fixed;top:0;left:0;width:100vw;height:100vh;background:rgba(0,0,0,0.8);display:none;z-index:9998}
.body_cover.active{display:block}
::-webkit-scrollbar{width:11px}
::-webkit-scrollbar-track{background:#efefef;border-radius:5px}
::-webkit-scrollbar-thumb{background-color:#c5c5c5;}
/*hide input number buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*header*/
.header_wra{position:fixed;padding:0 20px;left:0;top:0;z-index:4000;width:100%;height:5em;background:#474246;}
.header_area{max-width:1600px;width:100%;margin:0 auto;height:100%;}
.header_area .logo{margin-top:1.2em;position: absolute; left: 5%;}
.header_area .logo img{width:4.813em;}
.right_menu.after{padding-top:1.5em;position:relative;}
.right_menu{float:right;}
.right_menu.before{padding-top:1.8em;}
.right_menu .bar{margin:0 0.5em;}
.right_menu .bar,.right_menu .mb_btn{display:inline-block;vertical-align:middle;font-size:1em;color:#ffffff;}
.right_menu ul{display:inline-block;vertical-align:middle;}
.right_menu ul li{float:left;position:relative;margin:0 0.6em;}
.right_menu .m_cs img,.right_menu ul li img{display:inline-block;vertical-align:middle;}
.right_menu ul li .m_my{color:#ffb839;font-size:1em;}
.right_menu .m_cs,.right_menu .mb_logout,.right_menu .nick{color:#ffffff;font-size:1em;vertical-align: middle;}
.right_menu .mb_logout{margin: 0 1.2em 0 0em;}
.right_menu .m_cs img{margin-right:0.4em;}
.right_menu li .num_new{display:none;}
.right_menu li.new .num_new{display:block;position:absolute;right:-10px;top:-2px;padding:0 0.45em;font-size:10px;color:#ffffff;background:#f92b3f;border-radius:10px;}
/* .m_menu_wra{float:right;width:60px;height:60px;background:#598ae2;padding:12px;cursor:pointer;display:none;position:relative;z-index:9999} */
/* .m_menu_box{width:100%;height:100%;border:1px solid #fff;border-radius:5px;padding:8px;} */
.m_menu_item{position:relative;width:100%;height:100%;}
.m_menu_item span{position:absolute;width:100%;background:#fff;border-radius:3px;height:1px;left:0;}
.m_menu_item span:nth-child(1){top:0;transition:transform 0.3s;-webkit-transition:transform 0.5s;-ms-transition:transform 0.5s;-moz-transition:transform 0.5s}
.m_menu_item span:nth-child(2){top:50%;margin:-0.5px 0 0}
.m_menu_item span:nth-child(3){bottom:0;transition:transform 0.3s;-webkit-transition:transform 0.5s;-ms-transition:transform 0.5s;-moz-transition:transform 0.5s}
.m_menu_wra.active span:nth-child(1){transform:translateY(8.5px) rotate(45deg);transition:transform 0.3s;-webkit-transition:transform 0.5s;-ms-transition:transform 0.5s;-moz-transition:transform 0.5s}
.m_menu_wra.active span:nth-child(2){display:none}
.m_menu_wra.active span:nth-child(3){transform:translateY(-8.5px) rotate(-45deg);transition:transform 0.3s;-webkit-transition:transform 0.5s;-ms-transition:transform 0.5s;-moz-transition:transform 0.5s}
/* .m_sideMenu_wra{display:none;position:fixed;right:-101%;top:0;max-width:420px;width:100%;height:100%;background:#598ae2;z-index:9998;transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-webkit-transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-moz-transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-ms-transition: right 0.5s cubic-bezier(.89, .02, .12, .97)} */
/* .m_sideMenu_wra.active{right:0;transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-webkit-transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-moz-transition: right 0.5s cubic-bezier(.89, .02, .12, .97);-ms-transition: right 0.5s cubic-bezier(.89, .02, .12, .97)} */
.m_sideMenu_header{height:60px;padding:15px;}
.m_menu_text a {
	font-weight: bold;
}
.m_menu_text {
	background:unset !important;
}


.login_afterBox{float: right}

/*footer */
.footer_wra{padding:1.5em 20px;background: #282327;border-top:1px solid #d8d8d8;}
.footer_area{max-width:1175px;position:relative;width:100%;margin:0 auto;}
.footer_info{line-height:1.8em;color: #fff;font-size:0.750em;display: inline-block;}
.footer_logo{position:absolute;right:0;top:0;z-index: 4;}

/*side menu*/
.side_menu_area{/* position:fixed;left:0;top:15%;z-index:9999;width:20.125em;*/}
.sub_gnb_side{display:none;}
.active.side_menu_area .icon{left:-4.063em;}
.side_menu_area .icon{position:fixed;left:0;top:5em;z-index:9999;cursor:pointer;background:#598ae2;display:block;padding: 0.9em;box-shadow:0 1px 5px rgba(0,0,0,0.3);}
.side_menu_area .icon img{margin:0 auto;}
.title_menu{background:#598ae2;height:4.063rem;line-height:4.063rem;color:#ffffff;font-size:1.125em;padding:0 0 0 0.8em;position:relative;}
.title_menu img{cursor:pointer;right:1em;top:1.2em;position:absolute;}
.gnb_side{padding:0.7em 0.9em;background:#ffffff;}
.gnb_side li{cursor:pointer;}
.gnb_side .menu{padding-bottom: 0;}
.gnb_side .menu p {
	padding: 0.25em 0.3em;
}
.gnb_side .menu .depth1{padding-left:0.3em;border-bottom:1px solid #dddddd;font-weight:700;color:#333333;line-height:2.389em;font-size:1em;background:url("/assets/images/main/arrowsDown_sideMenu.png") center right 1em no-repeat;-webkit-background-size:16px 9px;background-size:16px 9px;}
.gnb_side .menu .depth_one a {
	font-weight: bold;
}
.gnb_side .menu.last .depth1{border-bottom:0;}
.gnb_side .menu.last.open .depth1{border-bottom:1px solid #dddddd;}
.gnb_side .menu.open .depth1{background:url("/assets/images/main/arrowsUp_sideMenu.png") center right 1em no-repeat;-webkit-background-size:16px 9px;background-size:16px 9px;margin-bottom:0.2em;}
.sub_gnb_side .sub_menu a{display:block;font-size:1em;color:#999999;padding:0.5em 0 0.5em 1em;}
.sub_gnb_side .sub_menu.sub2depth.focus a{color:#666666;font-weight:700;padding:0.5em 0 0.3em 1em;}
.sub_gnb_side .sub_menu.focus a{color:#86c5ff;font-weight:700;}
.sub_gnb_side .sub_menu .sub_sub .sub_sub_menu a{color:#999999;font-weight:400;padding:0.5em 0 0.5em 2em;}
.sub_gnb_side .sub_menu .sub_sub .sub_sub_menu.focus a{color:#86c5ff;font-weight:700;}
.side_menu_section{position:fixed;left:-20.125em;top:5em;z-index:9998;width:15.563em;transition:left 0.5s;box-shadow:0 1px 5px rgba(0,0,0,0.3);}
.side_menu_area.active .side_menu_section{left:0;transition:left 0.5s;}
.depth_one {
    padding-left: 0.3em;
    border-bottom: 1px solid #dddddd;
    font-weight: 700;
    color: #333333;
    line-height: 2.389em;
    font-size: 1em;
    -webkit-background-size: 16px 9px;
    background-size: 0;
		padding-left:0.3em;
}

/*modal header*/
.modal_header{display:none;position:absolute;background:#ffffff;box-shadow:0 1px 3px rgba(0,0,0,0.3);border-radius:7px;}
.modal_header.modal_alarm{width:286px;top:3.8em;left:0.8em;}
.modal_header .close_modal{position:absolute;top:0.7em;right:0.7em;cursor:pointer;}
.modal_menu{padding:0.8em 0.7em;}
.modal_menu p{display:inline-block;vertical-align:middle;color:#333333;line-height:1.6em;cursor:pointer;font-size:0.75em;margin-right:1.4em;}
.modal_menu p span{font-weight:800;color:#009aca;}
.modal_menu p.focus{border-bottom:2px solid #009aca;}
.list_alarm{display:none;padding:0 0 1em 0;}
.list_alarm.active{display:block;}
.right_menu .list_alarm ul{display:block;height:23.375em;overflow:auto;}
.right_menu .list_alarm ul::-webkit-scrollbar{width:6px;}
.right_menu .list_alarm ul::-webkit-scrollbar-track{background:#efefef;}
.right_menu .list_alarm ul::-webkit-scrollbar-thumb{background:#23262d;border-radius:3px;}
.right_menu .list_alarm ul::-webkit-scrollbar-thumb:hover{background:#23262d;border-radius:3px;}
.right_menu .list_alarm ul li{padding:0.5em;width:100%;float:none;border-bottom:1px solid #bcbcbc;margin:0;}
.right_menu .list_alarm ul li.item_yet{background:#f4f4f4;}
.right_menu .list_alarm ul li:last-of-type{border-bottom:0;}
.right_menu .list_alarm li .title{font-size:0.875em;color:#333333;margin-bottom:0.8em;font-weight:700;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
.right_menu .list_alarm li .desc{font-size:0.75em;color:#333333;margin-bottom:0.4em;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;}
.right_menu .list_alarm li .date{font-size:0.75em;color:#848484;}
.modal_service_prepare{width:286px;text-align:center;padding:1.6em 0;}
.modal_service_prepare .msg_prepare{color:#333333;font-size:0.875em;line-height:1.6em;}
.modal_service{width:380px;padding:0.8em;}
.modal_title{border-bottom:1px solid #bcbcbc;padding-bottom:0.5em;margin-bottom:1em;}
.modal_title p{padding-left:0.3em;color:#333333;font-size:0.875em;font-weight:700;}
.item_p_service_modal{position:relative;margin-bottom:1.3em;}
.item_p_service_modal:last-of-type{margin-bottom:0;}
.item_p_service_modal p{line-height:1.5em;}
.item_p_service_modal .desc{color:#333333;display:inline-block;font-size:0.875em;}
.item_p_service_modal .title{color:#333333;font-weight:700;}
.item_p_service_modal .etc{color:#666666;font-size:0.875em;}
.item_p_service_modal .desc .color{color:#ffb839;font-weight:700;}
.link_p_service{font-size:0.875em;font-weight:700;width:7.714em;padding:0.6em 0;text-align:center;display:inline-block;margin-left:0.6em;background:#ffb839;}
.link_p_service.done{background:#ffffff;border:1px solid #e2e2e2;}
.link_p_service.history{background:#333333;color:#ffffff;}
.item_p_service_modal .link_group{position:absolute;right:0;top:50%;transform:translate(0,-50%);}
.type2 .item_p_service_modal{margin-bottom:0.7em;}
.type3 .item_p_service_modal:last-child{margin-bottom:0.8em;}
.modal_service_prepare,.modal_service{left:3em;top:3.7em;}
.server_chk_box .title{color:#333333;font-size:1.375em;}

/*error*/
.error_wra{height:100vh;width:100%;padding:5em 20px 0;text-align:center;position:relative;}
.error_wra:after{content:'';display:inline-block;vertical-align:middle;height:100%;}
.error_area{display:inline-block;vertical-align:middle;}
.img_error{margin-right:2.5em;display:inline-block;vertical-align:top;}
.chk_text_box,.text_error{padding-top:1.3em;display:inline-block;vertical-align:top;text-align:left;}
.text_error p{color:#333333;letter-spacing:-1px;}
.error_type{font-weight:800;font-size:1.375em;}
.error_tlt{font-weight:200;font-size:3.750em;line-height:1;margin-bottom:0.7em;}
.error_desc{font-weight:200;font-size:1.375em;line-height:1.45em;}
.link_home{position:absolute;right:8%;bottom:10%;}
.link_home a{color:#ffffff;width:5.409em;height:5.409em;padding-top:2.15em;text-align:center;border-radius:50%;display:inline-block;background:#009aca;font-size:1.375em;}
.chk_text_box p{font-weight:200;letter-spacing:-1px;color:#333333;}
.chk_sub_title{font-size:2.063em;}
.chk_title{font-size:3.750em;margin-bottom:1em;}
.chk_title b{color:#009aca;}
.period_chk{position:relative;display:inline-block;padding:3.5em 0 0.15em;}
.period_chk:after{content:'';width:100%;height:0.5em;position:absolute;bottom:0;left:0;z-index:2;background:rgba(0,154,202,0.2);}
.period_chk p{position:relative;line-height:1;z-index:3;font-weight:200;font-size:1em;}

/*template*/
.template_wra{width:800px;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width:523px;margin:0 auto;padding:20px 0 65px 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size:32px;}
.mail_desc{font-size:16px;line-height:21px;margin-bottom:27px;}
.info_template_section{padding:14px;border:2px solid #009aca;}
.top_info_box{padding:0 10px;margin-bottom:14px;border-bottom:1px solid #d4d5d6;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right:30px;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;}
.leave_mb .top_info_box .input_info{padding:10px 0 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size:14px;}
.top_info_box .input_info .text_info{font-size:16px;margin-bottom:14px;}
.bottom_info_btn{text-align:right;}
.bottom_info_btn a{display:inline-block;line-height:36px;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width:158px;height:36px;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display:inline-block;vertical-align:middle;text-align:left;}
.loading_img{margin-right:3.5em;}

/*coming soon*/
.coming_wra{height:100vh;padding-top:5em;}
.coming_area{background:#d6d6d6;height:100%;}
.coming_top{background:#122736;position:relative;height:56%;}
.section_contents_coming{max-width:1000px;position:relative;width:100%;height:100%;margin:0 auto;}
.coming_text_box{position:absolute;top:43%;right:0;}
.coming_text_box .tlt{font-size:4em;color:#ffffff;margin-bottom:1.5rem;font-weight:800;}
.coming_text_box .desc{font-size:1.750em;color:#ffffff;line-height:1.5em;font-weight:200;}
.coming_img_box{position:absolute;left:0;top:0;}
.coming_img_box p{position:absolute;bottom:15%;left:50%;transform:translate(-50%,0);width:14.063em;height:23.688em;z-index:12;background:url("/assets/images/common/img_serviceYet.png") 0 0 no-repeat;-webkit-background-size:14.063em 23.688em;background-size:14.063em 23.688em;}
.coming_img_box img{position:relative;z-index:1;width:28.625em;opacity:0.2;}
.title_page_alone{color:#ffffff;font-size:1.125em;position:absolute;top:2em;left:15%;}

/*add_alert_popup*/
.not_chk_popup {
	display:none;
	width:22rem;
	background-color:#fff;
	margin:0 auto;
	z-index: 19;
	position: relative;
}
.not_chk_popup .add_pooup_close div {
	background-color:#333333;
}

.not_chk_popup_text {
	font-size:1.25rem;
	padding:4rem 0;
	text-align: center;
}
.not_chk_popup_btn {
	color: #ffffff;
	font-size: 1em;
	background: #009aca;
	padding: 1.2em 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.underline {
	text-decoration: underline !important;
	cursor: pointer;
}
.footer_popop_area {
    margin: 0 auto;
    padding-bottom: 1.25rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 3rem;
}

.footer_popop_area_list {font-size: 0;}

.footer_popop_area_list li {font-size: 0.8rem;color: #fff;display: inline-block;text-align: left;padding-right: 2rem;position: relative;cursor: pointer;font-weight: 400;}

.footer_popop_area_list li:nth-of-type(1) {}
.footer_popop_area_list li:nth-of-type(2) {
    font-weight: 600;
}

.footer_popop_area_list li:nth-of-type(3) {
}

.footer_popop_area_list li:nth-of-type(1):after {
	content:"";
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #fff;
	top: 0.3rem;
	right: 1rem;
}

.footer_popop_area_list li:nth-of-type(2):after {
	content:"";
	position: absolute;
	width: 1px;
	height: 10px;
	background-color: #fff;
	top: 0.3rem;
	right: 1rem;
}

.footer_popop_area_list li:nth-of-type(3):after {
	content:"";
}
.footer_popop_area_list li:hover {
	text-decoration: underline;
}




/***********20200212 추가 ***********/

/*********************************************************************************************************
 Button
 *********************************************************************************************************/
 .btn {
  display:inline-block;
  box-sizing:border-box;
  background-color:transparent;
  text-align:center;
  /* font-weight:bold; */
}
.btn_blue {
  background-color:#598ae2;
  color:#fff;
}
.btn_gray2 {
  background-color:#474246!important;
  color:#fff;
}

/************************************************************************************
Float
*************************************************************************************/
.fl_wrap:after {display:block; /*visibility:hidden;*/ clear:both; content:""}
.fl_left {float:left !important;}
.fl_right {float:right !important;}
.clear {clear:both;font-size:0;height:0;}

.blind {display:none !important;}
.overflow {overflow:hidden !important;}
.bdnone{border:0 !important;}
.bgnone{background:none !important;}
.block{display:block;}
.inline_block{display:inline-block;}
.position_r{position:relative;}
.position_c{margin:0 auto;}


/************************************************************************************
Text
*************************************************************************************/
.text_top {vertical-align:top !important;}
.text_middle {vertical-align:middle !important;}
.text_bottom {vertical-align:bottom !important;}
.text_center {text-align:center !important;}
.text_left {text-align:left !important;}
.text_right {text-align:right !important;}
.indent0 {text-indent:0 !important}
.txt_fff {color:#fff;}
.txt_888 {color:#888;}
.txt_666 {color:#666;}
.txt_000 {color:#000 !important;}
.txt_red{color:#fb102b !important;}
.txt_s12{font-size:12px;}
.txt_s14{font-size:14px;}
.txt_s18{font-size:18px;}
.txt_s24{font-size:24px;}

/************************************************************************************
Margin
*************************************************************************************/
.mg00 {margin:0px !important;}	
.mg01 {margin:1px !important;}	
.mg02 {margin:2px !important;}			
.mg03 {margin:3px !important;}			
.mg05 {margin:5px !important;}			
.mg10 {margin:10px !important;}		
.mg15 {margin:15px !important;}		
.mg20 {margin:20px !important;}		
.mg25 {margin:25px !important;}		
.mg30 {margin:30px !important;}		
.mg40 {margin:40px !important;}		
.mg50 {margin:50px !important;}		

.mt00 {margin-top:0px !important;}		.mb00 {margin-bottom:0px !important;}
.mt02 {margin-top:2px !important;}		.mb02 {margin-bottom:2px !important;}
.mt03 {margin-top:3px !important;}		.mb03 {margin-bottom:3px !important;}
.mt05 {margin-top:5px !important;}		.mb05 {margin-bottom:5px !important;}	
.mt10 {margin-top:10px !important;}		.mb10 {margin-bottom:10px !important;}
.mt15 {margin-top:15px !important;}		.mb15 {margin-bottom:15px !important;}
.mt20 {margin-top:20px !important;}		.mb20 {margin-bottom:20px !important;}
.mt25 {margin-top:25px !important;}		.mb25 {margin-bottom:25px !important;}
.mt30 {margin-top:30px !important;}		.mb30 {margin-bottom:30px !important;}
.mt40 {margin-top:40px !important;}		.mb40 {margin-bottom:40px !important;}
.mt50 {margin-top:50px !important;}		.mb50 {margin-bottom:50px !important;}

.ml00 {margin-left:0px !important;}		.mr00 {margin-right:0px !important;}
.ml02 {margin-left:2px !important;}		.mr02 {margin-right:2px !important;}
.ml03 {margin-left:3px !important;}		.mr03 {margin-right:3px !important;}
.ml05 {margin-left:5px !important;}		.mr05 {margin-right:5px !important;}	
.ml10 {margin-left:10px !important;}		.mr10 {margin-right:10px !important;}
.ml15 {margin-left:15px !important;}		.mr15 {margin-right:15px !important;}
.ml20 {margin-left:20px !important;}		.mr20 {margin-right:20px !important;}
.ml25 {margin-left:25px !important;}		.mr25 {margin-right:25px !important;}
.ml30 {margin-left:30px !important;}		.mr30 {margin-right:30px !important;}
.ml40 {margin-left:40px !important;}		.mr40 {margin-right:40px !important;}
.ml50 {margin-left:50px !important;}		.mr50 {margin-right:50px !important;}



/************************************************************************************
Padding
*************************************************************************************/
.pd00 {padding:0px !important;}
.pd02 {padding:2px !important;}			
.pd03 {padding:3px !important;}			
.pd05 {padding:5px !important;}			
.pd10 {padding:10px !important;}		
.pd15 {padding:15px !important;}		
.pd20 {padding:20px !important;}		
.pd25 {padding:25px !important;}		
.pd30 {padding:30px !important;}		
.pd40 {padding:40px !important;}		
.pd50 {padding:50px !important;}		

.pt00 {padding-top:0px !important;}		.pb00 {padding-bottom:0px !important;}
.pt02 {padding-top:2px !important;}		.pb02 {padding-bottom:2px !important;}
.pt03 {padding-top:3px !important;}		.pb03 {padding-bottom:3px !important;}
.pt05 {padding-top:5px !important;}		.pb05 {padding-bottom:5px !important;}	
.pt10 {padding-top:10px !important;}		.pb10 {padding-bottom:10px !important;}
.pt15 {padding-top:15px !important;}		.pb15 {padding-bottom:15px !important;}
.pt20 {padding-top:20px !important;}		.pb20 {padding-bottom:20px !important;}
.pt25 {padding-top:25px !important;}		.pb25 {padding-bottom:25px !important;}
.pt30 {padding-top:30px !important;}		.pb30 {padding-bottom:30px !important;}
.pt40 {padding-top:40px !important;}		.pb40 {padding-bottom:40px !important;}
.pt50 {padding-top:50px !important;}		.pb50 {padding-bottom:50px !important;}

.pl00 {padding-left:0px !important;}		.pr00 {padding-right:0px !important;}
.pl02 {padding-left:2px !important;}		.pr02 {padding-right:2px !important;}
.pl03 {padding-left:3px !important;}		.pr03 {padding-right:3px !important;}
.pl05 {padding-left:5px !important;}		.pr05 {padding-right:5px !important;}	
.pl10 {padding-left:10px !important;}		.pr10 {padding-right:10px !important;}
.pl15 {padding-left:15px !important;}		.pr15 {padding-right:15px !important;}
.pl20 {padding-left:20px !important;}		.pr20 {padding-right:20px !important;}
.pl25 {padding-left:25px !important;}		.pr25 {padding-right:25px !important;}
.pl30 {padding-left:30px !important;}		.pr30 {padding-right:30px !important;}
.pl40 {padding-left:40px !important;}		.pr40 {padding-right:40px !important;}
.pl50 {padding-left:50px !important;}		.pr50 {padding-right:50px !important;}

/************************************************************************************
Width
*************************************************************************************/
.w5 {width:5%;}
.w10 {width:10%}
.w15 {width:15%}
.w20 {width:20%}
.w25 {width:25%}
.w30 {width:30%}
.w32 {width:32%}
.w33 {width:33%}
.w35 {width:35%}
.w40 {width:40%}
.w45 {width:45%}
.w46 {width:46%}
.w47 {width:47%}
.w48 {width:48%}
.w50 {width:50%}
.w55 {width:55%}
.w58 {width:58%}
.w60 {width:60%}
.w65 {width:65%}
.w68 {width:68%}
.w70 {width:70%}
.w75 {width:75%}
.w80 {width:80%}
.w85 {width:85%}
.w90 {width:90% !important}
.w95 {width:95%}
.w100 {width:100% !important}


/* radio box*/

.inp_radio label {
	display:inline-block;
	line-height:20px;
	margin:0 10px 0 8px;
	vertical-align:middle;
	cursor:pointer;
}
	.inp_radio label::before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:20px;
			height:20px;
			border:1px solid #b3b3b3;
			border-radius:100%;
			box-sizing:border-box;
	}
	.inp_radio input:checked+label::before {
			background-color:#00a2ed;
			border:none;
	}
	.inp_radio input:checked+label::after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:20px;
			height:20px;
			background:url(../../style/images/common/ico_radio.png) no-repeat center;
	}


/*** s:20210303 추가 ***/

	
.btn_appstore, .btn_google{width:205px!important;height:57px!important;font-size: 18px!important;color:#000;line-height: 17px;text-align: left; padding: 10px 27px 10px 70px;}
.btn_appstore span, .btn_google span{display:block;font-size: 12px!important;color: #aaa;}
.btn_appstore span b, .btn_google span b{color:#296dea;}
.btn_appstore{background: url(/assets/images/pre_calculate/ico_appstore.png) no-repeat 20px center;}
.btn_google{background: url(/assets/images/pre_calculate/ico_googleplay.png) no-repeat 20px center;}

/*** 20220310 추가 ***/
/*** KB국민은행 메가셀러론 ***/ 
.btn_kb_mega_qr{
	background: url(/assets/images/pre_calculate/kb_bank_mega_qr.png) no-repeat 20px center;
	background-size: 140px 140px;
	width:180px!important;
	height:160px!important;
}
/*** KB국민은행 매출더하기론 ***/
.btn_kb_sales_qr{
	background: url(/assets/images/pre_calculate/kb_bank_sales_qr.png) no-repeat 20px center;
	background-size: 140px 140px;
	width:180px!important;
	height:160px!important;
}

.btn_kw_qr{
	background: url(/assets/images/pre_calculate/kw_bank_qr.png) no-repeat 20px center;
	background-size: 140px 140px;
	width:180px!important;
	height:160px!important;
}

@media (max-width: 930px){
    .btn_appstore, .btn_google{width:49%!important;padding: 0 0 0 65px;}
}

@media (max-width: 400px){
    .btn_appstore, .btn_google{padding: 0 0 3px 50px;}
	.btn_appstore{background: url(/assets/images/pre_calculate/ico_appstore.png) no-repeat 10px center;}
	.btn_google{background: url(/assets/images/pre_calculate/ico_googleplay.png) no-repeat 10px center;}
}

.btn_blue02{
  background: #5980d0;
  color: #fff;
  width: 12.5rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 3px;
}

/* table */

.table_style01 table {
	position: relative;
	table-layout: fixed;
	border-bottom: 0;
	margin:0 auto;
  }
.table_style01 table tr {
	border-top: 0;
}
.table_style01 table thead th, .table_style01 table tbody th {
	font-size: 1rem;
	font-weight: 700;
	color: #000;
	}
.table_style01 table thead th {
	background: #e0e0e0;
	}
.table_style01 table tbody th {
	background: #FAFAFA;
	}

.table_style01 table tr th,
.table_style01 table tr td {
	border: 1px solid #d7d7d7;
	padding: 0.75rem 1rem;
	box-sizing: border-box;
  }

  
@media (max-width: 930px){
    
	.table_style01 table tr th,
	.table_style01 table tr td {
		padding: 0.75rem .1rem;
	}

}


@media(max-width:400px) {
	.pre_page_con {
	  width: 90%!important;
	}
  }


  

.pop_account .pop_foot button.btn_left, 
.pop_account .pop_foot button.btn_cancle {width: 50%!important;}
.pop_account .pop_foot button.btn_left {border-radius: 0 0 0 10px!important;}
.pop_account .pop_foot button.btn_cancle {border-radius: 0 0 10px 0!important;}

.popup_account.popup_account2 {
    max-width: 750px;
    left: 22%;
}


@media(max-width:960px) {
    
    .popup_account.popup_account2 {
        max-width: 750px;
        left: 50%;
    }

}


/*** e:20210303 추가 ***/

/*** s:20210311 추가 ***/
.scroll_y {
	overflow-y: scroll;
	height: 23rem;
}
.pop_close {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}
/*** e:20210311 추가 ***/

/** 2023.12.06 추가 */
.main_bnr a img{
	margin-bottom: 5px;
}