/*고객센터*/
.cs_wra {
    padding-top: 5em;
    min-height: calc(100vh - 5.625em);
}
.top_cs_banner {
    background: #009aca;
    height: 17.813em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_cs_banner.imgbox {
    margin-right: 3em;
}
.cs_area {
    /*background: #f8f8f8;*/
    padding: 0 20px;
    position: relative;
    max-width: 975px;
    margin: 0 auto;
    width: 100%;
}
.menu_top {
    padding: 3.5em 20px 3.5em;
    width: 1450px;
    margin: 0 auto;
    overflow-x:auto;
}
.menu_top::-webkit-scrollbar{
  display:none;
}
.menu_top .menu_name {
    color: #333333;
    font-weight: 700;
    font-size: 1.125em;
    display: inline-block;
    vertical-align: middle;
}
.gnb_top {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}
.gnb_top li {
    float: left;
    margin-right: 1em;
}
.gnb_top li a {
    color: #aaaaaa;
    font-size: 14px; /* 20200212 추가*/
    display: block;
    width: 10.5em;
    text-align: center;
    padding: 0.5em 0;
}
.gnb_top li.focus {
    border-bottom: 2px solid #2dabe8;
}
.gnb_top li.focus a {
    color: #2dabe8;
    font-weight: 700;
}
.gnb_topBox {
  display:inline-block;
  margin-left: 2rem;
}
.gnb_topBox_clearfix {
    width: 100%;
    overflow-x: auto;
}
.title_bg {
    background: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}
.title_bg .title {
    color: #333333;
    font-weight: 700;
    font-size: 1.750em;
    margin-bottom: 0.3em;
}
.title_bg .desc {
    color: #888888;
    font-size: 1em;
	line-height: 1.5
}
.cs_section {
    max-width: 1020px;
    width: 100%;
    position: relative;
    margin: 0 auto;

}
.gnb_cs {
    overflow: hidden;
}
.gnb_cs li {
    width: 50%;
    float: left;
}
.gnb_cs li a {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 1.375em;
    background: #3c414b;
    line-height: 3.545em;
}
.gnb_cs li.focus a {
    color: #3c414b;
    background: #ffffff;
}
/*faq*/
.cs_section {
    background: #fff;
}
.cs_area section.faq {

    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    padding: 4em 0;
}
.sh_cs {
    display: flex;
    justify-content: center;
}
.sh_cs .sctbox {
    width: 8.333em;
    font-size: 1.125em;
    margin-right: 1em;
}
.sh_cs .sh_box {
    width: 30.625em;
    position: relative;
}
.sh_cs .sh_box .textbox_mb {
    width: 100%;
    font-size: 1.125em;
}
.sh_cs .sh_box button {
    position: absolute;
    right: 0.6em;
    top: 0.2em;
}
.cate_cs {
    padding: 2em 0;
}
.cate_cs li {
    cursor: pointer;
    border: 1px solid #7a7a7a;
    border-right: 0;
    float: left;
    width: 16.6%;
}
.cate_cs li.focus {
    background: #71bddd;
}
.cate_cs li.focus span {
    color: #ffffff;
}
.cate_cs li.last {
    border-right: 1px solid #7a7a7a;
}
.cate_cs li.line2 {
    border-top: 0;
}
.cate_cs li.line2.last {
    cursor: default;
}
.cate_cs li span {
    display: block;
    height: 2.778em;
    text-align: center;
    line-height: 2.778em;
    color: #333333;
    font-size: 1.125em;
}
.faq_question {
    padding: 3em 0 0;
}
.faq_question .title {
    font-size: 1.5em;
    color: #333333;
    border-bottom: 1px solid #231815;
    padding: 0 0 0.3em 0.6em;
}
.faq_a_box,
.faq_q_box {
    padding: 0.6em 0;
    border-bottom: 1px solid #7a7a7a;
}
.faq_a_box {
    display: none;
    background: #f8f8f8;
    padding-left: calc(10.875em + 4px);
}
.faq_q_box.active + .faq_a_box {
    display: block;
}
.faq_q_box .lb {
    padding-left: 1em;
    width: 11rem;
    display: inline-block;
    vertical-align: middle;
}
.faq_q_box .lb span {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #333333;
}
.faq_q_box .a_text,
.faq_q_box .q_text {
    display: inline-block;
    vertical-align: top;
    width: 75%;
}
.faq_a_box  .a_text .icon,
.faq_q_box .q_text .icon {
    display: inline-block;
    vertical-align: top;
    width: 2.8em;
}
.faq_q_box .q_text .icon img {
    /*display: inline-block;*/
}
.faq_a_box .a_text p,
.faq_q_box .q_text p {
    display: inline-block;
    vertical-align: middle;
    width: 88%;
    line-height: 1.5em;
    cursor: pointer;
    padding-right: 2.8em;
    font-size: 1.125em;
    position: relative;
}
.faq_a_box .a_text p {
    padding-right: 0;
}
.faq_q_box .q_text  p img {
    position: absolute;
    right: 1em;
    top: 0.2em;
}
.faq_q_box.active .q_text p img {
    transform: rotate(180deg);
}

/*notice*/
.gnb_my.col3 li {
    width: 33.3%;
}
section.notice {
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
}
.notice_list {
    padding: 3em 0;
}
.notice_list .title {
    font-size: 1.5em;
    padding: 0 0 0.3em 0.5em;
    position: relative;
    border-bottom: 1px solid #231815;
}
.notice_list .title b {
    font-size: 1.25em;
    margin-right: 0.3rem;
}
.title_notice {
    border-bottom: 1px solid #7a7a7a;

    position: relative;
}
.title_notice .text_n {
    cursor: pointer;
    font-size: 1.125em;
    font-weight: 800;
    color: #333333;
    display: block;
    padding: 0.8em;
    width: 70%;
    line-height: 1.5em;
}
.title_notice .text_n img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}
.title_notice .text_n span {
    padding-left: 0.7em;
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    font-weight: 400;
}
.title_notice.active {
    background: #f8f8f8;
}
.notice_info {
    position: absolute;
    top: 1.4em;
    right: 1.5em;
    color: #595757;
    font-size: 0.875em;
    font-weight: 200;
}
.text_detail {
    display: none;
    color: #888888;
    font-size: 1.125em;
    line-height: 1.5em;
    background: #ffffff;
}
.text_detail .imgbox {
    margin: 2em 0 0;
}
.active .text_detail {
    display: block;
    padding: 1.4em 0.9em;
}
.text_detail a {
    color: #71bddd;
    text-decoration: underline;
}
.close_btn_notice {
    margin-top: 2em;
    font-size: 1em;
    color: #888888;
    cursor: pointer;
}
.close_btn_notice img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}
.pagination {
    text-align: center;
    padding: 2em 0 1em;
}
.pagination span {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #474246;
    cursor: pointer;
}
.pagination .arrow {
    width: 1.656em;
    height: 1.656em;
    position: relative;
}
.pagination .arrow img {
    margin: 0 auto;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.pagination .arrow.prev1 img ,
.pagination .arrow.prev2 img {
    transform: translate(-50%,-50%) rotate(180deg);
}
.pagination .page {
    color: #474246;
    font-weight: 700;
    font-size: 0.875em;
    width: 1.893em;
    height: 1.893em;
    line-height: 1.893em;
    text-align: center;
}
.pagination .page.focus {
    color: #ffffff;
    background: #474246;
}
/*파트너사*/
section.partner {
    max-width: 795px;
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
}
.partner_list .title {
    color: #333333;
    font-size: 1.5em;

    padding-bottom: 0.5em;
}
.partner_list ul {
    padding: 1em 0;
    border-bottom: 1px solid #231815;
    border-top: 1px solid #231815;
}
.partner_list li {
    width: 20%;
    float: left;
    border: 1px solid #888;
    border-left: 0;
    border-top: 0;
    height: 3em;
    text-align: center;
}
.partner_list li:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.partner_list li img {
    display: inline-block;
    vertical-align: middle;
}
.partner_list li:nth-child(-n+5) {
    border-top: 1px solid #888;
}
.partner_list li:nth-child(5n+1) {
    border-left: 1px solid #888;
}
/*이벤트*/
section.event {
    padding: 4em 20px;
    padding-bottom: 20px;
    margin-bottom: 2rem;
}
.event_list {
}
.type_event {
    padding: 0 0 0.7em 0.8em;
    border-bottom: 1px solid #231815;
    margin-bottom: 1.4em;
}
.chk_circle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}
.chk_circle + label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-size: 1.25em;
    margin-right: 1em;
}
.chk_circle + label:before {
    content: '';
    background: url("/assets/images/common/chk_off_2.png") 0 0 no-repeat;
    -webkit-background-size: 1.050em 1.050em;
    background-size: 1.050em 1.050em;
    width: 1.050em;
    height: 1.050em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}
.chk_circle:checked + label:before {
    background: url("/assets/images/common/chk_on_2.png") 0 0 no-repeat;
    -webkit-background-size: 1.050em 1.050em;
    background-size: 1.050em 1.050em;
}
.event_list ul {

}
.event_list li {
    height: 12.5em;
    padding-bottom: 1em;
    margin: 0 0 1.2em 0;
    border-bottom: 1px solid #d1d1d1;
}
.event_list li .imgbox {
    float: left;
    overflow: hidden;
    height: 11.5em;
}
.event_list li .imgbox img {
    height: 100%;
    width: 257px;
}
.event_list li .preview_event {
    padding: 1.6em 1em 1em;
    position: relative;
    float: left;
}
.preview_event .name {
    font-weight: 800;
    font-size: 1.125em;
    color: #333333;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    line-height: 1.4em;
    overflow: hidden;
    height: 2.8em;
    -webkit-box-orient:vertical;
    margin-bottom: 0.3em;
    max-width: 22em;
    word-break: break-word;
}
.preview_event .etc_info {
    padding-top: 1.5em;
}
.preview_event .etc_info span {
    display: inline-block;
    vertical-align: middle;
}
.preview_event .etc_info span img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
}
.preview_event .date {
    color: #595757;
    font-weight: 200;
    font-size: 0.875em;
}
.event_list li .detail_btn_event {
    float: right;
    width: 13.125em;
    height: 100%;
    padding: 0.8em 0;
}
.event_list li .detail_btn_event .arrow_btn {
    border-left: 1px solid #d1d1d1;
    height: 100%;
    text-align: center;
}
.event_list li .detail_btn_event .arrow_btn:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.event_list li .detail_btn_event .arrow_btn img {
    display: inline-block;
    vertical-align: middle;
}
section.event .pagination {
    padding: 1em 0 3em;
}
.type_event .back {
    color: #333333;
    font-size: 1.25em;
}
.type_event .back img {
    display: inline-block;
    vertical-align: top;
    margin: -1px 0 0;
}
.title_event_detail {
    font-weight: 800;
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 0.6rem;
}
.etc_event {
    padding-bottom: 1em;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 1.2em;
}
.etc_event .date,
.etc_event .view {
    display: inline-block;
    vertical-align: middle;
    font-weight: 200;
    color: #595757;
    font-size: 0.875em;
}
.etc_event .date {
    margin-right: 1em;
}
.etc_event .view img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
}
.title_big {
    text-align: center;
    padding: 1em 0;
    color: #ffffff;
    line-height: 1.4em;
    background: #333333;
    font-weight: 800;
    font-size: 1.5em;
}
.info_detail_event {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 2.5em 0 1.5em;
}
.section_line_detail {
    border: 1px solid #8e8e8e;
}
.info_detail_event .item_event {
    margin-bottom: 2.3em;
}
.item_event .lb {
    padding-top: 0.15em;
    display: inline-block;
    vertical-align: top;
    font-size: 1.375em;
    font-weight: 800;
    color: #333333;
    width: 6.227em;
}
.item_event .text_e {
    display: inline-block;
    color: #333333;
    vertical-align: top;
    font-size: 1.25em;
    line-height: 1.5em;
}
.link_site {
    text-align: center;
    padding-bottom: 1em;
}
.link_site a {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.375em;
    width: 15.455em;
    height: 3.545em;
    line-height: 3.545em;
    display: inline-block;
    background: #3c414b;
}
/*프리미엄 서비스*/
section.p_service {
    padding: 3em 0 .1em;
}
.p_service_title {
    padding: 0 0.5em 2em;
}
.p_service_contents .title_blue {
    color: #009aca;
    margin-bottom: 1.4em;
    font-weight: 700;
    font-size: 1em;
}
.title_pservice {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 2em;
    text-align: center;
}
.p_service_title .desc {
    line-height: 1.6em;
    padding: 0 0 0 2rem;
    color: #888888;
    font-size: 1em;
}
.type_p_service .lb.lb_line,
.p_service_title .sub_title {
    font-size: 1em;
    color: #888888;
    border-bottom: 1px solid #231815;
    padding: 0 0 0.5rem 2rem;
    font-weight: 700;
    margin-bottom: 0.8em;
}
.type_p_service .lb.lb_line {
    border-color: #c6c6c6;
    display: block;
    padding-left: 0.4em;
    width: 100% ;
}
.p_service_contents {
    padding: 2em 0.5em 2em 2rem;
}
.item_p_service {
    margin-bottom: 2.5em;
}
.item_p_service .icon {
    display: inline-block;
    vertical-align: middle;
    width: 5.125em;
    height: 5.125em;
    margin-right: 1.2em;
    border-radius: 50%;
    background: #ededed;
    text-align: center;
}
.item_p_service .icon:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.item_p_service .icon img {
    display: inline-block;
    vertical-align: middle;
}
.item_p_service .p_text {
    width: calc(100% - 8.125em - 4px);
    display: inline-block;
    vertical-align: middle;
}
.item_p_service .p_text p {
    font-size: 1em;
    line-height: 1.5em;
    color: #888888;
}
.item_p_service .p_text .lb {
    margin-bottom: 0.2em;
    font-weight: 700;
}

/*서비스 신청 및 결제*/
.p_service_apply {
    margin-bottom: 6em;
    overflow: hidden;
}
.p_service_apply .title {
    color: #333333;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #888888;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1.5em;
}
.type_p_service {
    margin-bottom: 1.5em;
}
.type_p_service .lb {
    color: #888888;
    padding-left: 0.4em;
    font-size: 1em;
    font-weight: 700;
    width: 6.750em;
    display: inline-block;
}

.radio_circle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}
.radio_circle + label {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    color: #888888;
    position: relative;
	padding: 0 0 0 20px;
}
.radio_circle + label:before {
    content: '';
  border: 1px solid #d3d3d3;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.radio_circle:checked + label:after {
      content: "";
  background: #009aca;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
}
.item_type_p {
    padding-right: 1em;
    display: inline-block;
    vertical-align: middle;
}
.pay_service {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
}
.item_method_p {
    margin-right: 3em;
}
.pay_contents {
    display: none;
    padding: 1em;
    margin: 1.4em 0 0;
    background: rgba(45,45,45,0.06);
}
.sctbox_light {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #888888;
    font-size: 1em;
    background: url("/assets/images/main/arrowsDown_sideMenu.png") center right 1em no-repeat #ffffff;
    -webkit-background-size: 8px 4px;
    background-size: 8px 4px;
    width: 10.813em;
    height: 1.688em;
    padding-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    border: 0;
}
.pay_contents .card {
    color: #888888;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3em;
}
.p_service_apply .title.title_mb0 {
    margin-bottom: 0;
    font-size: 1em;
    border-color: #898989;
    color: #888888;
    padding-left: 0.4em;
}
.total_price_service {
    padding: 1em 0;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 0.7em;
}
.detail_price_service {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1em;
    padding-bottom: 0.4em;
}
.detail_price_service .total,
.total_price_service .total {
    color: #888888;
    padding-left: 0.5em;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 4.938rem;
}
.detail_price_service .price_p_service,
.total_price_service .price_p_service {
    color: #009aca;
    font-weight: 300;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 4.938rem - 4px);
}
.detail_price_service .price_p_service {
    font-size: 1em;
    color: #888888;
}
.detail_price_service > div {
    margin-bottom: 0.4em;
}
.agree_p_service {
    text-align: center;
    margin-bottom: 0;
}
.agree_p_service label {
    color: #888888;
}
.agree_p_service .msg {
    color: #888888;
    font-size: 1em;
    margin-bottom: 1.2em;
}
.agree_p_service .msg a {
    text-decoration: underline;
}
.btn_right .btn_circle.btn_gray {
    background: #8c979b;
}
.item_use_service {
    overflow: hidden;
    width: 50%;
    float: left;
    border-bottom: 1px solid #ededed;
	display: table;
	min-height: 50px;
}
.item_use_service:nth-of-type(2n-1) {
    border-right: 1px solid #ededed;
}
.item_use_service .col {
    padding: 10px 0 10px 1em;
	  display: table-cell;
	vertical-align: middle;
}
.item_use_service .col.col1 {
    width: 7.15em;
}
.item_use_service .col.col2 {
    width: calc(100% - 7.15em - 4px);
	border-left: 1px solid #ededed;
}
.item_use_service .col p {
    color: #888888;
    font-size: 1em;
    display: inline-block;
    line-height: 1.5;
}
.lb_sale_p {
    color: #ffffff;
    font-size: 0.688em;
    background: #ffd255;
    display: inline-block;
    padding: 0.7em;
}
.item_use_service.item_use100 {
    width: 100%;
    border-right: 0;
}
.p_service_apply .title_use_p {
    color: #888888;
    font-size: 1em;
    border-bottom: 1px solid #231815;
    font-weight: 700;
    padding: 0 0 0.6em 1.8rem;
}
.lb_history {
    color: #ffffff;
    font-size: 0.750em;
    background: #4f4f4f;
    display: inline-block;
    vertical-align: middle;
    padding: 0.6em 1.4em;
    margin-left: 0.4em;
}
/*1:1문의*/
.ask_type {
    display: flex;
    justify-content: space-between;
    padding: 4.5em 3.5em;
}
.type_ask_box {
    display: block;
    text-align: center;
    width: 23.063em;
    position: relative;
    border: 1px solid #3c414b;
    height: 31.438em;
}
.type_ask_box .name {
    color: #3c414b;
    font-size: 2.125em;
    margin-bottom: 0.6em;
}
.type_ask_box .imgbox {
    margin-bottom: 1.8em;
    height: 10.938em;
}
.type_ask_box .imgbox:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.type_ask_box .imgbox img {
    display: inline-block;
    vertical-align: bottom;
}

.type_ask_box .desc {
    color: #888888;
    line-height: 1.5em;
    font-size: 1.125em;
}
.type_ask_box button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1.563em;
    height: 3.6em;
    font-weight: 700;
}
.type_ask_box button.kakao {
    color: #281902;
    background: #ffd72e;
}
.type_ask_box button.kakao img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}
.type_ask_box button.email {
    background: #3c414b;
    color: #ffffff;
}
.p_service_section {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
}
.p_service_section + .btn_right {
    position: static;
    right: 15%;
    bottom: 1%;
    max-width: none;
    width: auto;
}
.p_service_intro_section {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
}
.p_service_complete_section .p_service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
}
.p_service .img_complete {
    margin-right: 3.8em;
}
.p_service .txt_complete .msg {
    font-size: 1.75em;
    color: #333333;
}
.p_service .txt_complete a {
    color: #ffffff;
    font-size: 0.938em;
    background: #009aca;
    width: 12.533em;
    display: inline-block;
    text-align: center;
    margin-top: 1.4em;
    height: 3.2em;
    line-height: 3.2em;
}
.p_service_use_section {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    padding-bottom: 11%;
}
.p_service_use_section + .btn_right {
    max-width: none;
    width: auto;
    position: absolute;
    bottom: 5%;
    right: 13%;
    padding: 0;
}
.event_banner_img {
  width:100%;
}
.notice_logo_area {
}
.owl-item {
    display: inline-block;
}
.owl-stage {}
.owl-stage-outer {}
  .new_owl_slider_1 {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.new_owl_slider_2 {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  position: relative;
}
.owl-item img {
    width: 90px;
    display: block;
    margin: 0 auto;
}
.new_owl_slider_wrap {
    font-size: 0;
    padding: 2rem 0px;
    /* border: 1px solid #d1d1d1; */
    border-right: 0;
    border-left: 0;
    margin: 1rem 0 4rem 0;
    padding-top: 1rem;
    position: relative;
    padding-bottom: 2rem;
}
.owl-nav {position: absolute;top: 45%;width: 100%;left: 0;}
.owl-nav button:nth-of-type(1) {width: 100%;}

.owl-nav button:nth-of-type(2) {
}
.owl-nav button:nth-of-type(1) span {font-size: 0;background: url(/assets/images/notice/notice_prev.png) no-repeat;width: 1rem;height: 1rem;position: absolute;background-size: 1rem;left: 0;background-position: center;}

.owl-nav button:nth-of-type(2) span {font-size: 0;background: url(/assets/images/notice/notice_next.png) no-repeat;width: 1rem;height: 1rem;position: absolute;background-size: 1rem;right: 0;background-position: center;}

.sellerbot-banner .owl-nav {
    top: 0;
    bottom: 0;
    margin-top: 0 !important;
}
.sellerbot-banner .owl-dots {
    display: none;
}
.sellerbot-banner .owl-nav button:nth-of-type(1),
.sellerbot-banner .owl-nav button:nth-of-type(2) {
    width: auto;
}

.sellerbot-banner .owl-nav button:nth-of-type(1) span,
.sellerbot-banner .owl-nav button:nth-of-type(2) span {
    top: 50%;
    margin-top: -12px;
    width: 16px;
    height: 32px;
    background-size: 100% !important;
}
.sellerbot-banner .owl-nav button:nth-of-type(1) span {
    background: url(/assets/images/notice/notice_prev_w.png) no-repeat;
    background-position: center;
    left: 15px;
}

.sellerbot-banner .owl-nav button:nth-of-type(2) span {
    background: url(/assets/images/notice/notice_next_w.png) no-repeat;
    background-position: center;
    right: 15px;
}


/* sellerbot-banner market */
.market_banner_container {
    padding: 0 34px;
}
.sellerbot-banner.market {
    max-width: 816px;
    margin: 0 auto 50px;
}
.sellerbot-banner.market .owl-nav button:nth-of-type(1) span,
.sellerbot-banner.market .owl-nav button:nth-of-type(2) span {
    margin-top: -8px;
    width: 8px;
    height: 16px;
}
.sellerbot-banner.market .owl-nav button:nth-of-type(1) span {
    background: url(/assets/images/notice/notice_prev.png) no-repeat;
    background-position: center;
    left: -16px;
}

.sellerbot-banner.market .owl-nav button:nth-of-type(2) span {
    background: url(/assets/images/notice/notice_next.png) no-repeat;
    background-position: center;
    right: -16px;
}


/* sellerbot-banner vertical */
.sellerbot-banner.vertical .owl-nums {    
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    text-align: center;
    margin-top: 6px;
    color: #fff;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    background: rgba(0,0,0,0.25);
    letter-spacing: 2px;
}
.sellerbot-banner.vertical .owl-nav {
    position: static;
    width: auto;
    float: right;
}
.sellerbot-banner.vertical .owl-nav button:nth-of-type(1),
.sellerbot-banner.vertical .owl-nav button:nth-of-type(2) {
    position: static;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #ddd !important;
    margin: 8px 3px 0 0 !important;
}
.sellerbot-banner.vertical .owl-nav button:nth-of-type(1):hover,
.sellerbot-banner.vertical .owl-nav button:nth-of-type(2):hover {
    background-color: transparent;
    border-color: #777;
}
.sellerbot-banner.vertical .owl-nav button:nth-of-type(1) {
    float: left;
}
.sellerbot-banner.vertical .owl-nav button:nth-of-type(2) {
    float: left;
}

.sellerbot-banner.vertical .owl-nav button:nth-of-type(1) span,
.sellerbot-banner.vertical .owl-nav button:nth-of-type(2) span {
    position: static;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-size: 5px !important;
    vertical-align: top;
}
.sellerbot-banner.vertical .owl-nav button:nth-of-type(1) span {
    background: url(/assets/images/notice/notice_prev.png) no-repeat;
    background-position: center;
}

.sellerbot-banner.vertical .owl-nav button:nth-of-type(2) span {
    background: url(/assets/images/notice/notice_next.png) no-repeat;
    background-position: center;
}


@media screen and (max-width:1400px){
    .sellerbot-banner .owl-nav {
        display: none;
    }

    .sellerbot-banner.market,
    .sellerbot-banner.vertical {
        display: block;
    }
}

.new_owl_slider_num_wrap {
    display: inline-block;
    width: 48%;
    margin-right: 4%;
}
  .new_owl_slider_1_wrap {
}
    .new_owl_slider_2_wrap {
    margin-right: 0;
}
      .new_owl_slider_num_wrap h1 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    /* font-size: 0.625rem; */
    padding-bottom: 2rem;
}
/************** 20220620 추가, 수정 **************/
/* .new_owl_slider_wrap:after {content:"";position: absolute;width: 1px;height: 90%;background-color: #d1d1d1;top: 5%;left: 50%;margin-left: -0.5px;} */


/************** s:20210319 추가, 수정 **************/

/* @media(max-width:1200px) {
  .new_owl_slider_wrap {
    border:0;
  }
  .new_owl_slider_wrap:after {
    display:none;
  }
  .new_owl_slider_num_wrap {
    display:block;
    margin:0 auto;
    width:90%;
  }
  .new_owl_slider_1 {
    width:100%;
  }

  .new_owl_slider_2 {
    width:100%;
  }
  .owl-item img {
    width: 80%;
  }
  .owl-stage-outer {
    width:90%;
    margin:0 auto;

  }
} */



.notice_bnr{width: 100%; float: left;}
.notice_bnr img{width: 100%;}
/* .notice_bnr img{width: 360px; height: 220px;} */
.new_owl_slider_2_wrap{float:right;}

/* .new_owl_slider_wrap{height:175px;} */

@media screen and (max-width:700px){
    .new_owl_slider_wrap:after { display:none;}
    .new_owl_slider_num_wrap {
        display:block;
        margin:0 auto;
        width:90%;
      }
    .new_owl_slider_wrap{height:auto;padding-bottom: 2rem;}
    .new_owl_slider_num_wrap h1{font-size: 0.625rem;}
    .notice_bnr{width: 100%; float: none;}
    .new_owl_slider_2_wrap{float:none;margin-top: 30px;}
}

/************** e:20210319 추가, 수정 **************/