.detail_second_page.remove{width:0;transition: width 0.5s cubic-bezier(.83, .03, .09, .97)}
.detail_wra{display:flex;align-items:flex-start;width:calc(200vw + 700px)}
.detail_first_page{width:700px;height:100vh;height:calc(var(--vh, 1vh) * 100);transition: width 0.5s cubic-bezier(.83, .03, .09, .97)}
.detail_title_section{height:100%;padding:6.875em 5.000em 6.875em 10.625em;display:flex;flex-wrap:wrap;align-content:space-between}
.detail_title_top{width:100%;overflow: hidden}
.detail_page_number{font-size:13px;font-weight:500}
.detail_title_mdd{width:100%;overflow: hidden}
.detail_title{font-weight:bold;font-size:6.250em;line-height:1}
.detail_sub_title{font-size:1.4em;letter-spacing:-1px;font-weight:400;margin:10px 0 0}
.detail_title_bottom{width:100%;overflow: hidden}
.detail_title_bottomBox{margin:0 0 3.125em}
.detail_title_bottomBox:last-child{margin:0}
.detail_bottom_title{color:#8c8c8c;font-weight:bold;font-family:'Montserrat', sans-serif;margin:0 0 15px;font-size:1.25em}
.detail_bottom_text{font-size:1em;margin:0 0 8px}
.detail_bottom_text:last-child{margin:0}
.detail_last_page{width:100vw;overflow-y: scroll;-webkit-overflow-scrolling:touch;height: 100vh}
.detail_last_page::-webkit-scrollbar{display:none}
.detial_cover{position: absolute;left: 0;top: 0;width: 100vw;height: 100vh;background: rgba(255,255,255,0.3);transition: width 0.5s cubic-bezier(.83, .03, .09, .97)}
.detial_cover.remove{width:0;transition: width 0.5s cubic-bezier(.83, .03, .09, .97)}
.detail_first_page.remove{width:0;transition: width 0.5s cubic-bezier(.83, .03, .09, .97)}
.detail_section_1{height:100vh;background:url(/assets/images/portfolio/detail/04/detail_top_bg.png) no-repeat center;background-size:cover;overflow:hidden;padding: 0 20px}
.detail_area{justify-content:space-between;display:flex;align-items:center;max-width:1565px;margin:0 auto;height:100%}
.detail_last_titleBox{width:50%}
.detail_last_title{font-family:'CoreGTE2';font-size:2.5em;color:#fff;margin:0 0 3.000em}
.detail_last_title span{font-family:'CoreGTE4'}
.detail_last_titleText{max-width:322px}
.detail_last_subTitle{font-family:'CoreGTE2';color:#fff;font-size:1.25em;margin:0 0 15px}
.detail_last_subText{font-size:14px;color:#fff;line-height:1.7}
.detail_last_titleImgBox{width:50%}
.detail_last_titleImgBox img{width:100%}
.detail_section_2{background:#eff2f5;height:25.000em;display:flex;align-items:center;justify-content:center;padding:0 20px}
.detail_section_2 img{max-width:300px;width:100%}
.detail_section_3{height:43.750em;display:flex;align-items:center;justify-content:center}
.project_goal_textBox{width:50%}
.project_goal_subText{padding:0 10% 0 40%;font-size:1.25em;font-family:'CoreGTE7';color:#848484}
.project_goal_title{padding:0 10% 0 40%;font-size:3.125em;font-family:'CoreGTE7';color:#2491f7}
.project_goal_line{width:100%;background:#2491f7;height:1px;margin:2.188em 0}
.project_goal_text{padding:0 10% 0 40%}
.project_goal_iconBox{width:50%}
.project_goal_iconItem{display:flex;align-items:center}
.project_goal_iconText{width:23.750em;height:23.750em;display:flex;align-items:center;justify-content:center;border:1px solid #2491f7;border-radius:100%;font-size:1.125em;color:#2491f7;font-family:'CoreGTE7'}
.project_goal_iconText:last-child{transform:translateX(-20%)}
.detail_section_4{height:100vh;background:url(/assets/images/portfolio/detail/04/detail_who_bg.png) no-repeat center;background-size:cover;display:flex;align-items:center}
.project_who_box{max-width:1296px;margin:0 auto;padding:0 20px;height:70%;display:flex;align-items:flex-start;justify-content:space-between}
.project_who_subText{font-family:'CoreGTE7';color:#848484;font-size:1.125em}
.project_who_textArea{width:65%}
.project_who_title{font-size:4em;font-family:'CoreGTE4';margin:0 0 40px}
.project_who_subtitle{font-size:1.25em;font-family:'CoreGTE4';color:#fff;line-height:1.8;display:inline;background:#2491f7;padding:2px;box-shadow:2px 0 0 #2491f7, -2px 0 0 #2491f7}
.project_who_text{font-size:1.25em;line-height:1.7;letter-spacing:-0.7px;margin:40px 0 0}
.detail_section_5{padding:10.000em 0 0}
.wire_frame_titleArea{max-width:1260px;padding:0 20px 10em;margin:0 auto;display:flex}
.wire_frame_titleBox{width:30%}
.wire_frame_title{font-size:3.125em;color:#2491f7;font-family:'CoreGTE7';margin:0 0 5px}
.wire_frame_text{color:#3e3a39;line-height:1.7}
.wire_frame_box{justify-content:space-between;display:flex;align-items:flex-start;width:70%;padding:30px 0 0 50px}
.wire_frame_item{width:33.33%;padding:0 10px 0 0}
.wire_frame_itemTitle{font-family:'CoreGTE4';font-size:1.125em;margin:0 0 20px}
.wire_frame_itemTitle span{display:inline-block;width:25px;height:25px;line-height: 25px;text-align:center;background:#49a3dc;color:#fff;border-radius:100%}
.wire_frame_itemText{font-size:0.95em;line-height:1.7}
.wire_frame_imgArea{max-width:1269px;margin:0 auto}
.wire_frame_imgItemBox img{width:100%}
.wire_frame_imgArea li{display:inline-block;vertical-align:top;width:calc(33.33% - 3px);padding:15px 15px 6.438em}
.wire_frame_imgItemBox{border-radius:10px;overflow:hidden;box-shadow:3px 3px 9px rgba(0,0,0,0.2)}
.wire_frame_imgArea li:nth-child(2){margin:3.438em 0 0}
.wire_frame_imgArea li:nth-child(3){margin:6.250em 0 0}
.wire_frame_imgArea li:nth-child(4){transform:translateY(-6.250em)}
.wire_frame_imgArea li:nth-child(5){transform:translateY(-3.438em)}
.wire_frame_imgArea li:nth-child(7){transform:translateY(-6.250em)}
.wire_frame_imgArea li:nth-child(8){transform:translateY(-3.438em)}
.core_service_topTitleBox{padding:8.750em 0}
.core_service_topTitle{font-size:3.125em;font-family:'CoreGTE7';color:#2491f7;padding:30px 0 0 6.800em;border-top:1px solid #2491f7;display:inline-block}
.core_service_case{position: absolute;top: -14px;left: 50%;z-index: 99;transform: translateX(-50%);width: 24.6%}
.core_service_case img{width:100%}
.core_service_slideWra{position:relative}
.core_service_titleWra{max-width:720px;margin:0 auto 7em;display:flex;align-items:center;justify-content:space-between}
.core_service_titleBox{position:relative;display:inline-block}
.core_service_number{font-family:'CoreGTE4';color:#f7f7f7;font-size:12.500em;position:absolute;line-height:1;transform:translate(0,-49%);left:0;top:0}
.core_service_title{font-family:'CoreGTE4';font-size:2em;position:relative;z-index:1;padding:0 30px 0 2em}
.core_service_text{font-size:0.9em;line-height:1.8;max-width:370px}
.core_service_slideWra .swiper-slide{opacity:0.3;transition:opacity 0.3s}
.core_service_slideWra .swiper-slide img{width: 100%;padding: 0 15px}
.core_service_slideWra .swiper-slide.swiper-slide-active{opacity:1;transition:opacity 0.3s}
.core_service_area1{padding:15.625em 20px 30px;max-width:1530px;margin:0 auto;column-gap:15px;column-width:27.813em;column-count:3}
.core_service_area1 .core_service_titleWra{display:block}
.core_service_area1 .core_service_text{padding:20px 0 0 4.6em}
.core_service_img{margin:0 30px 60px;border-radius:29px;box-shadow:3px 3px 10px rgba(0,0,0,0.2)}
.core_service_img img{width:100%}
.core_service_img:nth-child(4){margin:0 30px 140px}
.core_service_img:nth-child(5) img{max-width:269px}
.core_service_img:nth-child(5){box-shadow:none;border-radius:0}
.core_service_area2{background:url(/assets/images/portfolio/detail/04/core_service_item3_bg.png) no-repeat center;background-size:cover;overflow:hidden;padding:15.625em 20px;text-align:right}
.core_service_area2 .core_service_titleWra{text-align:left;display:inline-block}
.core_service_area2 .core_service_number{opacity: 0.1}
.core_service_area2 .core_service_title{color:#fff}
.core_service_area2 .core_service_text{padding:20px 0 0 4.6em;color:#fff}
.core_service_area2TitleBox{max-width:1070px;margin:0 auto;padding:12.500em 0 0}
.core_service_item{display:flex;align-items:center;justify-content:space-between;overflow:hidden}
.core_service_item:nth-child(3){flex-direction:row-reverse}
.core_service_item:nth-child(3) .core_serviceItem_textBox{text-align: right}
.core_service_item:nth-child(3) .core_serviceItem_title{text-align: right}
.core_service_item:nth-child(3) .core_serviceItem_text{display: inline-block;text-align: left;word-break: break-all}
.core_serviceItem_imgBox{width:70%}
.core_serviceItem_imgBox img{width:80%;margin:0 auto}
.core_serviceItem_textWra{text-align:left;width:40%}
.core_serviceItem_title{font-size:2em;color:#fff;margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid #fff;font-family:'CoreGTE4'}
.core_serviceItem_text{max-width:300px;color:#fff}

.core_service_area3 .core_service_titleWra{text-align:left;display:inline-block}
.core_service_area3 .core_service_text{padding:20px 0 0 4.6em}
.core_service_area3TitleBox{max-width:910px;margin:0 auto;padding:12.500em 0 0}

.core_service_gideItem{margin: 0 0 45px}
.core_service_gideTitle{font-size: 13px;margin: 0 auto 10px;max-width: 742px;font-family: 'CoreGTE4';padding: 0 0 0 30px}
.core_service_gideItem ul{display: flex;align-items: flex-start;margin: 0 auto;width: 49.376em}
.core_service_gideItem:nth-child(2) ul{justify-content: flex-end}
.core_service_gideItem:nth-child(2) .core_service_gideTitle{text-align: right;padding: 0 48px 0 0}
.core_service_gideImg img{width: 24.688em}
.detail_section_6{padding: 0 0 5em}
.core_service_gideItemBox{position: relative}
.core_service_gideItemBox::before{content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 80vw;height:80vw;background: #f7f7f7;border-radius: 100%;z-index: -1}

@media (max-width: 1152px){
	.project_goal_subText{padding: 0 10% 0 20px}
	.project_goal_title{padding: 0 10% 0 20px}
	.project_goal_text{padding: 0 10% 0 20px}
	.project_goal_iconBox{width:100%;padding: 0 20px}
	.project_goal_textBox{width:100%;margin: 0 0 30px}
	.detail_section_3{display: block}
	.detail_section_3{padding: 60px 0;height: auto}
	.project_goal_iconText{width: calc(50vw - 20px);height: calc(50vw - 20px)}
}

@media (max-width: 1024px){
	.wire_frame_titleBox{width:100%}
	.wire_frame_box{padding: 30px 0 0;width:100%}
	.wire_frame_titleArea{display: block}
	.wire_frame_item{padding:0 20px 0 0}
}

@media (max-width: 960px){
	.detail_section_1{height: auto;padding: 60px 20px 0}
	.detail_last_titleImgBox{float: right}
	.detail_area{display: block}
	.detail_last_title{margin: 0 0 1em}
	.detail_section_4{height: auto;padding: 60px 0}
	.project_who_box{display: block}
	.project_who_textArea{width:100%}
	.core_service_titleWra{padding: 0 20px}
	.core_service_topTitle{padding: 20px 0 0 20px}
	.core_service_area2 .core_service_titleWra{display: block;text-align: center}
	.core_service_area2 .core_service_text{padding: 20px 0 0 0;margin: 0 auto}
	.core_service_area3 .core_service_titleWra{display: block;text-align: center}
	.core_service_area3 .core_service_text{padding: 20px 0 0 0;margin: 0 auto}
	
	.core_service_gideTitle{max-width: 100%}
	.core_service_gideItem ul{width: 100%;padding: 0 20px;flex-wrap: wrap}
	.core_service_gideImgBox{width: 50%}
	.core_service_gideImg img{width:100%}
	.core_service_gideItem:nth-child(2) .core_service_gideTitle{text-align: left;padding: 0 20px}
	
	.core_service_case{top: -7px;width: 47%}
	.core_service_gideItem:nth-child(2) ul{justify-content: flex-start}
	
	.detial_cover{background: rgba(255,255,255,0.95);width:100%}
	.detail_second_page{position: absolute;height: 100%;top: 0;left: 0;width: 100% !important}
	.detail_title_section{height: 100% !important;padding: 60px 50px}
	.detail_first_page{width: 100% !important;position: relative;z-index: 1}
	.detail_wra{display: block;overflow-y: scroll;-webkit-overflow-scrolling: touch;height: 100vh;width: 100%}
	.detail_last_page{overflow: hidden;height: auto;position: relative;z-index: 1;background: #fff}
}
@media (max-width: 780px){
	.core_service_img{width: 50%;margin: 0 auto 60px}
	.core_service_img:nth-child(4){margin: 0 auto 60px}
}
@media (max-width: 720px){
	.wire_frame_box{display: block}
	.wire_frame_item{padding: 0;margin: 0 0 30px;width:100%}
	.wire_frame_item:last-child{margin: 0}
	.core_service_titleWra{display: block;text-align: center}
	.core_service_text{margin: 10px auto 0}
	.core_service_item{display: block;margin: 0 0 30px}
	.core_serviceItem_imgBox{width:100%}
	.core_serviceItem_textWra{width:100%}
	.core_service_area2TitleBox{padding: 20.5em 0 0}
	
	.detail_first_page{height: auto;min-height: calc(var(--vh, 1vh) * 100)}
	.detail_title_section{height: auto;min-height: calc(var(--vh, 1vh) * 100)}
	.detail_title_section{padding: 60px 20px}
	
}
@media (max-width: 550px){
	.detail_last_titleBox{width: 100%}
	.detail_section_1{background: #1268e7}
	.detail_last_titleImgBox{width: 100%;margin: 30px 0 0}
	.project_who_title{font-size:3.3em}
	.wire_frame_imgArea li{width: calc(50% - 3px);padding: 15px 15px 3.438em}
	.wire_frame_imgArea li:nth-child(2){margin: 3.438em 0 0}
	.wire_frame_imgArea li:nth-child(3){transform: translateY(-3.25em);margin: 0}
	.wire_frame_imgArea li:nth-child(4){transform: translateY(0)}
	.wire_frame_imgArea li:nth-child(7){transform: translateY(-3.25em)}
	.wire_frame_imgArea li:nth-child(8){transform: translateY(-0.438em)}
	.wire_frame_imgArea li:nth-child(9){transform: translateY(-3.25em)}
	.project_goal_iconText:last-child{transform: translateX(0)}
}