/**
 * 개발자 공통 css
**/
div.input_box p.error{
	display: none;
	color: #FF0000;
}

.d-none{
	display: none;
}
.d-block{
	display: block;
}

.text-center{
	text-align: center!important;
}
.text-left{
	text-align: left!important;
}
.text-right{
	text-align: right!important;
}
.text-blue{
	color: #009ACA;
}
.text-red{
	color: #F4715B;
}

.text-empty{
	cursor: pointer;
    font-size: 1.125em;
    font-weight: 800;
    color: #333333;
    display: block;
    padding: 0.8em;
    width: 100%;
	line-height: 1.5em;
	text-align: center;
	background: gainsboro;
}

li.text-empty{
	height: 2.5em;
}

.sample_img {
    width:100%;
    margin-top:5em;
}

span.alert-email{
	color: #009aca!important;
	font-size: 1.25em!important;
}

@media (min-width: 1680px){
	/* .width-38{
		width: 38em!important;
	} */
	/* .font-size-125{
		font-size: 1.25em!important;
	} */
}

.pointer{
	    cursor: pointer;
}

.ask-file-delete{
    color: #333333;
    font-size: 0.875em;
    width: 5.786em;
    height: 2.214em;
    margin-left: 0.2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    background-color: white;
}

/* input[readonly]{
  background-color:transparent;
  border: 0;
  font-size: 1em;
} */

.disabled {
	background: #dddddd;
}

.width-100{
	width: 100%;	
}

.word-block{ 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}


.new_payment_detail_top_board_list li h1{
	font-size: 0.775rem !important;
  	text-align: right !important;
  	display: block !important;
  	width: 85% !important;
  	margin: 0 auto !important;
  	overflow: hidden !important;
  	text-overflow: ellipsis!important;
}

.new_payment_detail_top_board_content_left_title li h1 {
  font-size: 0.775rem !important;
  text-align: right !important;
  color: #202020 !important;
  width: 50% !important;
  margin: 0 auto !important;
  font-weight: 600 !important;
  overflow: hidden !important;
  	text-overflow: ellipsis!important;
}

@media(max-width:600px) {
  .am_chart_wrap {
    height:200px !important;
  }

}
@media(max-width:500px) {
  .am_chart_wrap {
    height:200px !important;
  }

}
@media(max-width:400px) {
  .am_chart_wrap {
    height:200px !important;
  }

}

td.bg-blue{
	background-color: #e1f0f6;
}

td.bg-karry{
	background-color: #fbddbf;
}

div.tui-grid-body-area{
	background-color: #f8f8f8;
}

.red{
	color: red !important;
}

.warning{
	color: #777777;
}

.main_status p.normal {
    color: #2dabe8 !important;
}
.area_all_payment .status_box span.normal {
    color: #2dabe8 !important;
}
p#filterPass{
	color: #2dabe8 !important;
}

/* 고객선터 정보 숨김처리 */
.cs-info-none{
	display: none !important;
}

.left_background_box{
	background-position: center !important;
}

.pre_page_con_right_btn_2[disabled]{
	background-color: gray !important;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.tui-datepicker{
	border: 1px solid #aaa;
    background-color: white;
    position: absolute;
    z-index: 9999 !important;
}

p.error{
	color: red;
}

div.summary_col div.col.col1{
	width: 17%;
}

div.summary_col div.col.col5{
	width: 30%;
}
li.peer_rank_top_sel_all.peer_rank_top_sel_on{
	background: url("/assets/images/peersale/category_all.png") no-repeat rgb(255, 255, 255);
}

li.peer_rank_top_sel_all{
	background: url("/assets/images/peersale/category_all_on.png") no-repeat rgb(255, 255, 255);
}


.peer_product_list_cir_1 {
  background: url('/assets/images/peersale/category_img_1.png')no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_2 {
  background: url(/assets/images/peersale/category_img_2.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_3 {
  background: url(/assets/images/peersale/category_img_3.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_4 {
  background: url(/assets/images/peersale/category_img_4.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_5 {
  background: url(/assets/images/peersale/category_img_5.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_6 {
  background: url(/assets/images/peersale/category_img_6.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_7 {
  background: url(/assets/images/peersale/category_img_7.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_8 {
  background: url(/assets/images/peersale/category_img_8.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_9 {
  background: url(/assets/images/peersale/category_img_9.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_10 {
  background: url(/assets/images/peersale/category_img_10.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_11 {
  background: url(/assets/images/peersale/category_img_11.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_12 {
  background: url(/assets/images/peersale/category_img_12.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_13 {
  background: url(/assets/images/peersale/category_img_13.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}

.peer_product_list_cir_14 {
  background: url(/assets/images/peersale/category_img_14.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}
.peer_product_list_cir_15 {
  background: url(/assets/images/peersale/category_img_15.png)no-repeat;
  background-position: center center;
  background-color: #fff;
}


/********************************
* 반응형
*********************************/
@media (max-width:750px) {
	.area_all_payment .status_box {
    	width: 17rem !important;
    	text-align: center !important;
	}	
}
@media (min-width:1200px) {
	div.error_modal {
	    position: absolute;
	    background: rgba(0,0,0,0.7);
	    left: 21.5%;
	    margin-left: -13.5rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0.5rem 0;
	    width: 62.5rem;
	}
	div.error_modal.my_error_modal {
	    position: absolute;
	    background: rgba(0,0,0,0.7);
	    left: 22.5%;
	    margin-left: -13.5rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0.5rem 0;
	    width: 60rem;
	}
	
	div.status_my_account{
		text-align: right;
	    margin-bottom: 1em;
	    width: 22rem;
	    display: inline-block;
	    vertical-align: middle;
	    float: right;
	    clear: both;
	}
	
	li.text-left{
		text-align: left !important;
	}
	
	div.text-right{
		text-align: right !important;
	}
	
	div.text-center{
		text-align: center !important;
	}
	div.float-right{
		float: right;
	} 
	div.datepicker-center{
		padding-left: 40%;
	}
	
	.btn-account-excel {
		float:right;
		background-color: #3C414B;
		width: 140px;
		border: 1px solid #888888;
		height: 2.6rem;
		text-align: center;
		line-height: 2.6rem;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		font-size: 1.125em;
		margin-left: 0.3rem;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin-bottom: 5px;
	}
}
@media (max-width: 1119px) and (min-width: 750px) {
	div.datepicker-center{
		padding-left: 37%;
	}
	
	.btn-account-excel {
	  background-color: #3C414B;
	  width: 300px;
	  border: 1px solid #888888;
	  height: 2.6rem;
	  text-align: center;
	  line-height: 2.6rem;
	  color: #fff;
	  font-weight: bold;
	  cursor: pointer;
	  font-size: 1.125em;
	  margin-left: 0.3rem;
	  display: block;
	  vertical-align: middle;
	  padding: 0;
	  margin: 0 auto;
	}
}
@media (max-width: 749px) {
	div.datepicker-center{
		padding-left: 24%;
	}
	.btn-account-excel {
	  background-color: #3C414B;
	  width: 300px;
	  border: 1px solid #888888;
	  height: 2.6rem;
	  text-align: center;
	  line-height: 2.6rem;
	  color: #fff;
	  font-weight: bold;
	  cursor: pointer;
	  font-size: 1.125em;
	  margin-left: 0.3rem;
	  display: block;
	  vertical-align: middle;
	  padding: 0;
	  margin: 0 auto;
	}
}

.jquery-loading-modal__bg{
	left: 0px;
	top: 0px;
}