@charset "UTF-8";

/*popup*/
.new_popup_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 11000;
  display: none; }

.display_none_back {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  display: none; }

.pop_up_1 {
  background-color: #fff;
  max-width: 40rem;
  z-index: 50;
  display: none;
  width: 100%; }

.popup_top_title {
  text-align: left;
  font-size: 1rem;
  background-color: #333333;
  position: relative;
  line-height: 49px;
  height: 49px; }
.popup_top_title h1 {
  text-align: left;
  font-size: 1.25rem;
  width: 90%;
  color: #fff;
  margin: 0 auto;
  font-weight: normal; }

.popup_title_2 {
  font-size: 1.25rem;
  text-align: center;
  padding: 2rem 0; }

.pop_up_text_wrap {
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 23rem;
  border: 1px solid #dbdbdb;
  margin-bottom: 1rem; }
.pop_up_text_wrap h1 {
  font-size: 0.75rem;
  padding: 1rem; }

.add_pooup_close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer; }
.add_pooup_close div {
  background-color: #fff;
  width: 1px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  margin-left: 0.9rem; }
.add_pooup_close div:nth-of-type(1) {
  transform: rotate(-45deg); }