@import "/assets/css/responsive.css?ver=20211122_01";

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(190, 190, 190, 0.16);
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
}
header .top {
  width: 100%;
  height: auto;
  background-color: #3d78ff;
  padding: 5px 0 5px 0;
}
header .top .notification {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top .notification .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top .notification .text i {
  color: white;
  font-size: 14px;
}
header .top .notification .text .notiWrap {
  width: 50%;
  position: relative;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
header .top .notification .text .notiWrap ul {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
header .top .notification .text .notiWrap li {
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.53px;
  color: #fff;
  text-align: center;
  margin: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
header .top .notification button {
  float: right;
  border: none;
  background: none;
  outline: none;
  filter: invert(100%);
  cursor: pointer;
}
header .bottom {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .bottom .logo{
  cursor: pointer;
}
header .bottom .right {
  display: flex;
  align-items: center;
}
header .bottom .right button {
  font-size: 12px;
  letter-spacing: -0.46px;
  color: #202020;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
header .bottom .right button.userId {
  color: #3d78ff;
  padding: 4px 10px 5px 10px;
  box-sizing: border-box;
  border: 1px solid #3d78ff;
  border-radius: 20px;
}
header .bottom .right span {
  width: 1px;
  height: 12px;
  background-color: #202020;
  margin: 0 8px;
  margin-top: 4px;
  display: block;
}
header .bottom .m_menu_wra {
  width: 50px;
  height: 50px;
  padding: 15px 12px;
  cursor: pointer;
  position: relative;
  z-index: 102;
  display: none;
  box-sizing: border-box;
}
header .bottom .m_menu_wra .m_menu_box {
  width: 100%;
  height: 100%;
  position: relative;
}
header .bottom .m_menu_wra .m_menu_box span {
  position: absolute;
  width: 100%;
  background: #202020;
  border-radius: 3px;
  height: 1px;
  left: 0;
  transition: all 0.3s;
}
header .bottom .m_menu_wra .m_menu_box span:nth-child(1) {
  top: 0;
}
header .bottom .m_menu_wra .m_menu_box span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .bottom .m_menu_wra .m_menu_box span:nth-child(3) {
  bottom: 0;
}
header .bottom .m_menu_wra.active .m_menu_box span:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
}
header .bottom .m_menu_wra.active .m_menu_box span:nth-child(2) {
  display: none;
}
header .bottom .m_menu_wra.active .m_menu_box span:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
}
header .bottom .m_sideMenu_wra {
  position: fixed;
  right: -101%;
  top: 0;
  max-width: 420px;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: #598ae2;
  transition: cubic-bezier(0.89, 0.02, 0.12, 0.97) 0.3s;
}
header .bottom .m_sideMenu_wra.active {
  right: 0;
}
header .bottom .m_sideMenu_wra .m_sideMenu {
  padding: 0 0 60px;
  box-sizing: border-box;
}
header .bottom .m_sideMenu_wra .m_sideMenu .m_sideMenu_header {
  height: 80px;
  padding: 30px 15px 15px 15px;
  box-sizing: border-box;
}
header .bottom .m_sideMenu_wra .m_sideMenu .m_sideMenu_footer {
  margin: 15px 0 0;
  height: 60px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
header .bottom .m_sideMenu_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
}
header .bottom .m_sideMenu_cover.active {
  display: block;
}
header.notiClose {
  height: 50px;
  padding: 15px 0;
  box-sizing : initial;
}
header.notiClose .top {
  display: none;
}

footer {
  width: 100%;
  height: auto;
  padding: 37px 0;
  background-color: #f5f5f5;
}
footer .footerWrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footerWrap .left .row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
footer .footerWrap .left .row .footerTerms {
  cursor: pointer;
}
footer .footerWrap .left .row p,
footer .footerWrap .left .row span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.91px;
  color: #474246;
}
footer .footerWrap .left .row span {
  margin: 0 10px;
}
footer .footerWrap .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footerWrap .right img {
  width: 106px;
  height: auto;
  padding: 12px;
  border: 1px solid #202020;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  header .bottom .right.logined {
    display: none;
  }
  header .bottom .m_menu_wra {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  header .top .notification .text i {
    font-size: 14px;
  }
  header .top .notification .text .notiWrap {
    width: 90%;
  }
  header .top .notification .text .notiWrap li {
    font-size: 12px;
    line-height: 20px;
  }
  footer {
    padding: 30px 0;
    padding-bottom: 90px;
  }
  footer .footerWrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footerWrap .left .row {
    justify-content: space-around;
    margin-bottom: 0;
  }
  footer .footerWrap .left .row p.footerTerms {
    margin-bottom: 10px;
  }
  footer .footerWrap .left .row.flexWrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footerWrap .left .row.flexWrap p {
    margin: 0 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  footer .footerWrap .left .row span {
    display: none;
  }
  footer .footerWrap .right {
    display: none;
  }
}

.modal#footer_term_1_modal .popupHead, .modal#footer_term_2_modal .popupHead, .modal#footer_term_3_modal .popupHead {
  width: 95%;
  max-width: 680px;
}
.modal#footer_term_1_modal .popupBody, .modal#footer_term_2_modal .popupBody, .modal#footer_term_3_modal .popupBody {
  width: 95%;
  max-width: 680px;
}
.modal#footer_term_1_modal .popupBody .head, .modal#footer_term_2_modal .popupBody .head, .modal#footer_term_3_modal .popupBody .head {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 34px;
  box-sizing: border-box;
}
.modal#footer_term_1_modal .popupBody .head h5, .modal#footer_term_2_modal .popupBody .head h5, .modal#footer_term_3_modal .popupBody .head h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
  text-align: center;
  color: #22262f;
}
.modal#footer_term_1_modal .popupBody .body, .modal#footer_term_2_modal .popupBody .body, .modal#footer_term_3_modal .popupBody .body {
  width: 100%;
  padding: 30px 34px 20px 34px;
  box-sizing: border-box;
}
.modal#footer_term_1_modal .popupBody .body .textDiv, .modal#footer_term_2_modal .popupBody .body .textDiv, .modal#footer_term_3_modal .popupBody .body .textDiv {
  width: 100%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
.modal#footer_term_1_modal .popupBody .body .textDiv::-webkit-scrollbar, .modal#footer_term_2_modal .popupBody .body .textDiv::-webkit-scrollbar, .modal#footer_term_3_modal .popupBody .body .textDiv::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.modal#footer_term_1_modal .popupBody .body .textDiv::-webkit-scrollbar-track, .modal#footer_term_2_modal .popupBody .body .textDiv::-webkit-scrollbar-track, .modal#footer_term_3_modal .popupBody .body .textDiv::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.modal#footer_term_1_modal .popupBody .body .textDiv::-webkit-scrollbar-thumb, .modal#footer_term_2_modal .popupBody .body .textDiv::-webkit-scrollbar-thumb, .modal#footer_term_3_modal .popupBody .body .textDiv::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.modal#footer_term_1_modal .popupBody .body .textDiv pre, .modal#footer_term_2_modal .popupBody .body .textDiv pre, .modal#footer_term_3_modal .popupBody .body .textDiv pre {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #22262f;
  white-space: pre-line;
}
.modal#footer_term_1_modal .popupBody .body button, .modal#footer_term_2_modal .popupBody .body button, .modal#footer_term_3_modal .popupBody .body button {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #3d78ff;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 200px;
  display: block;
  border: none;
  outline: none;
  padding: 5px 0;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .modal#footer_term_1_modal .popupBody, .modal#footer_term_2_modal .popupBody, .modal#footer_term_3_modal .popupBody {
    width: 95%;
    max-width: 680px;
    overflow: hidden;
  }
  .modal#footer_term_1_modal .popupBody .head, .modal#footer_term_2_modal .popupBody .head, .modal#footer_term_3_modal .popupBody .head {
    padding: 20px 14px;
  }
  .modal#footer_term_1_modal .popupBody .head h5, .modal#footer_term_2_modal .popupBody .head h5, .modal#footer_term_3_modal .popupBody .head h5 {
    font-size: 16px;
  }
  .modal#footer_term_1_modal .popupBody .body, .modal#footer_term_2_modal .popupBody .body, .modal#footer_term_3_modal .popupBody .body {
    width: 100%;
    padding: 30px 14px 20px 14px;
    box-sizing: border-box;
  }
  .modal#footer_term_1_modal .popupBody .body .textDiv, .modal#footer_term_2_modal .popupBody .body .textDiv, .modal#footer_term_3_modal .popupBody .body .textDiv {
    width: 100%;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
  .modal#footer_term_1_modal .popupBody .body .textDiv pre, .modal#footer_term_2_modal .popupBody .body .textDiv pre, .modal#footer_term_3_modal .popupBody .body .textDiv pre {
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 10000001;
  overflow: hidden;
  display: flex;
  padding: 0 30px;
  box-sizing: border-box;
  transform: translate(0%, 0%);
}
.modal .layerPopup {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.modal .layerPopup .popupHead {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}
.modal .layerPopup .popupHead button {
  cursor: pointer;
  border: none;
  background: none;
}
.modal .layerPopup .popupHead button span {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1.12px;
  text-align: left;
  color: #fff;
}
.modal .layerPopup .popupBody {
  width: 100%;
  height: auto;
  background-color: white; 
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal .layerPopup .popupBody::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.modal .layerPopup .popupBody::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.modal .layerPopup .popupBody::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.modal .layerPopup .popupBody h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.92px;
  text-align: center;
  color: #202020;
}
.modal .layerPopup .btnBox {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal .layerPopup .btnBox button {
  width: 100%;
  outline: none;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.12px;
  text-align: center;
  color: #2e1e00;
}

html {
  letter-spacing: -0.98px;
}

/*side menu*/
.sub_gnb_side{display:none;}
.active.side_menu_area .icon{left:-4.063em;}
.side_menu_area .icon{position:fixed;left:0;top:5em;z-index:9999;cursor:pointer;background:#598ae2;display:block;padding: 0.9em;box-shadow:0 1px 5px rgba(0,0,0,0.3);}
.side_menu_area .icon img{margin:0 auto;}
.title_menu{background:#598ae2;height:4.063rem;line-height:4.063rem;color:#ffffff;font-size:1.125em;padding:0 0 0 0.8em;position:relative;}
.title_menu img{cursor:pointer;right:1em;top:1.2em;position:absolute;}
.gnb_side{padding:0.7em 0.9em;background:#ffffff;}
.gnb_side li{cursor:pointer;}
.gnb_side .menu{padding-bottom: 0;}
.gnb_side .menu p {
	padding: 0.25em 0.3em;
}
.gnb_side .menu .depth1{padding-left:0.3em;border-bottom:1px solid #dddddd;font-weight:700;color:#333333;line-height:2.389em;font-size:1em;background:url("/assets/images/main/arrowsDown_sideMenu.png") center right 1em no-repeat;-webkit-background-size:16px 9px;background-size:16px 9px;}
.gnb_side .menu .depth_one a {
	font-weight: bold;
}
.gnb_side .menu.last .depth1{border-bottom:0;}
.gnb_side .menu.last.open .depth1{border-bottom:1px solid #dddddd;}
.gnb_side .menu.open .depth1{background:url("/assets/images/main/arrowsUp_sideMenu.png") center right 1em no-repeat;-webkit-background-size:16px 9px;background-size:16px 9px;margin-bottom:0.2em;}
.sub_gnb_side .sub_menu a{display:block;font-size:1em;color:#999999;padding:0.5em 0 0.5em 1em;}
.sub_gnb_side .sub_menu.sub2depth.focus a{color:#666666;font-weight:700;padding:0.5em 0 0.3em 1em;}
.sub_gnb_side .sub_menu.focus a{color:#86c5ff;font-weight:700;}
.sub_gnb_side .sub_menu .sub_sub .sub_sub_menu a{color:#999999;font-weight:400;padding:0.5em 0 0.5em 2em;}
.sub_gnb_side .sub_menu .sub_sub .sub_sub_menu.focus a{color:#86c5ff;font-weight:700;}
.side_menu_section{position:fixed;left:-20.125em;top:5em;z-index:9998;width:15.563em;transition:left 0.5s;box-shadow:0 1px 5px rgba(0,0,0,0.3);}
.side_menu_area.active .side_menu_section{left:0;transition:left 0.5s;}
.depth_one {
    padding-left: 0.3em;
    border-bottom: 1px solid #dddddd;
    font-weight: 700;
    color: #333333;
    line-height: 2.389em;
    font-size: 1em;
    -webkit-background-size: 16px 9px;
    background-size: 0;
		padding-left:0.3em;
}