html,
body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    color: #fff;
    margin: 0;
    padding: 0;
}

.main_slider .swiper-wrapper {
    height: 100vh;
}

.main_slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-pagination_intro.last .swiper-pagination-bullet {
    background: #999;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.sw_bg_1 {
    background: url(/assets/images/intro/bg_img01.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_1_time_1 {
    background-size: cover !important;
    background-position: center center !important;
}

.sw_bg_1_time_2 {
    background-size: cover !important;
    background-position: center center !important;
}

.sw_bg_1_time_3 {
    background-size: cover !important;
    background-position: center center !important;
}

.sw_bg_2 {
    background: url(/assets/images/intro/bg_img02.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_3 {
    background: url(/assets/images/intro/bg_img03.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_2 {}

.sw_bg_3 {}

.sw_bg_4 {}

.sw_bg_5 {}

.sw_bg_6 {}

.sw_bg_7 {
    width: 100%;
    height: 100vh;
    z-index: 4;
    position: relative;
}

.intro_header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5rem;
    z-index: 6;
    max-width: 1200px;
    left: 50%;
    margin-left: -600px;
}

.intro_header_logo {
    max-width: 127px;
    width: 8rem;
    margin-top: 2rem;
    float: left;
}

.intro_header_logo img {
    width: 100%;
}

.intro_header_login {
    float: right;
    margin-top: 3rem;
}

.intro_header_login_wrap {}

.intro_header_login_wrap li {
    display: inline-block;
    margin-right: 3rem;
}

.intro_header_login_wrap li a {
    color: #fff;
    font-size: 1.5rem;
}

.intro_header_login_wrap li:nth-of-type(1) {}

.intro_header_login_wrap li:nth-of-type(2) {
    margin-right: 0;
}

.slider_text_area {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.intro_blue {
    color: #4AA5ED;
}

.slider_text_area h1 {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5.5rem;
}

.slider_text_area h2 {
    color: #fff;
    text-align: left;
    margin-top: 4rem;
    line-height: 2.5rem;
}

.sns_icons {
    position: absolute;
    left: 0px;
    bottom: -10rem;
}

.sns_icons li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.7rem;
    opacity: 0.5;
}

.sns_icons li:nth-of-type(1) {
    display: none;
}

.sns_icons li:nth-of-type(2) {}

.sns_icons li:nth-of-type(3) {}

.sns_icons li:nth-of-type(4) {}

.sns_icons li:nth-of-type(5) {}

.sns_icons li:nth-of-type(5) a {
    background: url(/assets/images/intro/sns_icon_5.png) no-repeat;
    background-size: 32px 32px;
}

.sns_icons li:hover {
    opacity: 1
}

.sns_icons li a {
    display: block;
    width: 100%;
    height: 100%;
}

.sns_icons li:nth-of-type(1) a {
    background: url(/assets/images/intro/sns_icon_1.png) no-repeat;
}

.sns_icons li:nth-of-type(2) a {
    background: url(/assets/images/intro/sns_icon_2.png) no-repeat;
}

.sns_icons li:nth-of-type(3) a {
    background: url(/assets/images/intro/sns_icon_3.png) no-repeat;
}

.sns_icons li:nth-of-type(4) a {
    background: url(/assets/images/intro/sns_icon_4.png) no-repeat;
}

.intro_use {
    position: absolute;
    right: 0px;
    color: #fff;
    font-family: 'sd-misaeng';
    font-size: 4.5rem;
    bottom: -10rem;
}

html,
body {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper-wrapper {
    height: 100vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main_slider>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.sw_bg_1 {
    background: url(/assets/images/intro/bg_img01.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_2 {
    background: url(/assets/images/intro/bg_img02.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_3 {
    background: url(/assets/images/intro/bg_img03.png)no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw_bg_2 {
    background-color: #120E4A !important;
}

.sw_bg_3 {}

.sw_bg_4 {
    background-color: #120E4A !important;
}

.sw_bg_5 {
    background-color: #120E4A !important;
}

.sw_bg_6 {
    background-color: #120E4A !important;
}

.sw_bg_7,
.sw_bg_8 {
    position: relative;
}

.intro_header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 5rem;
    z-index: 6;
    max-width: 1200px;
    left: 50%;
    margin-left: -600px;
}

.intro_header_logo {
    max-width: 127px;
    width: 8rem;
    margin-top: 2rem;
    float: left;
}

.intro_header_logo img {
    width: 100%;
}

.intro_header_login {
    float: right;
    margin-top: 3rem;
}

.intro_header_login_wrap {}

.intro_header_login_wrap li {
    display: inline-block;
    margin-right: 3rem;
}

.intro_header_login_wrap li a {
    color: #fff;
    font-size: 1.5rem;
}

.intro_header_login_wrap li:nth-of-type(1) {}

.intro_header_login_wrap li:nth-of-type(2) {
    margin-right: 0;
}

.slider_text_area {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.intro_blue {
    color: #4AA5ED;
}

.slider_text_area h1 {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5.5rem;
    position: relative;
}

.slider_text_area h2 {
    color: #fff;
    text-align: left;
    margin-top: 4rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -1px;
}

.sns_icons {
    position: absolute;
    bottom: 1rem;
    z-index: 6;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    text-align: left;
}

.sns_icons li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 0.7rem;
    opacity: 0.5;
}

.sns_icons li:hover {
    opacity: 1
}

.sns_icons li a {
    display: block;
    width: 100%;
    height: 100%;
}

.sns_icons li:nth-of-type(1) a {
    background: url(/assets/images/intro/sns_icon_1.png) no-repeat;
}

.sns_icons li:nth-of-type(2) a {
    background: url(/assets/images/intro/sns_icon_2.png) no-repeat;
}

.sns_icons li:nth-of-type(3) a {
    background: url(/assets/images/intro/sns_icon_3.png) no-repeat;
}

.sns_icons li:nth-of-type(4) a {
    background: url(/assets/images/intro/sns_icon_4.png) no-repeat;
}

.intro_use {
    position: absolute;
    right: 0px;
    color: #fff;
    font-family: 'sd-misaeng';
    font-size: 4.5rem;
    bottom: -10rem;
    cursor: pointer;
    z-index: 7;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    left: 4rem;
    right: inherit;
}

.intro_use:before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 9rem;
    background-color: #fff;
    top: -110px;
    background: url(/assets/images/intro/intro_pigtail.png) no-repeat;
    left: -7rem;
    min-width: 153px;
    display: none;
}

.swiper-pagination-bullet-active {
    background-color: #4AA5ED !important;
    position: relative;
    opacity: 1;
}

.swiper-pagination-bullet-active:after {
    content: "";
    position: absolute;
    border: 1px solid #4AA5ED;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    left: -6px;
    top: -6px;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 15px 0;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.7;
    width: 5px;
    height: 5px;
}

.intro_header_login_wrap:nth-of-type(1):before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #fff;
    height: 1.2rem;
    right: 4.5rem;
    top: 3.7rem;
}

.intro_header_login_wrap_last_page:before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #333333 !important;
    height: 1.2rem;
    right: 4.5rem;
    top: 3.7rem;
}

.intro_header_logo a {}

.intro_hand {
    position: absolute;
    bottom: 0px;
    width: 30rem;
    left: 50%;
    margin-left: -7rem;
}

.intro_hand img {
    width: 100%;
}

.intro_mall_pc {
    position: relative;
    width: 56rem;
    left: -1%;
    margin-left: 31rem;
}

.intro_mall_mo {
    display: none;
    position: relative;
    width: 100%;
    bottom: -24%;
}

.intro_mall_pc img,
.intro_mall_mo img {
    width: 100%;
}

.intro_pre {
    color: #fff;
    font-family: 'sd-misaeng';
    font-size: 2.5rem;
    position: absolute;
    left: 21rem;
    top: 2rem;
    cursor: pointer;
}

.intro_pre:after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 9rem;
    background-color: #fff;
    top: -90px;
    background: url(/assets/images/intro/intro_pigtail_2.png) no-repeat;
    left: 6rem;
    min-width: 153px;
    display: none;
}

.pre_use_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10;
}

.middle_box {
    width: 100%;
    background-color: #fff;
    height: 25rem;
    position: absolute;
    top: 50%;
    margin-top: -14rem;
}

.pre_use_popup_close {
    position: absolute;
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    top: -4.5rem;
    cursor: pointer;
    right: 0px;
}

.pre_use_popup_close div {
    width: 1px;
    height: 2rem;
    background-color: #0088B8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5px;
    transform: rotate(45deg);
    margin-top: -1rem;
}

.pre_use_popup_close div:nth-of-type(1) {}

.pre_use_popup_close div:nth-of-type(2) {
    transform: rotate(-45deg);
}

.middle_box_con {
    text-align: center;
}

.middle_box_img {
    max-width: 350px;
    width: 22rem;
    margin-top: -7.5rem;
    margin-left: 11rem;
    display: inline-block;
    float: left;
}

.middle_box_img img {
    width: 100%;
    box-shadow: 0 0 59px -12px #555555;
    border-radius: 1.8rem;
}

.middle_box_text_1 {
    display: block;
    padding-top: 4rem;
}

.middle_box_text_1 h1 {
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #3E3A39;
    letter-spacing: -2px;
}

.middle_box_blue {
    font-weight: normal;
    color: #4AA5ED;
}

.middle_box_text_2 {
    display: block;
    padding-top: 1rem;
}

.middle_box_text_2 h1 {
    text-align: left;
    font-size: 1rem;
    color: #666666;
    line-height: 1.7rem;
}

.ph_input_wrap {
    width: 24rem;
    height: 4rem;
    border-radius: 2rem;
    border: 1px solid #eaeaea;
    margin-top: 2rem;
}

.middle_box_ph {
    border: 0px;
    width: 70%;
    height: 100%;
    font-size: 1rem;
}

.submit_ph {
    background: url("/assets/images/intro/intro_submit.png") no-repeat;
    float: right;
    width: 4rem;
    height: 100%;
    background-position: center;
    cursor: pointer;
    border-radius: 100%;
}

.middle_box_con_wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.middle_box_right_con {
    float: left;
    margin-left: 4rem;
}

.popup_display_none {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    /* display: none; */
}

.sw_bg_1 .slider_text_area:before,
.sw_bg_3 .slider_text_area:before,
.sw_bg_4 .slider_text_area:before,
.sw_bg_5 .slider_text_area:before {
    content: "";
    position: absolute;
    background: url(/assets/images/intro/intro_line.png)no-repeat;
    width: 20rem;
    height: 1rem;
    top: 10rem;
    left: 0px;
}

.sw_bg_2 .slider_text_area:before {
    content: "";
    position: absolute;
    background: url(/assets/images/intro/intro_line.png)no-repeat;
    width: 11rem;
    height: 1rem;
    top: 10rem;
    left: 0px;
}

.sw_bg_5.type_2 .slider_text_area:before {
    width: 24.5rem;
    background-size: 100% auto;
}

.sw_bg_6 .slider_text_area:before {
    content: "";
    position: absolute;
    background: url(/assets/images/intro/circles.png)no-repeat;
    width: 15rem;
    height: 13rem;
    top: 8.5rem;
    left: -3.5rem;
    background-size: 14rem;
}

.sw_bg_7 .intro_use {
    color: #333333;
    bottom: 8rem;
}

.intro_vid_area {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.intro_vid_area li {
    width: 49%;
    height: 20rem;
    background-color: #333333;
    float: left;
}

.intro_vid_area li:nth-of-type(1) {
    margin-right: 2%;
}

.intro_vid_area li:nth-of-type(2) {}

.slider_text_area {
    position: absolute;
    top: 13rem;
    height: 30rem;
    top: 50%;
    margin-top: 0;
    margin-top: -17rem;
    margin-left: -600px;
    left: 50%;
}

.sw_bg_7 .slider_text_area {
    height: 100vh;
    max-width: 1200px !important;
    left: 50%;
    margin-left: -600px;
    top: 0;
    padding-top: 13rem;
}

.intro_info_area {
    width: 100%;
    max-width: 1200px;
}

.intro_info_area li {
    display: inline-block;
    width: 17rem;
    float: left;
    margin-right: 2rem;
    margin-top: 6rem;
}

.intro_info_area li:nth-of-type(1) {
    border-top: 2px solid #4AA5ED;
}

.intro_info_area li:nth-of-type(2) {
    border-top: 2px solid #8F65FD;
}

.intro_info_area li:nth-of-type(3) {
    border-top: 2px solid #2EAE22;
}

.intro_info_area li h1 {
    color: #333333;
    font-size: 0.875em;
    line-height: 1.7;
    padding-top: 1rem;
}

.sw_bg_7 .sns_icons li:nth-of-type(1) a {
    background: url(/assets/images/intro/sns_icon_c_1.png) no-repeat !important;
}

.sw_bg_7 .sns_icons li:nth-of-type(2) a {
    background: url(/assets/images/intro/sns_icon_c_2.png) no-repeat !important;
}

.sw_bg_7 .sns_icons li:nth-of-type(3) a {
    background: url(/assets/images/intro/sns_icon_c_3.png) no-repeat !important;
}

.sw_bg_7 .sns_icons li:nth-of-type(4) a {
    background: url(/assets/images/intro/sns_icon_c_4.png) no-repeat !important;
}

.intro_copy {
    position: absolute;
    color: #333333;
    font-size: 0.75em;
    left: 0px;
    bottom: 1.5rem;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    text-align: left;
}

.sw_bg_7 .sns_icons {}

.slider_text_area_margin {
    margin-top: 0 !important;
}

.intro_video_area {
    width: 100%;
    text-align: left;
}

.intro_video {
    width: 46%;
    display: inline-block;
}

.intro_vid_area_1 {
    margin-right: 2rem;
}

.intro_vid_area_2 {}

.intro_pigtail_1 {
    position: absolute;
    top: -8rem;
    left: -5rem;
}

.st0 {
    fill: none;
    stroke: #4AA5ED;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    opacity: 1;
    display: none;
}

.st1 {
    fill: none;
    stroke: #4AA5ED;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 300;
    display: none;
}

.st1_animate {
    animation: draw_2 0.9s linear forwards;
    display: block !important;
}

.st0 {
    stroke-dasharray: 500;
    display: none;
}

.st0_animate {
    animation: draw 0.7s linear forwards;
    display: block !important;
}

.st3 {
    fill: none;
    stroke: #2EAE22;
    stroke-width: 2.88;
    stroke-miterlimit: 10;
    display: none;
    stroke-dasharray: 500;
}

.st4 {
    fill: none;
    stroke: #2EAE22;
    stroke-width: 2.88;
    stroke-miterlimit: 10;
    display: none;
    stroke-dasharray: 300;
}

.svg_pre_icon {
    position: absolute;
    top: -5rem;
    right: -5rem;
}

.intro_pigtail_1 {}

.intro_video_wrap {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 30rem;
    margin-top: 4rem;
}

@keyframes draw {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes draw_2 {
    from {
        stroke-dashoffset: 300;
    }
    to {
        stroke-dashoffset: 600;
    }
}


/*intro_swiper_paging*/

@media (max-width:700px) {
    .swiper-pagination_intro {
        display: none !important;
    }
    .intro_video {
        width: 46%;
        display: inline-block;
    }
    .intro_vid_area_1 {
        margin-right: 0;
    }
    .intro_vid_area_2 {}
}

@media (max-width:750px) {
    .intro_video_area {
        display: none;
    }
    .intro_video_area_m {
        display: block !important;
    }
    .intro_video_m_1 {
        width: 100%;
    }
    .intro_video_m_2 {
        width: 100%;
    }
}

.video_1 {
    display: block;
    width: 30rem;
}

@media (max-width:500px) {
    .video_1 {
        display: block;
        width: 22rem;
        margin: 0 auto;
    }
    .intro_video_wrap {
        height: 22rem;
    }
    .sw_bg_7 .slider_text_area {
        top: 0rem !important;
    }
}

.bg_fix_footer_wrap {
    background-color: #f00;
    position: fixed;
}

.sw_bg_6_wrap {}

.intro_footer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width:1200px) {
    .slider_text_area {
        position: absolute;
        top: 13rem;
        height: 30rem;
        top: 50%;
        margin-top: 0;
        margin-top: -17rem;
        margin-left: -600px;
        left: 50%;
        left: 0;
        margin-left: 0;
        width: 84%;
        margin-left: 8%;
    }
}

@media (max-width:750px) {
    .intro_pigtail_1 {
        top: -5rem;
    }
}

.ph_input_alert_1 {
    text-align: left;
    font-size: 1rem;
    color: #4AA5ED;
    margin-top: 0.5rem;
}

.ph_input_alert_2 {
    text-align: left;
    font-size: 1rem;
    color: #ea0a0a;
    margin-top: 0.5rem;
}

@media(max-width:1200px) {
    .sw_bg_7 .slider_text_area {
        width: 766px;
        left: 50%;
        margin-left: -383px;
    }
    .sw_bg_7 .intro_use {
        right: -7rem;
    }
}

@media(max-width:950px) {
    .sw_bg_7 .slider_text_area {
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }
    .intro_info_area li {
        width: 12.5rem;
    }
    .intro_info_area li:nth-of-type(3) {
        margin-right: 0;
    }
    .sw_bg_7 .intro_use {
        font-size: 2.5rem;
        position: fixed;
        right: 2rem;
        bottom: 2rem !important;
    }
    .sw_bg_7 .intro_pigtail_1 {
        top: -5rem;
    }
    .intro_info_area li h1 {
        font-size: 1rem;
    }
    .intro_video_wrap {
        height: 25rem;
    }
    .case_2 {
        height: 10.5rem !important;
        margin-top: 11rem;
    }
}

.case_2_vid_1 {
    margin-right: 2%;
}

.case_2_vid_2 {}

.case_2 {
    height: 19.5rem;
}

.sw_bg_8 {
    display: none;
}

@media(max-width: 530px) {
    .sw_bg_8 {
        display: block;
    }
    .sw_bg_7 .intro_info_area {
        display: none;
    }
    .case_2_vid_1 {
        margin-right: 0;
        display: block;
        width: 100%;
        height: 17rem;
        margin: 0 auto;
    }
    .case_2_vid_2 {
        margin-right: 0;
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
        width: 100%;
        height: 17rem;
    }
    .sw_bg_7 .slider_text_area {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .slider_text_area {
        position: absolute;
        left: 0;
        width: 90%;
        margin: 0 auto;
        left: 5%;
        top: 50%;
        top: 0;
        margin-top: 7rem;
    }
    .intro_mall_mo {
        display: none;
        position: relative;
        width: 100%;
        bottom: -21%;
    }
    .sw_bg_8 .slider_text_area {
        padding-top: 11rem;
    }
}

.sw_bg_4 .intro_use {}

@media (max-width:950px) {
    .sw_bg_4 .intro_use {
        bottom: -8rem !important;
        right: -2rem !important;
    }
}

@media (max-width:1100px) {
    .sw_bg_4 .intro_use {
        bottom: -6rem !important;
        right: -2rem !important;
    }
}