@keyframes dash_ani{
	0% {
		stroke-dashoffset:1000;	
		stroke-width:0;
		opacity: 0
	}
	50%{
		opacity: 1;
	}
	70%{
		opacity: 1;
		stroke-width:32
	}
	100%{
		stroke-dashoffset:0;		
	}
}
@keyframes dashBox_ani{
	0% {
		width:0
	}
	100%{
		width:100%
	}
}
@keyframes opacity0100{
	0% {
		opacity:0
	}
	100%{
		opacity:1
	}
}
@keyframes dispaly_opacity{
	0% {
		opacity: 0
	}
	100%{
		opacity:1
	}
}
@keyframes down_icon{
	0% {
		transform: translateY(-1px);
	}
	25% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(1px);
	}
	75% {
		transform: translateY(0px);
	}
	100%{
		  transform: translateY(-1px);
	}
}
@keyframes right_icon{
	0% {
		transform: translateX(-2px);
	}
	25% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(2px);
	}
	75% {
		transform: translateX(0px);
	}
	100%{
		  transform: translateX(-2px);
	}
}
@keyframes menu_open_ani{
	0%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			1, 0, 0, 0, 
			0, 1, 0, 0, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
		animation-timing-function: cubic-bezier(.42, 0, .85, .02);
	}
	50%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.625, -0.1, 0, 0, 
			0, 0.625, 0, 0.001, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
		animation-timing-function: cubic-bezier(0, .96, 0, 1);
	}
	75%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.5, 0.01, 0, 0, 
			0, 0.5, 0, -0.0001, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
	}
	100%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.5, 0, 0, 0, 
			0, 0.5, 0, 0, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
	}
}

@keyframes menu_close_ani{
	0%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.5, 0, 0, 0, 
			0, 0.5, 0, 0, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
	}
	25%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.5, 0.01, 0, 0, 
			0, 0.5, 0, -0.0001, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
		animation-timing-function: cubic-bezier(.42, 0, .85, .02);
		
	}
	50%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			0.625, -0.1, 0, 0, 
			0, 0.625, 0, 0.001, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
		animation-timing-function: cubic-bezier(0, .96, 0, 1);
	}
	100%{
		transform:
		 translate(-50%,-50%) 
		 matrix3d(
			1, 0, 0, 0, 
			0, 1, 0, 0, 
			0, 0, 1, 0, 
			0, 0, 0, 1
		);
	}
}
@keyframes reading_icon_frames{
	0%{opacity: 0.05}
	30%{opacity: 0.16}
	70%{opacity: 0.16}
	100%{opacity: 0.05}
}
@keyframes reading_icon_frames2{
	0% {opacity: 0.1}
	40% {opacity: 0.22}
	60%{opacity: 0.22}
	100%{opacity: 0.1}
}
@keyframes dash_ani{
	0% {
		stroke-dashoffset:400;	
		opacity: 0
	}
	50%{
		opacity: 1;
	}
	100%{
		stroke-dashoffset:0;
		opacity: 1;
	}
}
		
@keyframes main_ani{
	0% {
		opacity: 1;
		stroke-dashoffset:0;
	}
	100%{
		opacity: 1;
		stroke-dashoffset:0;
		stroke-width: 25px;
	}
}

@keyframes plantning_bg_ani {
	from{
		stroke-dashoffset: 0;
	}
	to{
		stroke-dashoffset: 1000;
	}
}
@keyframes plantning_bg_ani2 {
	from{
		stroke-dashoffset: 0;
	}
	to{
		stroke-dashoffset: -1000;
	}
}