@media (max-width:960px){
  /*error*/
.error_wra{height:100vh;width:100%;padding:5em 20px 0;text-align:center;position:relative;}
.error_wra:after{content:'';display:inline-block;vertical-align:middle;height:100%;}
.error_area{display: block;vertical-align: unset;margin-top: 11rem;}
.img_error{margin-right:2.5em;display:inline-block;vertical-align:top;}
.chk_text_box,.text_error{padding-top:1.3em;display:inline-block;vertical-align:top;text-align:left;}
.text_error p{color:#333333;letter-spacing:-1px;}
.error_type{font-weight:800;font-size:1.375em;}
.error_tlt{font-weight:200;font-size:3.750em;line-height:1;margin-bottom:0.7em;}
.error_desc{font-weight:200;font-size: 1.6em;line-height:1.45em;}
.link_home{position:absolute;right:8%;bottom:10%;}
.link_home a{color:#ffffff;width:5.409em;height:5.409em;padding-top:2.15em;text-align:center;border-radius:50%;display:inline-block;background:#009aca;font-size:1.375em;}
.chk_text_box p{font-weight:200;letter-spacing:-1px;color:#333333;}
.chk_sub_title{font-size:2.063em;}
.chk_title{font-size:3.750em;margin-bottom:1em;}
.chk_title b{color:#009aca;}
.period_chk{position:relative;display:inline-block;padding:3.5em 0 0.15em;}
.period_chk:after{content:'';width:100%;height:0.5em;position:absolute;bottom:0;left:0;z-index:2;background:rgba(0,154,202,0.2);}
.period_chk p{position:relative;line-height:1;z-index:3;font-weight:200;font-size:1em;}

/*template*/
.template_wra{width:800px;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width:523px;margin:0 auto;padding:20px 0 65px 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size:32px;}
.mail_desc{font-size:16px;line-height:21px;margin-bottom:27px;}
.info_template_section{padding:14px;border:2px solid #009aca;}
.top_info_box{padding:0 10px;margin-bottom:14px;border-bottom:1px solid #d4d5d6;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right:30px;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;}
.leave_mb .top_info_box .input_info{padding:10px 0 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size:14px;}
.top_info_box .input_info .text_info{font-size:16px;margin-bottom:14px;}
.bottom_info_btn{text-align:right;}
.bottom_info_btn a{display:inline-block;line-height:36px;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width:158px;height:36px;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display: block;vertical-align:middle;text-align: left;width: 368px;margin: 0 auto;margin-top: 4rem;}
.loading_img{margin-right: 0;width: 368px;display: block;margin: 0 auto;max-width: 368px;}
.loading_img img {
    margin: 0 auto;
    width: 100%;
}
}


@media (max-width:450px){
  /*error*/
.error_wra{height:100vh;width:100%;padding:5em 20px 0;text-align:center;position:relative;}
.error_wra:after{content:'';display:inline-block;vertical-align:middle;height:100%;}
.error_area{display: block;vertical-align: unset;margin-top: 11rem;}
.img_error{margin-right:2.5em;display:inline-block;vertical-align:top;}
.chk_text_box,.text_error{padding-top:1.3em;display:inline-block;vertical-align:top;text-align:left;}
.text_error p{color:#333333;letter-spacing:-1px;}
.error_type{font-weight:800;font-size:1.375em;}
.error_tlt{font-weight:200;font-size:3.750em;line-height:1;margin-bottom:0.7em;}
.error_desc{font-weight:200;font-size: 1.6em;line-height:1.45em;}
.link_home{position:absolute;right:8%;bottom:10%;}
.link_home a{color:#ffffff;width:5.409em;height:5.409em;padding-top:2.15em;text-align:center;border-radius:50%;display:inline-block;background:#009aca;font-size:1.375em;}
.chk_text_box p{font-weight:200;letter-spacing:-1px;color:#333333;}
.chk_sub_title{font-size:2.063em;}
.chk_title{font-size:3.750em;margin-bottom:1em;}
.chk_title b{color:#009aca;}
.period_chk{position:relative;display:inline-block;padding:3.5em 0 0.15em;}
.period_chk:after{content:'';width:100%;height:0.5em;position:absolute;bottom:0;left:0;z-index:2;background:rgba(0,154,202,0.2);}
.period_chk p{position:relative;line-height:1;z-index:3;font-weight:200;font-size:1em;}

/*template*/
.template_wra{width:800px;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width:523px;margin:0 auto;padding:20px 0 65px 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size:32px;}
.mail_desc{font-size:16px;line-height:21px;margin-bottom:27px;}
.info_template_section{padding:14px;border:2px solid #009aca;}
.top_info_box{padding:0 10px;margin-bottom:14px;border-bottom:1px solid #d4d5d6;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right:30px;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;}
.leave_mb .top_info_box .input_info{padding:10px 0 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size:14px;}
.top_info_box .input_info .text_info{font-size:16px;margin-bottom:14px;}
.bottom_info_btn{text-align:right;}
.bottom_info_btn a{display:inline-block;line-height:36px;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width:158px;height:36px;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display: block;vertical-align:middle;text-align: left;width: 100%;margin: 0 auto;margin-top: 4rem;}
.loading_img{margin-right: 0;width: 90%;display: block;margin: 0 auto;max-width: 368px;}
.loading_img img {
    margin: 0 auto;
    width: 100%;
}
}
@media (max-width:960px){
  /*error*/
.error_wra{height:100vh;width:100%;padding:5em 20px 0;text-align:center;position:relative;}
.error_wra:after{content:'';display:inline-block;vertical-align:middle;height:100%;}
.error_area{display: block;vertical-align: unset;margin-top: 11rem;}
.img_error{margin-right:2.5em;display:inline-block;vertical-align:top;}
.chk_text_box,.text_error{padding-top:1.3em;display:inline-block;vertical-align:top;text-align:left;}
.text_error p{color:#333333;letter-spacing:-1px;}
.error_type{font-weight:800;font-size:1.375em;}
.error_tlt{font-weight:200;font-size:3.750em;line-height:1;margin-bottom:0.7em;}
.error_desc{font-weight:200;font-size: 1.6em;line-height:1.45em;}
.link_home{position:absolute;right:8%;bottom:10%;}
.link_home a{color:#ffffff;width:5.409em;height:5.409em;padding-top:2.15em;text-align:center;border-radius:50%;display:inline-block;background:#009aca;font-size:1.375em;}
.chk_text_box p{font-weight:200;letter-spacing:-1px;color:#333333;}
.chk_sub_title{font-size:2.063em;}
.chk_title{font-size:3.750em;margin-bottom:1em;}
.chk_title b{color:#009aca;}
.period_chk{position:relative;display:inline-block;padding:3.5em 0 0.15em;}
.period_chk:after{content:'';width:100%;height:0.5em;position:absolute;bottom:0;left:0;z-index:2;background:rgba(0,154,202,0.2);}
.period_chk p{position:relative;line-height:1;z-index:3;font-weight:200;font-size:1em;}

/*template*/
.template_wra{width:800px;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width:523px;margin:0 auto;padding:20px 0 65px 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size:32px;}
.mail_desc{font-size:16px;line-height:21px;margin-bottom:27px;}
.info_template_section{padding:14px;border:2px solid #009aca;}
.top_info_box{padding:0 10px;margin-bottom:14px;border-bottom:1px solid #d4d5d6;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right:30px;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;}
.leave_mb .top_info_box .input_info{padding:10px 0 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size:14px;}
.top_info_box .input_info .text_info{font-size:16px;margin-bottom:14px;}
.bottom_info_btn{text-align:right;}
.bottom_info_btn a{display:inline-block;line-height:36px;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width:158px;height:36px;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display: block;vertical-align:middle;text-align: left;width: 368px;margin: 0 auto;margin-top: 4rem;}
.loading_img{margin-right: 0;width: 368px;display: block;margin: 0 auto;max-width: 368px;}
.loading_img img {
    margin: 0 auto;
    width: 100%;
}
}
@media (max-width:450px){
  /*error*/
.error_wra{height:100vh;width:100%;padding:5em 20px 0;text-align:center;position:relative;}
.error_wra:after{content:'';display:inline-block;vertical-align:middle;height:100%;}
.error_area{display: block;vertical-align: unset;margin-top: 11rem;}
.img_error{margin-right:2.5em;display:inline-block;vertical-align:top;}
.chk_text_box,.text_error{padding-top:1.3em;display:inline-block;vertical-align:top;text-align:left;}
.text_error p{color:#333333;letter-spacing:-1px;}
.error_type{font-weight:800;font-size:1.375em;}
.error_tlt{font-weight:200;font-size:3.750em;line-height:1;margin-bottom:0.7em;}
.error_desc{font-weight:200;font-size: 1.6em;line-height:1.45em;}
.link_home{position:absolute;right:8%;bottom:10%;}
.link_home a{color:#ffffff;width:5.409em;height:5.409em;padding-top:2.15em;text-align:center;border-radius:50%;display:inline-block;background:#009aca;font-size:1.375em;}
.chk_text_box p{font-weight:200;letter-spacing:-1px;color:#333333;}
.chk_sub_title{font-size:2.063em;}
.chk_title{font-size:3.750em;margin-bottom:1em;}
.chk_title b{color:#009aca;}
.period_chk{position:relative;display:inline-block;padding:3.5em 0 0.15em;}
.period_chk:after{content:'';width:100%;height:0.5em;position:absolute;bottom:0;left:0;z-index:2;background:rgba(0,154,202,0.2);}
.period_chk p{position:relative;line-height:1;z-index:3;font-weight:200;font-size:1em;}

/*template*/
.template_wra{width:800px;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width:523px;margin:0 auto;padding:20px 0 65px 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size:32px;}
.mail_desc{font-size:16px;line-height:21px;margin-bottom:27px;}
.info_template_section{padding:14px;border:2px solid #009aca;}
.top_info_box{padding:0 10px;margin-bottom:14px;border-bottom:1px solid #d4d5d6;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right:30px;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;}
.leave_mb .top_info_box .input_info{padding:10px 0 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size:14px;}
.top_info_box .input_info .text_info{font-size:16px;margin-bottom:14px;}
.bottom_info_btn{text-align:right;}
.bottom_info_btn a{display:inline-block;line-height:36px;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width:158px;height:36px;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display: block;vertical-align:middle;text-align: left;width: 100%;margin: 0 auto;margin-top: 4rem;}
.loading_img{margin-right: 0;width: 90%;display: block;margin: 0 auto;max-width: 368px;}
.loading_img img {
    margin: 0 auto;
    width: 100%;
}
}
