@media (max-width:960px){

}

@media (max-width:800px){
/*template*/
.template_wra{width: 100%;}
.template_footer{background:#282327;padding:10px 52px;}
.template_footer p{color:#888888;line-height:19px;font-size:12px;}
.template_area{background:#f8f8f8;}
.template_certify{width: 90%;margin: 0 auto;padding: 2rem 0 6rem 0;}
.template_certify .logo_img{margin-bottom:40px;display:block;}
.mail_tlt{font-weight:700;letter-spacing:-1px;margin-bottom:23px;font-size: 2.5rem;}
.mail_desc{font-size: 1.3rem;line-height:21px;margin-bottom:27px;}
.info_template_section{padding: 1rem 0;border:2px solid #009aca;width: 100%;margin: 0 auto;position: relative;}
.top_info_box{padding: 0;border-bottom: 0;width: 26rem;margin: 0 auto;margin-bottom: 1rem;}
.top_info_box .imgbox{display:inline-block;vertical-align:top;margin-right: 0;width: 35%;}
.top_info_box .input_info{padding:1em 0;display:inline-block;vertical-align:top;width: 50%;}
.leave_mb .top_info_box .input_info{padding: 10px 2rem 0;}
.top_info_box .input_info .lb{color:#686868;font-weight:700;margin-bottom:2px;font-size: 1.2rem;}
.top_info_box .input_info .text_info{font-size: 1.2rem;margin-bottom: 1.2rem;}
.bottom_info_btn{text-align: unset;margin: 0 auto;display: block;margin: 0 auto;width: 13rem;}
.bottom_info_btn a{display:inline-block;line-height: 3rem;color:#ffffff;font-size:14px;font-weight:800;background:#009aca;width: 13rem;height: 3rem;text-align:center;}
.template_certify.leave_mb{padding:20px 0 122px;}
.loading_img,.loading_text_box{display:inline-block;vertical-align:middle;text-align:left;}
.loading_img{margin-right:3.5em;}
.info_template_section:before {
  content:'';
  width: 100%;
  height: 1px;
  position:absolute;
  bottom: 5rem;
  left:0;
  z-index:2;
  background: #D4D5D6;
  }
}
