/*login*/

.member_wra {
    padding-top: 5em;
    height: 100vh;
    overflow: hidden
}

.member_wra.step_4 .right_contents_area {
    overflow-y: auto;
    margin-right: -17px;
}

.member_wra.step_4 .right_contents_area .complete_box {
    flex-flow: wrap;
    flex-direction: column;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
}

.member_wra.step_4 .market_choice {
    padding-top: 1rem;
}


.member_wra.step_4 .right_contents_area .complete_box .complete_item {
    margin-top: 5rem;
}

.member_wra.step_4  #usable_store {
    margin: 3rem auto 8rem;
    max-width: 810px;
    width: 100%;
}

.member_wra.step_4  #usable_store .usable_store_header h3,
.member_wra.step_4  #usable_store .usable_store_footer {
    text-align: left;
}

.member_wra.step_4 .complete_box {
    flex-flow: wrap;
}

@media (max-width: 1024px) {
    .member_wra.step_4 .btn_mb_group {
        position: absolute;
    }
    .member_wra.step_4  #usable_store .usable_store_footer {
        padding-right: 8rem;
    }
}

@media (max-width: 720px) {
    .member_wra.step_4 .right_contents_area .complete_box .complete_item {
        margin-top: 0;
    }
}

.left_title_area {
    height: 100%;
    float: left;
    width: 35%;
    position: relative;
    background: #009aca;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.textbox_short {
    width: 70% !IMPORTANT;
}

.left_title_item {
    max-width: 432px;
    margin: 0 auto;
    width: 100%;
}

.left_title_area .title_txt {
    color: #ffffff;
    font-size: 3.750em;
    font-weight: 200;
    margin-bottom: 1.8rem;
    line-height: 1.2;
    letter-spacing: -0.07em;
}

.left_title_area .sub_title_txt {
    color: #ffffff;
    font-size: 1.375em;
    font-weight: 200;
    line-height: 1.5em
}

.left_title_area .sub_title_txt span {
    font-weight: 700
}

.left_title_area .sub_title_txt_2 {
    font-size: 1.1em;
    padding-top: 4rem;
}

.cs_center_info {
    position: absolute;
    left: 50%;
    max-width: 512px;
    width: 100%;
    bottom: 18vh;
    transform: translateX(-50%);
    padding: 0 40px;
}

.cs_center_info p {
    color: #ffffff;
    line-height: 1.4em;
    font-size: 1em
}

.right_contents_area {
    float: right;
    position: relative;
    width: 65%;
    height: 100%;
    padding: 0 20px
}

.right_contents_area form {
    height: 100%
}

.member_right_section {
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member_right_section:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}


/*id_merge*/

.id_merge_con {
    margin-top: 16rem;
}

.id_merge_con_text {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #666666;
}

.id_merge_board {}

.id_merge_board_con {
    border: 1px solid #c7c7c7;
}

.id_merge_board_title {}

.id_merge_board_title .id_merge_board_con_inner_wrap {}

.id_merge_board_title .id_merge_board_con_inner_wrap li {
    display: inline-block;
    font-size: 1.3rem;
    border-right: 1px solid #c7c7c7;
    background-color: #dce6f2;
}

.id_merge_board_title .id_merge_board_con_inner_wrap li:nth-of-type(1) {}

.id_merge_board_title .id_merge_board_con_inner_wrap li:nth-of-type(2) {
    width: 22rem;
}

.id_merge_board_title .id_merge_board_con_inner_wrap li:nth-of-type(3) {}

.id_merge_board_con_inner_wrap {
    font-size: 0;
    border-bottom: 1px solid #c7c7c7;
}

.id_merge_board_con_inner_wrap li {
    display: inline-block;
    font-size: 1.3rem;
    border-right: 1px solid #c7c7c7;
    width: 14rem;
    height: 4rem;
    line-height: 4rem;
}

.id_merge_board_con_inner_wrap li:nth-of-type(1) {}

.id_merge_board_con_inner_wrap li:nth-of-type(2) {
    width: 22rem;
}

.id_merge_board_con_inner_wrap li:nth-of-type(3) {}

.id_merge_con_text_2 {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: #666666;
}

.id_merge_con_text_2_color {
    color: #009aca;
    font-weight: normal;
}


/*end*/


/*sode_join_step2*/

.chk_join {
    margin-top: 9rem;
}

.chk_join h1 {
    display: inline-block;
    text-align: left;
    width: 10rem;
    font-weight: bold;
    color: #666666;
    font-size: 1.25rem;
}

.chk_join h1:nth-of-type(1) {}

.chk_join h1:nth-of-type(2) {}

.chk_join input {
    width: 34rem;
    border: 0;
    border-bottom: 1px solid #666666;
    font-size: 1.25rem;
}

.chk_join input:nth-of-type(1) {}

.chk_join input:nth-of-type(2) {}

.chk_join_wrap {
    display: block;
}

.chk_join_wrap:nth-of-type(1) {
    margin-bottom: 3rem;
}

.chk_join_wrap:nth-of-type(2) {}

.member_frm_box {
    display: inline-block;
    vertical-align: middle;
    max-width: 650px;
    width: 100%;
    text-align: left;
    margin-top: 10%;
}

.member_frm_box .item_mb {
    position: relative;
    margin-bottom: 2em;
    text-align: left
}

.member_frm_box .item_mb.line2 {
    margin-bottom: 2.8em
}

.member_frm_box .item_mb.last {
    margin-bottom: 0
}

.item_mb .lb {
    color: #888888;
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
    width: 7.5em;
    padding-top: 0.2em
}

.item_mb.line2 .lb {
    padding-top: 0
}

.item_mb .input_box {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    width: calc(100% - 7.5em - 4px)
}

.item_mb .textbox_mb {
    width: 100%
}

.textbox_mb {
    border: 0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1em;
    height: 1.6em;
    color: #888888;
    padding-left: 0.3em;
    border-bottom: 1px solid #888888
}

.textbox_mb:active,
.textbox_mb:focus {
    border-color: #00738c
}

.member_frm_box .find_mb {
    text-align: right;
    padding-top: 0.6em
}

.member_frm_box .find_mb a,
.member_frm_box .find_mb span {
    color: #888888;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle
}

.member_frm_box .find_mb span.bar {
    margin: 0 0.4em
}

.save_id {
    position: absolute;
    right: 0;
    top: 0
}

.save_id label {
    cursor: pointer;
    font-size: 1em;
    color: #888888
}

.chkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none
}

.chkbox+label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle
}

.chkbox+label:before {
    content: '';
    width: 1.313rem;
    height: 1.313rem;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    background: url("/assets/images/common/chk_off.png") 0 0 no-repeat;
    -webkit-background-size: 1.313rem 1.313rem;
    background-size: 1.313rem 1.313rem
}

.chkbox:checked+label:before {
    background: url("/assets/images/common/chk_on.png") 0 0 no-repeat;
    -webkit-background-size: 1.313rem 1.313rem;
    background-size: 1.313rem 1.313rem
}

.save_id .chkbox+label:before,
.save_id .chkbox:checked+label:before {
    display: none
}

.save_id .chkbox+label:after {
    content: '';
    width: 1.313rem;
    height: 1.313rem;
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    background: url("/assets/images/common/chk_off.png") 0 0 no-repeat;
    -webkit-background-size: 1.313rem 1.313rem;
    background-size: 1.313rem 1.313rem
}

.save_id .chkbox:checked+label:after {
    background: url("/assets/images/common/chk_on.png") 0 0 no-repeat;
    -webkit-background-size: 1.313rem 1.313rem;
    background-size: 1.313rem 1.313rem
}

.use_agree {
    margin-bottom: 2.3em
}

.use_agree:last-of-type {
    margin-bottom: 0
}

.btn_mb_group {
    z-index: 100;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.btn_cicle {
    width: 5.409em;
    height: 5.409em;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.375em;
    background: #009aca;
    line-height: 1.2em;
    margin-left: 0.5em;
    float: right;
    margin-right: 1em;
    cursor: pointer;
}

.btn_reg {
    width: 8.409em;
    height: 1.709em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.375em;
    background: #009aca;
    line-height: 1.2em;
    margin-left: 0.5em;
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    cursor: pointer;
}

.btn_gray {
    background: #8c979b
}

.right_contents_area .msg_mb {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    padding-top: 16%;
    text-align: left
}

.right_contents_area .msg_mb p {
    color: #888888;
    font-size: 1.375em;
    line-height: 2em
}

.right_contents_area .msg_mb p span {
    color: #00738c;
    font-size: 1.818em
}

.pw_desc {
    text-align: left;
    padding: 0.8em 0 0 5em;
    font-size: 1.25em;
    color: #888888;
    line-height: 1.6em
}

.member_frm_box .error {
    color: #fa0000;
    font-size: 0.875em;
    padding: 0.9em 0 0 0
}

.find_box {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
}


/*join*/

.step_join_tab {
    position: absolute;
    left: 50%;
    max-width: 512px;
    width: 100%;
    top: 20vh;
    transform: translateX(-50%);
    padding: 0 40px;
    margin: 0;
}

.step_join_tab span {
    width: 33.333%;
    text-align: center;
    padding-bottom: 0.3em;
    float: left;
    font-weight: 700;
    font-size: 1.25em;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    opacity: 0.5;
}

.step_join_tab span.active {
    opacity: 1
}

.step_join_tab.col2 span {
    width: 50%
}

.join_section {
    position: relative;
    height: 100%
}

.step_join_tab_txt {
    position: absolute;
    left: -7em;
    top: 50%;
    transform: rotate(-90deg) translate(0, -50%)
}

.step_join_tab_txt span {
    color: #888888;
    float: right;
    font-size: 0.750em;
    padding: 0 1.3em;
    border-right: 1px solid #888888;
    line-height: 1.8em
}

.step_join_tab_txt span:last-of-type {
    border-left: 1px solid #888888
}

.step_join_tab_txt span.focus {
    font-weight: 700
}

.contents_step_join {
    display: none;
    height: 100%
}

.contents_step_join.active {
    display: block
}

.agree_all {
    text-align: left;
    padding: 0 0 0.5em 1em;
    border-bottom: 1px solid #888888;
    margin-bottom: 0.6em
}

.agree_all label {
    color: #23262d;
    font-size: 1.5em
}

.item_agree_join {
    text-align: left;
    padding: 0.4em 0 0.4em 1em
}

.item_agree_join label {
    color: #888888;
    font-size: 1.25em
}

.item_agree_smt {
    display: inline;
    padding-left: 1em;
}
.item_agree_smt:first-child{
    padding-left: 3.5em;
}

.link_agree:hover,
.link_agree {
    text-decoration: underline;
    color: #00738c;
    font-size: 0.7em
}

.error span {
    color: #00738c;
    text-decoration: underline
}

.confirm_btn {
    position: absolute;
    top: -1.3em;
    right: 0;
    font-size: 0.875em;
    width: 6.643em;
    height: 2.786em;
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff
}

.item_mb_required {
    position: relative
}

.item_mb_required:before {
    content: '*';
    position: absolute;
    color: #fa0000;
    left: 0;
    top: 0;
    display: none
}

.item_mb_required .lb {
    padding-left: 0.4em;
    color: #333333
}

.desc_mb {
    color: #888888;
    margin-top: 0.4em
}

.sctbox {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid #888888;
    color: #888888;
    width: 12.438em;
    line-height: 1.7em;
    background: url("/assets/images/common/sct.png") center right 10px no-repeat;
    -webkit-background-size: 12px 10px;
    background-size: 12px 10px
}

.sctbox_tel.sctbox {
    margin-right: 1em;
    width: 6.7em
}

.tel_inputBox .sctbox_tel.sctbox {
    margin: 0;
    width: calc(33.33% - 10px);
}

.tel_inputBox span {
    font-size: 16px
}

.item_mb .tel_inputBox .textbox_mb.textbox_mb_tel {
    margin: 0;
    width: calc(33.33% - 10px);
    padding: 0;
}

.item_mb .tel_inputBox .textbox_mb.textbox_mb_tel2 {
    margin: 0;
    width: calc(33.33% - 10px);
    padding: 0;
}

.item_mb .textbox_mb.textbox_mb_tel {
    width: calc(100% - 7.7em - 4px)
}

.textbox_mb_tel_1 {}

.join_section .member_frm_box .item_mb.line2 {
    margin-bottom: 2em
}

.complete_box {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
}

.complete_box img {
    width: 100%;
    max-width: 259px;
}

.complete_msg {
    color: #333333;
    font-weight: 200;
    font-size: 1.750em;
    line-height: 1.4em;
    text-align: left;
    margin: 0 0 40px 40px;
}

.complete_msg span {
    font-weight: 700
}

.complete_item {
    display: flex;
    align-items: center
}

.alert_send {
    color: #888888;
    font-size: 0.875em;
    padding: 0.9em 0 0 0;
}

.alert_send .data_email {
    color: #009aca;
}

.lb_sub:after {
    content: "(선택)";
    font-size: inherit;
    color: inherit;
    display: block;
}


/*부가정보 회원가입*/

.add_join_section {
    padding: 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: left
}

.add_join_section .title_step {
    color: #333333;
    font-size: 1.750em;
    margin-bottom: 0.5em
}

.add_join_section .desc_step {
    color: #888888;
    font-size: 1em;
    line-height: 1.4em
}

.left_title_longArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.search_market {
    position: relative;
}

.search_market .sh_box {
    font-size: 1em;
    padding: 0 3.750em 0 0.7em;
    height: 2.813em;
    width: 100%
}

.search_market button {
    position: absolute;
    width: 3.750rem;
    height: 2.813rem;
    font-size: 1em;
    color: #ffffff;
    background: #009aca;
    right: 0;
    top: 0
}

.market_choice {
    overflow: hidden;
    padding-top: 1.8em
}

.market_box_find {
    width: 22.063em;
    display: block;
    margin: 2rem 0 0;
    padding: 0;
}

.market_box_find input {
    border-color: #ddd;
    background: #f9f9f9;
}

.market_box_find_text_area {
    width: 100%;
    height: 2.625rem;
    font-size: 1em;
    color: #333333;
    border-bottom: 0;
}

.market_box {
    float: left;
    width: 22.063em;
}

.market_box::-webkit-scrollbar-track {
    background: #efefef
}

.market_box::-webkit-scrollbar-thumb:hover,
.market_box::-webkit-scrollbar-thumb {
    background: #23262d
}

.market_box .type_market {
    position: relative;
    margin-top: 1px;
    color: #ffffff;
    font-size: 1em;
    height: 2.625em;
    line-height: 2.625em;
    padding-left: 1rem;
    background: #009aca;
    cursor: pointer
}

.market_box .type_market img {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1em
}

.market_box .type_market.open img {
    transform: rotate(180deg)
}

.market_box ul {
    /* max-height: 13.125em; */
    overflow: auto;
    display: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* padding: 0 11px 0 0; */
}
.market_box > div:last-child {
    border-bottom: 1px solid #ddd;
}

.type_market.open+ul {
    display: block
}

.market_box li {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 2.625em;
    padding: 0.3em 0.6em
}

.market_box li:hover {
    background: #efefef
}

.market_box li span {
    font-size: 1em;
    color: #888888
}

.market_box li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
    width: 5.750em;
    height: 2em
}

.choiced_mk_box {
    width: 21.5em;
    float: left;
    margin-left: 7em;
    margin-top: -5rem;
}

.choiced_mk_box .status {
    text-align: right;
    padding-bottom: 0.5em
}

.choiced_mk_box .status p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875em
}

.choiced_mk_box .status p.pass {
    color: #777777
}

.choiced_mk_box .status p.error {
    color: #d00017
}

.choiced_mk_box .status p span {
    color: inherit;
    text-decoration: none
}

.list_choiced_mk {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 0.6em 0 0;
}

.title_list_choiced {
    color: #333333;
    font-size: 1em;
    font-weight: 700;
    padding: 0.6em 0.8em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    margin-right: -10px;
}

.list_choiced_mk_box {
    height: 47.313em;
    overflow-y: auto;
    display: none;
}

.type_market_choiced {
    font-size: 1em;
    color: #888888;
    font-weight: 700;
    padding: 0.7em 0.8em
}

.list_choiced_mk ul {
    padding: 0 0.8em;
    border-bottom: 1px solid #efefef
}

.list_choiced_mk li {
    margin-bottom: 0.45em;
    overflow: hidden
}

.list_choiced_mk li p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.813em;
    font-size: 0.875em;
    color: #888888;
}

.list_choiced_mk li p.mk_name {
    width: 8em;
}

.list_choiced_mk li .account_btn {
    float: right
}

.list_choiced_mk li .account_btn p {
    cursor: pointer
}

.list_choiced_mk li .account_btn img {
    width: 1.813em
}

.list_choiced_mk li.error p {
    color: #fa0000
}

.check_account {
    color: #ffffff;
    height: 4.750rem;
    font-size: 1.375em;
    background: #009aca;
    width: 100%;
    border-radius: 0 0 8px 8px
}

.error_account_msg {
    color: #fa0000;
    margin-top: 0.4em;
    font-size: 0.875em
}

.error_account_msg:before {
    content: '';
    background: #fa0000;
    width: 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 0.6em;
    height: 4px
}

.alarm_setting_box {
    text-align: left
}

.alarm_setting_box .imgbox {
    display: inline-block;
    vertical-align: top;
    margin-right: 2.8em
}

.alarm_setting_box .imgbox img {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    max-width: 90%;
}

.alarm_setting_box .contents_alarm {
    display: inline-block;
    vertical-align: top;
    padding-top: 4em;
    width: auto
}

.contents_alarm .title_alarm {
    color: #333333;
    font-size: 1.750em;
    font-weight: 200;
    line-height: 1.4em;
    margin-bottom: 1em
}

.contents_alarm .title_alarm span {
    font-weight: 700
}

.contents_alarm .desc_alarm {
    color: #888888;
    font-size: 1em;
    line-height: 1.5em
}

.admin_choice {
    padding-top: 1.9em
}

.item_admin {
    margin-bottom: 20px
}

.chk_admin {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none
}

.chk_admin+label {
    color: #888888;
    font-size: 1em;
    vertical-align: middle;
}

.chk_admin+label:before {
    content: '';
    width: 1.063em;
    height: 1.063em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.6em;
    background: url("/assets/images/member/chk_gray_off.png") 0 0 no-repeat;
    -webkit-background-size: 1.063em 1.063em;
    background-size: 1.063em 1.063em
}

.chk_admin:checked+label:before {
    background: url("/assets/images/member/chk_gray_on.png") 0 0 no-repeat;
    -webkit-background-size: 1.063em 1.063em;
    background-size: 1.063em 1.063em
}

.talk_alarm {
    margin-top: 2.5em
}

.talk_alarm img,
.talk_alarm label {
    display: inline-block;
    vertical-align: middle;
    width: auto
}

.talk_alarm label {
    font-weight: 700;
    color: #666666;
    font-size: 1em;
    margin-left: 0.6em;
    position: relative;
    padding: 0 0 0 45px
}

.talk_alarm label::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #a5b9b8;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0
}

.talk_alarm input[type=checkbox]:checked+label::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #a5b9b8;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(/assets/images/member/chk_big.png) no-repeat center;
    background-color: #a5b9b8;
    z-index: 1
}

.talk_alarm input[type=checkbox] {
    display: none
}

.popup_account {
    display: none;
    z-index: 9999;
    position: fixed;
    width: calc(100% - 20px);
    max-width: 382px;
    top: 58%;
    left: 55%;
    transform: translate(0, -50%);
}

.popup_account.active {
    display: block;
    /* position: absolute; */
    top: 50%;
    /* margin-top: 140px; */
}

.popup_account_over {
    margin-left: -0.4rem;
}

.pop_account {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: static;
    width: 100%;
}

.pop_account .pop_head {
    border-radius: 10px 10px 0 0;
    /* position: relative; */
    background: #474246;
}

.pop_account .pop_head p {
    color: #ffffff;
    font-size: 1.625em;
    line-height: 2.5em;
    padding-left: 0.8em;
    display: inline-block;
}

.pop_account .pop_head .close_pop {
    position: absolute;
    top: 1.35em;
    right: 1.2em;
    cursor: pointer
}

.pop_account .pop_body {
    background: #ffffff
}

.pop_account .pop_body .logo_area_account {
    padding: 0.6em 0;
    margin-bottom: 1em
}

.pop_account .pop_body .logo_area_account img {
    margin: 0 auto
}

.pop_account .pop_foot {}

.pop_account .pop_foot button {
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: #009aca;
    color: #ffffff;
    font-size: 1.375em;
    height: 2.773em;
}

.add_account {
    color: #0097d3;
    font-size: 0.875em;
    font-weight: 700;
    max-width: 232px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 0 2em 0
}

.frm_account {
    max-width: 232px;
    width: 100%;
    margin: 0 auto
}

.input_account {
    margin-bottom: 1em;
    position: relative;
}

.input_account .lb {
    font-size: 1em;
    color: #8c979b;
    margin-bottom: 0.5em
}

.input_account .textbox_mb {
    width: 100%;
    font-size: 1.125em
}

.input_account button {
    /* font-size: 0.875em; */
    height: 2.214em;
    display: inline-block;
    vertical-align: middle;
    width: 4.3em;
    line-height: 2.214em;
    text-align: center;
    color: #7a7a7a;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.input_account button p {
    font-size: 0.8em;
}

.arrow_box span {
    position: absolute;
    top: 45%;
    opacity: 0.5
}

.arrow_box span.prev {
    left: 1em
}

.arrow_box span.next {
    right: 1em
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background: url("/assets/images/member/prev.png") 0 0 no-repeat;
    -webkit-background-size: 1.375em 2.813em;
    background-size: 1.375em 2.813em
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background: url("/assets/images/member/next.png") 0 0 no-repeat;
    -webkit-background-size: 1.375em 2.813em;
    background-size: 1.375em 2.813em
}

.popup_terms .pop {
    max-width: 683px;
    width: 100%
}

.pop_head .title_pop {
    color: #ffffff;
    padding: 0.4em 0.8em;
    background: #333333;
    font-size: 1.375em
}

.popup_terms .pop_body {
    padding: 2.5em 1.5em 2em
}

.terms_box {
    height: 50vh;
    border: 1px solid #dddddd;
    padding: 0.7em 0.5em
}

.scrollblack::-webkit-scrollbar {
    width: 11px
}

.scrollblack::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 5px
}

.scrollblack::-webkit-scrollbar-thumb {
    background-color: #23262d;
    border-radius: 5px
}

.terms_box p {
    height: 100%;
    overflow-y: auto;
    font-size: 0.875em;
    line-height: 1.6em
}

.btn_confirm_terms {
    color: #ffffff;
    font-size: 1em;
    background: #009aca;
    padding: 1.2em 0;
    width: 100%;
    font-size: 1rem;
}

.eidt_close_1 {
    width: 100%;
}

.eidt_close_2 {
    color: #ffffff;
    font-size: 1em;
    background: #5f5f5f;
    padding: 1.2em 0;
    width: 50%;
    font-size: 1rem;
}

.mb_company {
    height: 26.438em;
    overflow-y: auto;
    padding-right: 2em
}

.popup_account .sctbox {
    width: 100%
}

.select_mall {
    width: 100%
}

.item_admin .admin_txt {
    border: 0;
    font-size: 1em;
    color: #00738c;
    width: 100%;
    padding-left: 0;
    border-bottom: 1px solid #00738c;
    border-radius: 0;
    text-indent: 0
}

.item_sub_input {
    position: relative;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    color: #888888
}

.item_sub_input.txt1 {
    width: 6.125em;
    vertical-align: top;
}

.item_sub_input.txt2 {
    width: 10.750em;
    vertical-align: top;
}

.item_admin .admin_txt:disabled {
    background: #ffffff;
    border-radius: 0;
    border: 0;
    color: #888888
}

.item_sub_input img {
    position: absolute;
    right: 0;
    top: 0.1em;
    margin-left: 0.4em;
    width: 1.188em;
}

.sub_admin_info {
    display: block;
    vertical-align: middle;
    font-size: 1em;
    color: #888;
    margin: 10px 0;
    display: inline-block;
}

.time_alarm .lb {
    font-size: 1em;
    color: #888888
}

.time_alarm .sctbox {
    width: 4.875em;
    font-weight: 700
}

.msg_mb img {
    float: right;
    margin-top: 3em
}

.pw_email_box .msg_mb {
    padding-top: 0;
    display: inline-block;
    vertical-align: middle
}

.pw_email_box .msg_mb p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em
}

.pw_email_box .msg_mb img {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 3em 0 0 3em;
}

.pw_email_box .msg_mb.msg_pwmail {
    max-width: 590px;
    padding: 0 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*select2*/

.select2-container {
    width: 100% !important
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 11px
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 5px
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #23262d;
    border-radius: 5px
}

.select2-search--dropdown .select2-search__field {
    padding: 10px 4px
}

.search_select_box {
    width: calc(100% - 3.750rem);
    height: 2.813rem
}

.search_select_box .select2-container--default .select2-selection--single {
    border: 0;
    height: 100%
}

.search_select_box .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0.6em 0.4em;
    line-height: 1
}

.search_select_box .select2-container--default .select2-selection--single .select2-selection__clear {
    padding-top: 0.4em
}

.search_select_box .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 9px;
    right: 6px
}

.search_select_box .select2-container--default .select2-selection--single .select2-selection__placeholder {
    display: inline-block;
    line-height: 1.55em;
    padding-left: 0.4em
}

.list_choiced_empty_box {
    height: 18.313em;
    text-align: center
}

.list_choiced_empty_box:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.list_choiced_empty_box p {
    color: #888888;
    line-height: 1.6em;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em
}

.only1_path {
    position: absolute;
    left: 50%;
    max-width: 512px;
    width: 100%;
    top: 11vh;
    transform: translateX(-50%);
    padding: 0 40px;
}

.only1_path p {
    color: #ffffff;
    font-size: 1.375em
}

.only1_path p img {
    display: inline-block;
    vertical-align: middle
}

.popup_gui_container {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    left: -24rem;
    top: 0;
    z-index: 9;
    padding-right: 4rem;
    word-break: keep-all;
    display: none;
    border-radius: 10px 10px 0px 0px;
    min-width: 322px;
    /* top: -2.3rem; */
}

.popup_gui_btn {
    padding: 0;
    display: inline-block;
    padding-left: 0 !important;
    vertical-align: middle;
    float: right;
    clear: both;
    margin-right: 3.5rem;
    font-weight: lighter;
    cursor: pointer;
}

.popup_gui_close {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    cursor: pointer;
}

.popup_loan_close {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    cursor: pointer;
}

.edit_video_btn2 {
    text-align: right;
    position: absolute;
    right: 0.5rem;
    top: 4.5rem;
    z-index: 6;
}

.edit_video_btn2 span {
    font-size: 1rem;
    color: #fff;
    background-color: #009aca;
    display: block;
    width: 106px;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 3rem;
    float: right;
    cursor: pointer;
}

div.edit_video_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;
}

div.edit_video_popup div.edit_video_popup_container {
    position: relative;
    z-index: 6;
    max-width: 50rem;
    width: 90%;
    height: 30rem;
}

.background_black {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

div.edit_video_popup div.edit_video_popup_container p img {
    float: right;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

@media (max-width:1000px) {
    .id_merge_board_con_inner_wrap li {
        font-size: 1rem;
    }
}

.add_display_error {
    display: none;
}

.mall_error_msg {
    text-align: center;
    padding-top: 0;
    margin: 0;
    padding-bottom: 1rem;
    color: #dc1818;
}

.underline_1,
.underline_2 {
    position: relative;
}

.popup_add_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid;
    text-align: center;
    border-radius: 100%;
    line-height: 14px;
    font-size: 11px;
    margin-left: 0.25rem;
}

.mk_id {
    width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media(max-width:880px) {
    .popup_gui_btn {
        padding: 0;
        display: inline-block;
        padding-left: 0 !important;
        vertical-align: middle;
        float: right;
        clear: both;
        margin-right: 3.5rem;
        font-weight: lighter;
        cursor: pointer;
        margin-right: 48px;
        font-size: 25px !IMPORTANT;
        position: absolute;
        right: 0;
        top: -5px;
    }
    .popup_account.active {
        display: block;
        top:63%;
    }
    .popup_gui_container {
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 1rem;
        left: 0;
        /* top: 0; */
        z-index: 9;
        padding-right: 4rem;
        word-break: keep-all;
        display: none;
        border-radius: 0px 10px 10px 10px;
        min-width: 322px;
        /* top: -21rem; */
        top : unset;
        bottom : 101%;
        height : calc(25vh - 60px);
        overflow-y : scroll;
    }
    .popup_gui_container::-webkit-scrollbar{
        width : 5px;
    }
}

@media(max-width:720px) {
    .textbox_short {
        width: 100% !important;
    }
}