.link_my .m_my{display:flex;align-items:center;font-size:14px;color:#ffb839;}
.link_my .m_my img{margin:0 10px 0 0;}

.m_sideMenu_contents{padding:15px 0 0}
.m_sideMenu_contents .gnb_side{padding:0;background:transparent;}
.m_sideMenu_contents .gnb_side .menu{padding:0;}
.m_sideMenu_contents .gnb_side .menu .depth1{padding:15px;color:#fff}
.m_sideMenu_contents .gnb_side .menu .depth1{background: url("/assets/images/header/m_sideMenu_upicon.png") center right 1em no-repeat}
.depth1 a{color:#fff}
.depth1_displaynone {
    background: unset !IMPORTANT;
}
.m_sideMenu_contents .sub_gnb_side .sub_menu a{color:#fff}
.m_sideMenu_contents .sub_gnb_side .sub_menu .sub_sub .sub_sub_menu a{color:#fff;opacity:0.6}
.m_sideMenu_contents .sub_gnb_side .sub_menu.sub2depth.focus a{color:#fff;}
.m_sideMenu_contents .sub_gnb_side .sub_menu .sub_sub .sub_sub_menu.focus a{color:#fff;}
.m_sideMenu_contents .sub_gnb_side{display:block;border-bottom:1px solid #dddddd;padding:10px;}

.m_sideMenu_footer{margin:15px 0 0;height:60px;display:flex;padding:0 15px;align-items:center;justify-content:space-between;position: absolute;bottom: 0;width: 100%;background: #598ae2;}
.m_sideMenu_footer .sideMenu_footer_left a{color:#fff;font-size:12px;}
.m_sideMenu_footer .sideMenu_footer_right a{color:#fff;font-size:12px;margin:0 0 0 10px;}
.m_sideMenu_footer .sideMenu_footer_right a:first-child{margin:0}

.m_sideMenu_contents .gnb_side .menu.open .depth1{background: url("/assets/images/header/m_sideMenu_downicon.png") center right 1em no-repeat}
.m_sideMenu_cover{position: fixed;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,0.3);z-index: 9997;display: none}
.m_sideMenu_cover.active{display: block}
.m_sideMenu{padding: 0 0 60px;}

@media (max-width: 720px) {
  /*mobile_menu_font-size*/
  .gnb_side .menu .depth1 {
    font-size: 1.2em;
  }

  .m_sideMenu_footer .sideMenu_footer_right a {
    font-size: 14px;
  }

  .m_sideMenu_footer .sideMenu_footer_left a {
    font-size: 14px;
  }
}