.event_popup_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  font-size: 13px;
  line-height: 1.6;
  z-index: 9999;
  display: none;
}
.event_popup_container p, .event_popup_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.event_popup_container .event_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ddd;
  min-width: 560px;
  max-width: 600px;
}
.event_popup_container .event_popup .popup_header {
  position: relative;
  padding: 1rem;
  background: #3e59b9;
  border-bottom: 1px solid #ddd;
  margin: -1px;
}
.event_popup_container .event_popup .popup_header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.4;
  text-align: center;
}
.event_popup_container .event_popup .popup_header h2 strong {
  color: #ddce17;
}
.event_popup_container .event_popup .popup_header .pop_close {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background: none;
  border: 0;
  padding: 0;
  opacity: 0.8;
}
.event_popup_container .event_popup .popup_header .pop_close img {
  width: 100%;
  height: auto;
}
.event_popup_container .event_popup .popup_body {
  padding: 1rem;
}
.event_popup_container .event_popup .popup_body .event_msg_box {
  padding: 1rem;
  background: #efefef;
  margin-bottom: 1rem;
}
.event_popup_container .event_popup .popup_body .event_table table {
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-bottom: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.event_popup_container .event_popup .popup_body .event_table table th, .event_popup_container .event_popup .popup_body .event_table table td {
  text-align: center;
  padding: 0.5rem;
}
.event_popup_container .event_popup .popup_body .event_table table thead th {
  font-size: 11px;
  border-bottom: 1px solid #ddd;
  background: #efefef;
}
.event_popup_container .event_popup .popup_body .event_table table tbody.ronibot .type {
  background: #3e59b9;
  color: #fff;
}
.event_popup_container .event_popup .popup_body .event_table table tbody.paibot .type {
  background: #ddce17;
  color: #fff;
}

.event_popup_container .event_popup .popup_body .event_table table tbody.megabot .type {
  background: #0035e1;
  color: #fff;
}
.event_popup_container .event_popup .popup_body .event_table table tbody.gigabot .type {
  background: #ffc700;
  color: #fff;
}
.event_popup_container .event_popup .popup_body .event_table table tbody.terabot .type {
  background: #EC008C;
  color: #fff;
}

.event_popup_container .event_popup .popup_body .event_table table tbody tr:hover td:not(.event_msg) {
  background: #f5f5f5;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td.on {
  position: relative;
  outline: 2px solid #6382f0;
  outline-offset: -2px;
  background: #f5f5f5;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td.on.price::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -4px;
  height: 100%;
  height: calc(100% - 3px);
  width: 6px;
  background: #f5f5f5;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td.on.price::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background: url(/assets/images/common/event/check_circle.png) no-repeat left top;
  border-radius: 50%;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td:last-child {
  border-right: 0;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td del {
  display: block;
  color: #a6a6a6;
}
.event_popup_container .event_popup .popup_body .event_table table tbody td ins {
  text-decoration: none;
}
.event_popup_container .event_popup .popup_body .event_table .event_guide {
  padding-top: 1rem;
  border-top: 1px dashed #ddd;
  margin-bottom: 1rem;
  font-size: 12px;
}
.event_popup_container .event_popup .popup_body .event_table .event_guide ul li {
  text-indent: -15px;
  padding-left: 15px;
  color: #999;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  min-height: 25px;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot.on .t {
  display: inline-block;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name {
  color: #3e59b9;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name.ronibot {
  color: #3e59b9;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name.paibot {
  color: #ddce17;
}

.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name.megabot {
  color: #0035e1;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name.gigabot {
  color: #ffc700;
}
.event_popup_container .event_popup .popup_body .event_table .selected_bot .bot_name.terabot {
  color: #EC008C;
}

.event_popup_container .event_popup .popup_body .event_table .selected_bot .t {
  display: none;
}
.event_popup_container .event_popup .popup_footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
  margin: 0;
  width: 100%;
}
.event_popup_container .event_popup .popup_footer button {
  border: 1px solid #3e59b9;
  background: #3e59b9;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .event_popup_container {
    padding: 1rem;
  }
  .event_popup_container .event_popup {
    min-width: 94%;
    font-size: 12px;
  }
  .event_popup_container .event_popup .popup_header h2 {
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.04rem;
  }
  .event_popup_container .event_popup .popup_header h2 strong {
    margin-right: 10px;
  }
  .event_popup_container .event_popup .popup_header .pop_close {
    width: 20px;
    height: 20px;
    right: 15px;
  }
  .event_popup_container .event_popup .popup_body {
    max-height: calc(100vh - 135px);
    overflow: auto;
  }
  .event_popup_container .event_popup .popup_body .event_table table .event_msg {
    display: none;
  }
  .event_popup_container .event_popup .popup_body .event_table table tbody td.on.price {
    z-index: 2;
  }
  .event_popup_container .event_popup .popup_body .event_table table tbody td.on.price::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -4px;
    height: 100%;
    height: calc(100% - 3px);
    width: 6px;
    background: #f5f5f5;
    left: auto;
    right: -4px;
    border-radius: 0;
  }
  .event_popup_container .event_popup .popup_body .event_table table tbody td.on.event_money {
    z-index: 1;
  }
  .event_popup_container .event_popup .popup_body .event_table table tbody td.on.event_money::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: url(/assets/images/common/event/check_circle.png) no-repeat left top;
    border-radius: 50%;
  }
}
@media screen and (min-width: 0\0 ) and (min-resolution: 72dpi) {
  .event_popup_container .event_popup .popup_body .event_table table tbody td.on.price::before {
    top: 0;
    height: 100%;
    bottom: 0;
  }
}



/*popup*/
.radioDiv {
  display: flex;
  align-items: center;
}

/* .radioDiv input {
  display: none;
} */

.radioDiv input:checked+label {
  border: 1px solid #d8d8d8;
}

.radioDiv input:checked+label::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #009aca; */
  border-radius: 50%;
}

.radioDiv label.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  transition: ease-out 0.2s;
  position: relative;
  cursor: pointer;
  display: block;
  transform-origin: left;
}

.radioDiv label.circle:hover {
  border: 1px solid #d8d8d8;
}

.radioDiv label.textSpan {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.3px;
  color: #707070;
  cursor: pointer;
}

.checkBoxDiv {
  transform-origin: left;
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.checkBoxDiv label.checkBox {
  width: 12px;
  height: 12px;
  border: 1px solid #d8d8d8;
  position: relative;
  cursor: pointer;
  display: block;
}

.checkBoxDiv input.chkBox {
  display: none;
}

.checkBoxDiv input.chkBox:checked+label.checkBox {
  background-color: #009aca;
}

.checkBoxDiv input.chkBox:checked+label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 6px;
  height: 9px;
  box-shadow: inset 2px 2px #fff;
  transform: rotate(-135deg);
}

.checkBoxDiv label.textSpan {
  display: block;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.3px;
  color: #707070;
  cursor: pointer;
}

.new_popup_wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9998;
  /* display: none; */
}

.new_popup_wrap .display_none_back {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  /* display: none; */
}

.new_popup_wrap .pop_up_info_update {
  background-color: #fff;
  max-width: 490px;
  z-index: 50;
  /* display: none; */
  width: 100%;
}

.new_popup_wrap .pop_up_info_update .popup_top_title {
  text-align: left;
  font-size: 1rem;
  background-color: #333333;
  position: relative;
  line-height: 49px;
  height: 49px;
}

.new_popup_wrap .pop_up_info_update .popup_top_title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.42px;
  text-align: left;
  width: 90%;
  color: #fff;
  margin: 0 auto;
  font-weight: normal;
}

.new_popup_wrap .pop_up_info_update .popup_top_title .popup_close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 13px;
  cursor: pointer;
  padding: 0 10px;
}

.new_popup_wrap .pop_up_info_update .popup_top_title .popup_close div {
  background-color: #fff;
  width: 1px;
  height: 22px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  margin-left: 0.7rem;
}

.new_popup_wrap .pop_up_info_update .popup_top_title .popup_close div:nth-of-type(1) {
  transform: rotate(-45deg);
}

.new_popup_wrap .pop_up_info_update .box {
  width: 100%;
  padding: 16px 30px;
  box-sizing: border-box;
}

.new_popup_wrap .pop_up_info_update .box .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap .pop_up_info_update .box .flex.inner p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
  margin-right: 8px;
}

.new_popup_wrap .pop_up_info_update .box .flex.inner input {
  width: 134px;
  height: 34px;
  border: solid 1px #dcdcdc;
  background-color: #eee;
  font-size: 12px;
  text-indent: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #878787;
}

.new_popup_wrap .pop_up_info_update .box span.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 16px 0;
}

.new_popup_wrap .pop_up_info_update .box .borderBox {
  border: 1px solid #dcdcdc;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .title {
  background-color: #eee;
  padding: 8px 14px 9px 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .title p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .title button {
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 10px;
  letter-spacing: -0.3px;
  color: #009aca;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

.new_popup_wrap .pop_up_info_update .box .borderBox span.line {
  width: 90%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 0 auto;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  box-sizing: border-box;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .row .radioDiv {
  margin-right: 28px;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .row .radioDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .row .checkBoxDiv {
  margin-right: 30px;
}

.new_popup_wrap .pop_up_info_update .box .borderBox .row .checkBoxDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap .pop_up_info_update .box .bottom {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new_popup_wrap .pop_up_info_update .box .bottom .checkBoxDiv label.checkBox {
  width: 14px;
  height: 14px;
}

.new_popup_wrap .pop_up_info_update .box .bottom .checkBoxDiv input.chkBox:checked+label.checkBox::before {
  top: 0px;
  left: 3.55px;
  width: 7px;
  height: 10.5px;
}

.new_popup_wrap .pop_up_info_update .box .bottom .checkBoxDiv label.textSpan {
  font-size: 10px;
  margin-left: 6px;
  color: #a1a1a1;
  line-height: 16px;
}

.new_popup_wrap .pop_up_info_update .btn_confirm {
  color: #ffffff;
  font-size: 14px;
  background: #009aca;
  padding: 13px 0 14px 0;
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}


/**  new_popup_wrap2  */

.new_popup_wrap2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9998;
  /* display: none; */
}

.new_popup_wrap2 .display_none_back2 {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  /* display: none; */
}

.new_popup_wrap2 .pop_up_info_update {
  background-color: #fff;
  max-width: 490px;
  z-index: 50;
  /* display: none; */
  width: 100%;
}

.new_popup_wrap2 .pop_up_info_update .popup_top_title {
  text-align: left;
  font-size: 1rem;
  background-color: #333333;
  position: relative;
  line-height: 49px;
  height: 49px;
}

.new_popup_wrap2 .pop_up_info_update .popup_top_title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.42px;
  text-align: left;
  width: 90%;
  color: #fff;
  margin: 0 auto;
  font-weight: normal;
}

.new_popup_wrap2 .pop_up_info_update .popup_top_title .popup_close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 13px;
  cursor: pointer;
  padding: 0 10px;
}

.new_popup_wrap2 .pop_up_info_update .popup_top_title .popup_close div {
  background-color: #fff;
  width: 1px;
  height: 22px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  margin-left: 0.7rem;
}

.new_popup_wrap2 .pop_up_info_update .popup_top_title .popup_close div:nth-of-type(1) {
  transform: rotate(-45deg);
}

.new_popup_wrap2 .pop_up_info_update .box {
  width: 100%;
  padding: 16px 30px;
  box-sizing: border-box;
}

.new_popup_wrap2 .pop_up_info_update .box .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap2 .pop_up_info_update .box .flex.inner p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
  margin-right: 8px;
}

.new_popup_wrap2 .pop_up_info_update .box .flex.inner input {
  width: 134px;
  height: 34px;
  border: solid 1px #dcdcdc;
  background-color: #eee;
  font-size: 12px;
  text-indent: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #878787;
}

.new_popup_wrap2 .pop_up_info_update .box span.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 16px 0;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox {
  border: 1px solid #dcdcdc;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .title {
  background-color: #eee;
  padding: 8px 14px 9px 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .title p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .title button {
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 10px;
  letter-spacing: -0.3px;
  color: #009aca;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox span.line {
  width: 90%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 0 auto;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  box-sizing: border-box;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .row .radioDiv {
  margin-right: 28px;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .row .radioDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .row .checkBoxDiv {
  margin-right: 30px;
}

.new_popup_wrap2 .pop_up_info_update .box .borderBox .row .checkBoxDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap2 .pop_up_info_update .box .bottom {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new_popup_wrap2 .pop_up_info_update .box .bottom .checkBoxDiv label.checkBox {
  width: 14px;
  height: 14px;
}

.new_popup_wrap2 .pop_up_info_update .box .bottom .checkBoxDiv input.chkBox:checked+label.checkBox::before {
  top: 0px;
  left: 3.55px;
  width: 7px;
  height: 10.5px;
}

.new_popup_wrap2 .pop_up_info_update .box .bottom .checkBoxDiv label.textSpan {
  font-size: 10px;
  margin-left: 6px;
  color: #a1a1a1;
  line-height: 16px;
}

.new_popup_wrap2 .pop_up_info_update .btn_confirm {
  color: #ffffff;
  font-size: 14px;
  background: #009aca;
  padding: 13px 0 14px 0;
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}



/**  new_popup_wrap3  */

.new_popup_wrap3 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9998;
  /* display: none; */
}

.new_popup_wrap3 .display_none_back2 {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  /* display: none; */
}

.new_popup_wrap3 .pop_up_info_update {
  background-color: #fff;
  max-width: 490px;
  z-index: 50;
  /* display: none; */
  width: 100%;
}

.new_popup_wrap3 .pop_up_info_update .popup_top_title {
  text-align: left;
  font-size: 1rem;
  background-color: #333333;
  position: relative;
  line-height: 49px;
  height: 49px;
}

.new_popup_wrap3 .pop_up_info_update .popup_top_title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.42px;
  text-align: left;
  width: 90%;
  color: #fff;
  margin: 0 auto;
  font-weight: normal;
}

.new_popup_wrap3 .pop_up_info_update .popup_top_title .popup_close {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 13px;
  cursor: pointer;
  padding: 0 10px;
}

.new_popup_wrap3 .pop_up_info_update .popup_top_title .popup_close div {
  background-color: #fff;
  width: 1px;
  height: 22px;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  margin-left: 0.7rem;
}

.new_popup_wrap3 .pop_up_info_update .popup_top_title .popup_close div:nth-of-type(1) {
  transform: rotate(-45deg);
}

.new_popup_wrap3 .pop_up_info_update .box {
  width: 100%;
  padding: 16px 30px;
  box-sizing: border-box;
}

.new_popup_wrap3 .pop_up_info_update .box .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap3 .pop_up_info_update .box .flex.inner p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
  margin-right: 8px;
}

.new_popup_wrap3 .pop_up_info_update .box .flex.inner input {
  width: 134px;
  height: 34px;
  border: solid 1px #dcdcdc;
  background-color: #eee;
  font-size: 12px;
  text-indent: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #878787;
}

.new_popup_wrap3 .pop_up_info_update .box span.line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 16px 0;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox {
  border: 1px solid #dcdcdc;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .title {
  background-color: #eee;
  padding: 8px 14px 9px 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .title p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #707070;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .title button {
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 10px;
  letter-spacing: -0.3px;
  color: #009aca;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox span.line {
  width: 90%;
  display: block;
  height: 1px;
  background-color: #eee;
  margin: 0 auto;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  box-sizing: border-box;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .row .radioDiv {
  margin-right: 28px;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .row .radioDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .row .checkBoxDiv {
  margin-right: 30px;
}

.new_popup_wrap3 .pop_up_info_update .box .borderBox .row .checkBoxDiv label.textSpan {
  margin-left: 8px;
}

.new_popup_wrap3 .pop_up_info_update .box .bottom {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new_popup_wrap3 .pop_up_info_update .box .bottom .checkBoxDiv label.checkBox {
  width: 14px;
  height: 14px;
}

.new_popup_wrap3 .pop_up_info_update .box .bottom .checkBoxDiv input.chkBox:checked+label.checkBox::before {
  top: 0px;
  left: 3.55px;
  width: 7px;
  height: 10.5px;
}

.new_popup_wrap3 .pop_up_info_update .box .bottom .checkBoxDiv label.textSpan {
  font-size: 10px;
  margin-left: 6px;
  color: #a1a1a1;
  line-height: 16px;
}

.new_popup_wrap3 .pop_up_info_update .btn_confirm {
  color: #ffffff;
  font-size: 14px;
  background: #009aca;
  padding: 13px 0 14px 0;
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=popup.css.map */
