@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import "/assets/css/common.css?ver=20231206_01";
@import "/assets/css/member.css?ver=20221007_06";
@import "/assets/css/my.css?ver=20231117_01";
@import "/assets/css/cs.css";
@import "/assets/css/responsive.css?ver=20211122_01";
@import "/assets/css/swiper_edit.css";
/*에러,메일,로딩 반응형*/
@import "/assets/css/mail_res.css";
@import "/assets/css/loading_res.css";
@import "/assets/css/error_res.css";
/*크로스브라우징*/
@media all and (-ms-high-contrast:none) {
   /*all*/
 /*  20200220 수정   
   @media (max-width:5000px) {
     html, body {
       font-size: 15px
     }
   }

   @media (max-width:1680px) {}

   @media (max-width:1600px) {
     html, body {
       font-size: 14px
     }
   }

   @media (max-width:1440px) {
     html, body {
       font-size: 13px
     }
   }

   @media (max-width:1366px) {
     html, body {
       font-size: 12px
     }
   }

   @media (max-width:1280px) {
     html, body {
       font-size: 11px
     } */

   /*index start*/
   .tooltip_txt {
     font-size:0.8em;
   }
/*    
   .info_inquiry {
     font-size:0.8em;
   } */
   /*index end*/
   /*payment start
   .area_all_payment .status_box {
     width:10.3rem;
   }*/
   .gnb_top li a {
     width:10.7em;
   }
   /*payment end*/
   /*account start*/
   .account_sum_text_wrap h1 {
     font-size:1.4rem;
   }
   .account_sum_bank_info_list li {
     height:4rem;
   }
   .account_sum_text_wrap {
     margin-bottom: 2rem;
   }
   .account_sum_bank_info_title {
     position: absolute;
     right:0;
     top:-2rem;
   }
   .account_sum_bank_info {
     position: relative;
   }
   /*account end*/

}