@charset "UTF-8";
.container_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

#section1 {
  position: relative;
}
#section1 #sec1_title_div {
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 3rem;
}

#sec1_title_div h1 {
  color: #333333;
  font-size: 1.5rem;
}
#sec1_title_div h1 > span {
  font-weight: bold;
  position: relative;
}
#sec1_title_div h2 {
  font-size: 1.125rem;
  color: #333333;
}
#sec1_title_div h1 span::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  right: 0;
  width: 10rem;
  height: 1rem;
  background: #FFDE00;
  opacity: 0.5;
  z-index: -10;
}

#frist_line > th {
  padding: 0.6rem 0rem;
}
#frist_line > th:nth-of-type(1) {
  background: #fafafa;
  font-size: 1rem;
  color: #6C6C6C;
  width: 40%;
}

thead > tr > td {
  padding: 1rem 0rem;
}

th tr:nth-of-type(1),
tbody tr td:nth-of-type(1) {
  background: #FAFAFA;
  width: 15%;
}

tr {
  text-align: center;
}

.b_gray {
  color: #6C6C6C;
  font-size: 1rem;
  font-weight: bold;
}

#top_line {
  border-top: 1px solid #D7D7D7;
}

table {
  border-left: 1px solid #D7D7D7;
}

tr {
  border-top: 1px solid #D7D7D7;
}
tr td {
  border-right: 1px solid #D7D7D7;
}

#top_line {
  font-size: 0.875rem;
  color: #1a1a1a;
}
#top_line td:nth-of-type(1) {
  background: #fff;
}

tbody > tr:nth-of-type(1) td:nth-of-type(2), tbody > tr:nth-of-type(2) td:nth-of-type(2) {
  font-size: 0.875rem;
  color: #1a1a1a;
}

td > .original_price,
.display_price > .original_price {
  color: #888888;
  display: inline-block;
  font-size: 0.875rem;
  position: relative;
}
td > .original_price::after,
.display_price > .original_price::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background: #888888;
  top: 0.6rem;
  left: -0.1rem;
}
td > .discount_price,
.display_price > .discount_price {
  color: #FF1515;
  font-size: 1rem;
  font-weight: bold;
}

tbody > tr > .bold_black {
  width: 20%;
  font-size: 1rem;
  color: #1a1a1a;
  font-weight: bold;
}
tbody > tr > td:nth-of-type(2) {
  font-size: 0.875rem;
  color: #1a1a1a;
  width: 20%;
  padding: 1rem 0;
  word-break: keep-all;
}
tbody > tr > td:nth-of-type(3), tbody > tr > td:nth-of-type(4), tbody > tr > td:nth-of-type(5) {
  width: 20%;
}

.check_icon {
  width: 1rem;
  margin: 0 auto;
  vertical-align: middle;
}

.class_icon {
  width: 0.85rem;
  margin: 0 auto;
  vertical-align: middle;
}

#select_div {
  text-align: right;
}

#ronibot,
#paibot,
#megabot,
#gigabot,
#terabot {
  width: 21%;
  display: inline-block;
  margin-bottom: 0.5rem;
  position: relative;
}

#ronibot img,
#paibot img,
#megabot img,
#gigabot img,
#terabot img {
  width: 2.5rem;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  left: 50%;
  margin-left: -1.25rem;
  top: -0.8rem;
}

thead tr td {
  font-size: 0.875rem;
}
thead tr td:nth-of-type(1) {
  background: #fafafa;
}

td .data_div {
  display: inline-block;
  width: 30%;
  font-size: 0.875rem;
}

.data_div:nth-of-type(1) {
  position: relative;
}
.data_div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2rem;
  top: 0.3rem;
  right: 0;
  background: #D7D7D7;
}

.ticket_select_button_container {
  border-top: 1px solid #C4C4C4;
  display:none;
}
.ticket_select_button_container #row {
  margin-bottom: 1rem;
}

.table_container + .ticket_select_button_container {
  border-top: 0;
}
.table_container + .ticket_select_button_container #row {
  margin-bottom: 3rem;
}

#select_ticket {
  text-align: center;
  font-size: 1.125rem;
  margin-top: 2rem;
}
#select_ticket .ticket_name {
  display: inline-block;
  margin-right: 3px;
}
#select_ticket .ticket_name span {
  color: #1a1a1a;
  font-weight: bold;
}
#select_ticket .ticket_name span.ronibot {
  color: #0035e1;
}
#select_ticket .ticket_name span.paibot {
  color: #ffc700;
}
#select_ticket .ticket_name span.bankbot {
  color: #85b86f;
}

#select_ticket .ticket_name span.megabot {
  color: #0035e1;
}
#select_ticket .ticket_name span.gigabot {
  color: #ffc700;
}
#select_ticket .ticket_name span.terabot {
  color: #EC008C;
}

#select_ticket .ticket_name span + span {
  margin-left: 0.5rem;
}
#select_ticket .ticket_name span:last-child::after {
  display: none;
}
#select_ticket .ticket_name span::after {
  content: ",";
}

table {
  border-bottom: 1px solid #D7D7D7;
}

#row {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 3rem;
}

#next_btn_top,
#next_btn_bottom {
  background: #0035E1;
  color: #fff;
  width: 12.5rem;
  height: 3rem;
  font-size: 1.125rem;
  border-radius: 3px;
  font-weight: bold;
}

#sec3_title {
  text-align: center;
  font-size: 1.375rem;
  color: #333333;
  margin-bottom: 3.5rem;
}
#sec3_title span {
  font-weight: bold;
}

.swiper-container_bottom {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  border: 1px solid #eaeaea;
  border-top: 0;
}
.swiper-container_bottom .swiper-wrapper .swiper-slide {
  height: 40rem;
}

#bottom_slider_menu {
  font-size: 0;
  display: flex;
  border: 1px solid #d7d7d7;
  border-right: 0;
}
#bottom_slider_menu li {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #1a1a1a;
  display: inline-flex;
  flex: 1;
  height: 3.6rem;
  vertical-align: middle;
  background: #F0F0F0;
  border-right: 1px solid #d7d7d7;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  padding: 0 1rem;
}

.click_menu {
  background: #2DABE8 !important;
  font-weight: bold !important;
  color: #fff !important;
  border-color: #2DABE8 !important;
}

.second_menu {
  padding: 1rem 2rem;
  background: #000000;
  opacity: 0.8;
  z-index: 9;
  position: relative;
}
.second_menu li {
  margin-right: 1rem;
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875rem;
}
.second_menu li:last-of-type {
  margin-top: 1rem;
  display: block;
  cursor: inherit;
  text-decoration: none;
}

.secound_click_active {
  color: #2DABE8 !important;
  font-weight: bold;
}

.swiper-container_bottom .swiper-button-next {
  right: 0;
  background: url(/assets/images/icon/next_white.png) no-repeat;
  background-position: center 1rem;
  background-size: 1.5rem;
  background-color: #333;
  opacity: 0.6;
  top: 23rem;
  width: 6rem;
  color: #fff;
  height: 7rem;
  font-size: 0.875rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 0.5rem;
  display: none;
}
.swiper-container_bottom .swiper-button-prev {
  left: 0;
  background: url(/assets/images/icon/prev_white.png) no-repeat;
  background-color: #333;
  opacity: 0.6;
  background-position: center 1rem;
  background-size: 1.5rem;
  top: 23rem;
  width: 6rem;
  color: #fff;
  height: 7rem;
  font-size: 0.875rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 0.5rem;
  display: none;
}

#section3 {
  margin-bottom: 10rem;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7rem;
}

.botttom_slide1 {
  width: 100%;
}

#section2_pc {
  display: block;
  position: relative;
}

#sec2_mb {
  display: none;
}

.mb_ticket_header {
  background: #FAFAFA;
  border-bottom: 1px solid #D7D7D7;
  border-radius: 3px 3px 0 0;
  padding: 1rem 2rem;
  font-size: 0;
}
.mb_ticket_header h1 {
  color: #1a1a1a;
  font-size: 1.273rem;
  display: inline-block;
  width: 40%;
  padding-left: 1.5rem;
  position: relative;
  vertical-align: middle;
}
.mb_ticket_header h1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.45rem;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #C4C4C4;
}
.mb_ticket_header .roni_one::after {
  background: #0035E1;
}
.mb_ticket_header .pai_one::after {
  background: #FFDE00;
}
.mb_ticket_header .bank_one::after {
  background: #85b86f;
}
.mb_ticket_header h2 {
  display: inline-block;
  width: 60%;
  font-size: 1.455rem;
  color: #1a1a1a;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
}
.mb_ticket_header .original_price {
  font-size: 0.9rem;
  color: #888888;
  display: block;
  line-height: 0.8rem;
  position: relative;
}
.mb_ticket_header .original_price::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 1px;
  right: 0;
  top: 0.4rem;
  background: #888888;
}
.mb_ticket_header .discount_price {
  font-size: 1.25rem;
  color: #FF2B2B;
  font-weight: bold;
}

.data_mb {
  display: inline-block;
  font-size: 1rem;
  color: #1a1a1a;
  width: 35%;
  text-align: left;
  font-weight: 600;
  position: relative;
}

.data_mb2 {
  position: relative;
  display: inline-block;
  width: 65%;
  font-size: 1rem;
  text-align: right;
}
.data_mb2 span {
  font-size: 0.9rem;
  color: #1a1a1a;
  font-weight: bold;
}

.data_mb3 {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
}

.slide_info {
  font-size: 0;
}
.slide_info .title {
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}
.slide_info h2 {
  font-size: 0.95rem;
  font-weight: 600;
  color: #1a1a1a;
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: top;
  margin-top: 0.5rem;
}
.slide_info p {
  color: #575757;
  font-size: 0.95rem;
  width: 80%;
  display: inline-block;
  margin-top: 0.5rem;
}

.data_div_box {
  font-size: 0;
  margin-bottom: 2rem;
  margin-top: 0;
}
.data_div_box.event {
  position: relative;
  overflow: hidden;
  margin: -1rem -2rem 2rem;
  padding: 1rem 2rem 2rem;
  background: #fafafa;
  border-bottom: 1px solid #d7d7d7;
}
.data_div_box.event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #d7d7d7;
}
.data_div_box.event::after {
  content: "EVENT";
  position: absolute;
  top: 5px;
  right: -28px;
  font-size: 0.725rem;
  color: #fff;
  background: #2DABE8;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.data_div_box.event::before {
  display: none;
}
.data_div_box.event .data_mb2 {
  text-align: left;
}
.data_div_box.event .data_mb2 span {
  font-size: 1.05em;
  color: #598ae2;
}

.slide_info .mb_icon {
  width: 20%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.slide_info .mb_icon img {
  width: 1.3rem;
  display: inline-block;
}

.mobile_selected {
  border: 3px solid #2DABE8 !important;
}

.swiper-container_ticket_free,
.swiper-container_ticket_free2,
.swiper-container_ticket_free3,
.swiper-container_ticket_bankbot {
  border-radius: 3px;
}

.swiper-container_ticket_free .mb_slider_group,
.swiper-container_ticket_free2 .mb_slider_group,
.swiper-container_ticket_free3 .mb_slider_group,
.swiper-container_ticket_bankbot .mb_slider_group {
  padding: 1rem 2rem;
}

.mb_one_line {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.swiper-container_ticket_free .swiper-slide,
.swiper-container_ticket_free2 .swiper-slide,
.swiper-container_ticket_free3 .swiper-slide,
.swiper-container_ticket_bankbot .swiper-slide {
  position: relative;
}

.swiper-container_bottom .swiper-pagination,
#bottom_menu_mb {
  display: none;
}

.buy_titles {
  margin-top: 7.5rem;
  position: relative;
  width: 10rem;
  text-align: center;
  margin: 0 auto;
}
.buy_titles h1 {
  color: #333333;
  font-weight: bold;
  font-size: 1.375rem;
  position: relative;
  z-index: 10;
}
.buy_titles span {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 10rem;
  height: 1rem;
  background: rgba(45, 171, 232, 0.3);
  right: 0;
  top: 0.6rem;
  z-index: 0;
}

#ticket_types,
#ticket_types2 {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

#ticket_types,
#ticket_types2 {
  margin-top: 2rem;
}

#ticket_types .ticket_type_header,
#ticket_types2 .ticket_type_header {
  margin-bottom: 0.75rem;
}
#ticket_types .ticket_type_header h1,
#ticket_types2 .ticket_type_header h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
#ticket_types .ticket_type_box,
#ticket_types2 .ticket_type_box {
  position: relative;
  background: #FFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  position: relative;
  padding: 1rem 1.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
#ticket_types .ticket_type_box .vat,
#ticket_types2 .ticket_type_box .vat {
  font-size: 90%;
  color: #999;
  margin-left: 2px;
}
#ticket_types .ticket_type_box .btn_line,
#ticket_types2 .ticket_type_box .btn_line {
  position: relative;
  margin: 1.5rem -1.25rem -1rem;
  padding: 0.75rem;
  border-top: 1px solid #d7d7d7;
  background: #FAFAFA;
}
#ticket_types .ticket_type_box .btn_line button,
#ticket_types2 .ticket_type_box .btn_line button {
  background: #FFF;
}
#ticket_types .ticket_type_box .btn_line select,
#ticket_types2 .ticket_type_box .btn_line select {
  height: 40px;
  line-height: 38px;
  min-width: 150px;
  padding: 0 0.5rem;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: #d7d7d7;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.25rem;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.freebot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.freebot {
  background: #e0e0e0;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.ronibot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.ronibot {
  background: #0035e1;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.paibot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.paibot {
  background: #ffc700;
}

#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.megabot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.megabot {
  background: #0035e1;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.gigabot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.gigabot {
  background: #ffc700;
}
#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.terabot,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.terabot {
  background: #EC008C;
}

#ticket_types .ticket_type_box .btn_line .current_selected_ticket span.active,
#ticket_types2 .ticket_type_box .btn_line .current_selected_ticket span.active {
  border: 2px solid #2DABE8;
  background-image: url(/assets/images/icon/check_white.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
#ticket_types .ticket_type_box::before,
#ticket_types2 .ticket_type_box::before {
  position: absolute;
  top: 10px;
  right: -25px;
  width: 100px;
  height: 30px;
  font-size: 0.725rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
#ticket_types .ticket_type_box.ronibot::before,
#ticket_types2 .ticket_type_box.ronibot::before {
  content: "로니봇";
  background-color: #0035e1;
}
#ticket_types .ticket_type_box.paibot::before,
#ticket_types2 .ticket_type_box.paibot::before {
  content: "파이봇";
  background-color: #ffc700;
}
#ticket_types .ticket_type_box.bankbot::before,
#ticket_types2 .ticket_type_box.bankbot::before {
  content: "뱅크봇";
  background-color: #85b86f;
}

#ticket_types .ticket_type_box.megabot::before,
#ticket_types2 .ticket_type_box.megabot::before {
  content: "메가봇";
  background-color: #0035e1;
}
#ticket_types .ticket_type_box.gigabot::before,
#ticket_types2 .ticket_type_box.gigabot::before {
  content: "기가봇";
  background-color: #ffc700;
}
#ticket_types .ticket_type_box.terabot::before,
#ticket_types2 .ticket_type_box.terabot::before {
  content: "테라봇";
  background-color: #EC008C;
}

#ticket_types h2,
#ticket_types2 h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

#ticket_types .result .body h2 {
  font-size: 1.25rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

/* #ticket_types h2 span::before,
#ticket_types2 h2 span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #d7d7d7;
  vertical-align: middle;
  top: -2px;
  margin-right: 0.35rem;
} */

#ticket_types h2 #roni,
#ticket_types2 h2 #roni {
  color: #0035e1;
}

/* #ticket_types h2 #roni::before,
#ticket_types2 h2 #roni::before {
  background: #0035e1;
}*/

#ticket_types h2 #pai,
#ticket_types2 h2 #pai {
  color: #ffc700;
}

#ticket_types h2 #pai::before,
#ticket_types2 h2 #pai::before {
  background: #ffc700;
}

#ticket_types h2 #mega,
#ticket_types2 h2 #mega {
  color: #0035e1;
}

#ticket_types h2 #mega::before,
#ticket_types2 h2 #mega::before {
  background: #0035e1;
}

#ticket_types h2 #giga,
#ticket_types2 h2 #giga {
  color: #ffc700;
}

#ticket_types h2 #giga::before,
#ticket_types2 h2 #giga::before {
  background: #ffc700;
}

#ticket_types h2 #tera,
#ticket_types2 h2 #tera {
  color: #EC008C;
}

#ticket_types h2 #tera::before,
#ticket_types2 h2 #tera::before {
  background: #EC008C;
}

#ticket_types h2 #bank,
#ticket_types2 h2 #bank {
  color: #85b86f;
}

#ticket_types h2 #bank::before,
#ticket_types2 h2 #bank::before {
  background: #85b86f;
}

#ticket_types h3,
#ticket_types2 h3 {
  font-size: 1rem;
  margin-top: 1rem;
}

#ticket_types .result {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 5px;  
}

#ticket_types .result .header {
  height: 3.3rem;
  text-align: right;
}

#ticket_types .result .body {
  margin-left: 2rem;
  margin-right: 2rem;
}

#ticket_types .result .footer {
  height: 3.3rem;
}

#ticket_total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
#ticket_total_price .total_price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #598ae2;
}

.ribons {
  position: relative;
  right: 2rem;
  top: 0;
  width: 2rem;
  height: 3.3rem;
  display: inline-block;
}

#blue_ticket {
  background: url(/assets/images/icon/ribon.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#y_ticket {
  background: url(/assets/images/icon/ribon_y.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.btn_line {
  text-align: right;
}

.btn_line #change_ticket {
  border: 1px solid #2DABE8;
  border-radius: 3px;
  width: 8rem;
  height: 2.5rem;
  color: #2dabe8;
  font-size: 0.9rem;
}

#section02 {
  max-width: 30rem;
  margin: 0 auto;
  width: 100%;
}

#section02 input {
  display: none;
}

#section02 input[class="checkbox"] + label {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
}
#section02 input[class="checkbox"]:checked + label {
  width: 15px;
  height: 15px;
  background: url("/assets/images/icon/check_black.png") no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #C4C4C4;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}

#check_title {
  font-size: 0.8125rem;
  color: #1a1a1a;
  font-weight: bold;
  display: inline-block;
}

#section02 h1 {
  font-size: 0.8125rem;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
}

#alert_agrees_div {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 3rem;
  margin-bottom: 1rem;
}

div#checked {
  padding: 1rem 0rem;
  margin-top: 1rem;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

#disagree_text2 {
  font-size: 0.9rem;
  color: #FF2B2B;
  text-align: center;
  margin-bottom: 0.5rem;
}

#disagree_text {
  font-size: 0.9rem;
  color: #FF2B2B;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none;
}

#payed_title,
#nomal_payed_title {
  text-align: center;
  color: #1a1a1a;
  font-size: 1rem;
  /* margin-top: 4rem; */
}

.text_align_center {
  text-align: center;
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
}

#payed_card {
  max-width: 17.5rem;
  width: 100%;
  height: 4rem;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background: url("/assets/images/icon/card.png") no-repeat;
  background-size: 2.5rem;
  font-size: 0.9rem;
  background-position: 1.5rem 0.7rem;
  font-weight: bold;
  color: #1a1a1a;
  padding-left: 1rem;
  box-sizing: border-box;
}
#payed_card span {
  font-weight: 400;
}

#next_step,
#btnPaymentInfo {
  background: #888888;
  border-radius: 3px;
  color: #fff;
  width: 10rem;
  height: 2.8rem;
  margin-top: 3rem;
}

.checked_row:nth-of-type(1) {
  margin-bottom: 0.5rem;
}

#thanks_text {
  text-align: left;
  font-size: 0.8125rem;
  color: #888888;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #C4C4C4;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}
#thanks_text #not_free {
  display: none;
}

#payed_title2 {
  max-width: 30rem;
  width: 100%;
  font-size: 0.8125rem;
  color: #1a1a1a;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 3rem;
}

.buy_titles2 {
  margin-top: 7.5rem;
  position: relative;
  width: 16rem;
  text-align: center;
  margin: 0 auto;
}
.buy_titles2 h1 {
  color: #333333;
  font-weight: bold;
  font-size: 1.375rem;
  position: relative;
  z-index: 10;
}
.buy_titles2 span {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 16rem;
  height: 1rem;
  background: rgba(45, 171, 232, 0.3);
  right: 0;
  top: 0.6rem;
  z-index: 0;
}

#card_info {
  max-width: 17.5rem;
  width: 100%;
  height: 4rem;
  font-size: 0.8125rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
}
#card_info h1 {
  font-size: 0.8125rem;
  color: #1a1a1a;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1rem;
  font-weight: bold;
}
#card_info h1 span {
  font-weight: 300;
}

#card_icons {
  background: url(/assets/images/icon/card.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  display: inline-block;
}

.swiper_border .swiper-slide {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  min-height: 340px;
}

.button_edit1 {
  left: -3rem;
  top: 66%;
}

.button_edit2 {
  right: -3rem;
  top: 66%;
}

.nav_text {
  min-height: 40px;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: block;
}

.blue_active {
  color: #2DABE8;
  text-decoration: underline;
  cursor: pointer;
}

/*============================
  #page_title_top_div
  ============================*/
div#page_title_top_div {
  background: #F8F8F8;
  text-align: center;
  height: 6.5rem;
  padding: 1rem 0rem;
}
div#page_title_top_div h1 {
  color: #333333;
  font-weight: bold;
  font-size: 1.688rem;
}
div#page_title_top_div h2 {
  color: #888888;
  font-size: 1rem;
}

/*============================
  #tree_menu_ul
  ============================*/
ul#tree_menu_ul {
  max-width: 1200px;
  height: 3.125rem;
  margin: 0 auto;
  font-size: 0;
  margin-top: 4.875rem;
  margin-bottom: 6rem;
}

#tree_menu_ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue_active2 {
  background: #2DABE8 !important;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: bold !important;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
}
.blue_active2 a {
  color: #fff;
}

ul#tree_menu_ul li {
  vertical-align: middle;
  display: inline-block;
  width: 33.3333%;
  background: #F3F3F3;
  border: 1px solid #D7D7D7;
  font-size: 1rem;
  height: 100%;
  text-align: center;
  display: inline-flex;
  color: #1a1a1a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
ul#tree_menu_ul li:nth-of-type(1) {
  border-radius: 30px 0 0 30px;
}
ul#tree_menu_ul li:nth-of-type(3) {
  border-radius: 0px 30px 30px 0px;
}
ul#two_menu_ul {
  max-width: 600px;
  height: 3.125rem;
  margin: 0 auto;
  font-size: 0;
  /* display: none; */
  margin-top: 4.875rem;
  margin-bottom: 6rem;
}
ul#two_menu_ul li {
  display: inline-block;
  width: 50%;
  background: #F3F3F3;
  border: 1px solid #D7D7D7;
  font-size: 1rem;
  height: 100%;
  text-align: center;
  display: inline-flex;
  color: #1a1a1a;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
ul#two_menu_ul li.blue_active {
  background: #2DABE8;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
ul#two_menu_ul li:nth-of-type(1) {
  border-radius: 30px 0 0 30px;
}
ul#two_menu_ul li:nth-of-type(2) {
  border-radius: 0 30px 30px 0;
}

/*============================
  #two_menu_ul
  ============================*/
/*============================
  #m_sec1
  ============================*/
div#m_sec1 div.row {
  margin-bottom: 1rem;
}
div.row img.left_icon {
  display: inline-block;
  width: 3.25rem;
  vertical-align: middle;
}
div.row h1.m_sec_title {
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  color: #1A1A1A;
  display: inline-block;
  padding-left: 0.6rem;
}
div.row .q_icon {
  display: inline-block;
  width: 1rem;
  vertical-align: middle;
  margin-left: 0.3rem;
  cursor: pointer;
  height: 1rem;
}
div.row div.q_popup {
  display: inline-block;
  background: #1a1a1a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: none;
  position: absolute;
  margin-left: 1.5rem;
}
div.row div.q_popup h1 {
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  vertical-align: middle;
}
div.row div.q_popup img.close_popup {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5rem;
  cursor: pointer;
}
div#m_sec1 table#useing_service {
  border: none;
  margin-bottom: 5rem;
  font-size: 1rem;
}
div#m_sec1 table#useing_service thead {
  background: #FAFAFA;
}
div#m_sec1 table#useing_service thead tr {
  height: 3rem;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#useing_service thead tr th {
  color: #1a1a1a;
  font-size: 1rem;
}
div#m_sec1 table#useing_service thead tr th:nth-of-type(1) {
  width: 15%;
}
div#m_sec1 table#useing_service thead tr th:nth-of-type(2), div#m_sec1 table#useing_service thead tr th:nth-of-type(3), div#m_sec1 table#useing_service thead tr th:nth-of-type(4) {
  width: 20%;
}
div#m_sec1 table#useing_service thead tr th:nth-of-type(5) {
  width: 10%;
}
div#m_sec1 table#useing_service thead tr th:nth-of-type(6) {
  width: 15%;
}
div#m_sec1 table#useing_service tbody tr {
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#useing_service tbody tr td {
  border-right: none;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 0.875rem;
}
div#m_sec1 table#useing_service tbody tr td:nth-of-type(1) {
  width: 15%;
}
div#m_sec1 table#useing_service tbody tr td:nth-of-type(2), div#m_sec1 table#useing_service tbody tr td:nth-of-type(3), div#m_sec1 table#useing_service tbody tr td:nth-of-type(4) {
  width: 20%;
}
div#m_sec1 table#useing_service tbody tr td:nth-of-type(5) {
  width: 10%;
}
div#m_sec1 table#useing_service tbody tr td:nth-of-type(6) {
  width: 15%;
}
div#m_sec1 table#useing_service tbody tr td span.stop_paying, div#m_sec1 table#useing_service tbody tr td span.bundle_cancel {
  color: #AEAEAE;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
div#m_sec1 table#useing_service tbody tr td span.paying00 {
  color: #2DABE8;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 0.7rem;
  cursor: pointer;
}
div#m_sec1 table#useing_service tbody tr td[rowspan="2"] {
  white-space: nowrap;
  padding: 0 3rem;
  border-left: 1px solid #d7d7d7;
}
/* 2023-04-06 해지신청 페이지 예상 호나불금액 테이블 추가*/
div#m_sec1 table#expected_refund_amount {
  border: none;
  margin-bottom: 5rem;
  font-size: 1rem;
}
div#m_sec1 table#expected_refund_amount thead {
  background: #FAFAFA;
}
div#m_sec1 table#expected_refund_amount thead tr {
  height: 3rem;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#expected_refund_amount thead tr th {
  color: #1a1a1a;
  font-size: 1rem;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(1)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(1) {
  width: 10%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(2)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(2) {
  width: 14%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(3)
, div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(4)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(3)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(4) {
  width: 10%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(5)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(5) {
  width: 14%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(6)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(6) {
  width: 14%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(7)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(7) {
  width: 14%;
}
div#m_sec1 table#expected_refund_amount thead tr th:nth-of-type(8)
, div#m_sec1 table#expected_refund_amount tbody tr td:nth-of-type(8) {
  width: 14%;
}
div#m_sec1 table#expected_refund_amount tbody tr {
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#expected_refund_amount tbody tr td {
  border-right: none;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 0.875rem;
}
div#m_sec1 table#expected_refund_amount tbody tr td span.stop_paying, div#m_sec1 table#expected_refund_amount tbody tr td span.bundle_cancel {
  color: #AEAEAE;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
div#m_sec1 table#expected_refund_amount tbody tr td span.paying00 {
  color: #2DABE8;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 0.7rem;
  cursor: pointer;
}
div#m_sec1 table#expected_refund_amount tbody tr td[rowspan="2"] {
  white-space: nowrap;
  padding: 0 3rem;
  border-left: 1px solid #d7d7d7;
}


/* 2020-08-28 이용중인 서비스 테이블 수정 START */
div#m_sec1 table#using_service_new {
  border: none;
  margin-bottom: 5rem;
  font-size: 1rem;
}
div#m_sec1 table#using_service_new thead {
  background: #FAFAFA;
}
div#m_sec1 table#using_service_new thead tr {
  height: 3rem;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#using_service_new thead tr th {
  color: #1a1a1a;
  font-size: 1rem;
}
div#m_sec1 table#using_service_new thead tr th:nth-of-type(1), div#m_sec1 table#using_service_new thead tr th:nth-of-type(2) {
  width: 10%;
}
div#m_sec1 table#using_service_new thead tr th:nth-of-type(3), div#m_sec1 table#using_service_new thead tr th:nth-of-type(4), div#m_sec1 table#using_service_new thead tr th:nth-of-type(5), div#m_sec1 table#using_service_new thead tr th:nth-of-type(6) {
  width: 15%;
}
div#m_sec1 table#using_service_new thead tr th:nth-of-type(7), div#m_sec1 table#using_service_new thead tr th:nth-of-type(8) {
  width: 10%;
}
div#m_sec1 table#using_service_new tbody tr {
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec1 table#using_service_new tbody tr td {
  border-right: none;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 0.875rem;
}
div#m_sec1 table#using_service_new tbody tr td:nth-of-type(1), div#m_sec1 table#using_service_new tbody tr td:nth-of-type(2) {
  width: 10%;
}
div#m_sec1 table#using_service_new tbody tr td:nth-of-type(3), div#m_sec1 table#using_service_new tbody tr td:nth-of-type(4), div#m_sec1 table#using_service_new tbody tr td:nth-of-type(5), div#m_sec1 table#using_service_new tbody tr td:nth-of-type(6) {
  width: 15%;
}
div#m_sec1 table#using_service_new tbody tr td:nth-of-type(7), div#m_sec1 table#using_service_new tbody tr td:nth-of-type(8) {
  width: 10%;
}
div#m_sec1 table#using_service_new tbody tr td span.stop_paying, div#m_sec1 table#using_service_new tbody tr td span.bundle_cancel {
  color: #AEAEAE;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
div#m_sec1 table#using_service_new tbody tr td span.paying00 {
  color: #2DABE8;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 0.7rem;
  cursor: pointer;
}
div#m_sec1 table#using_service_new tbody tr td[rowspan="2"] {
  white-space: nowrap;
  padding: 0 3rem;
  border-left: 1px solid #d7d7d7;
}
/* 2020-08-28 이용중인 서비스 테이블 수정 END */
div#m_sec2 {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
div#m_sec2 div.row {
  margin-bottom: 1rem;
}
div#m_sec2 table#useing_service {
  border: none;
}
div#m_sec2 table#useing_service thead {
  background: #FAFAFA;
}
div#m_sec2 table#useing_service thead tr th {
  height: 3rem;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec2 table#useing_service tbody tr {
  border-top: none;
  border-bottom: 1px solid #D7D7D7;
}
div#m_sec2 table#useing_service tbody tr td {
  background: #fff;
  border-right: none;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 0.875rem;
}

/*============================
  #useing_service
  ============================*/
/*============================
  #m_sec2
  ============================*/
/*============================
  #useing_service
  ============================*/
tbody tr td span.change_payment_btn {
  color: #2DABE8;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
tbody tr td span + span {
  margin-left: 0.75rem;
}

/*============================
  #m_sec3
  ============================*/
div#m_sec3 {
  margin-bottom: 10rem;
}
div#m_sec3 div.row {
  margin-bottom: 1rem;
}
div#m_sec3 div.row img.left_icon {
  width: 2.188rem;
}
div#m_sec3 table#useing_service {
  border: none;
}
div#m_sec3 table#useing_service thead {
  background: #FAFAFA;
}
div#m_sec3 table#useing_service thead tr th {
  height: 3rem;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec3 table#useing_service tbody tr {
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
}
div#m_sec3 table#useing_service tbody tr td {
  border-right: none;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 0.875rem;
}
div#m_sec3 table#useing_service tbody tr td:nth-of-type(2) {
  padding-left: 1rem;
}
div#m_sec3 table#useing_service tbody tr td button.open_s_point {
  margin-left: 0.5rem;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
}

/*============================
  #useing_service
  ============================*/
#m_sec3_mb button.open_s_point_mb {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 6rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 0.9091rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

div#m_sec3 table#useing_service tbody tr td.two_row h1 {
  color: #1a1a1a;
  font-size: 0.875rem;
}
div#m_sec3 table#useing_service tbody tr td.two_row h2 {
  color: #616161;
  font-size: 0.625rem;
}
div#m_sec3 table#useing_service tbody tr td span.cancel_reservation_point {
  color: #AEAEAE;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
div#m_sec3 table#useing_service tbody tr td span.reservation_point {
  color: #2DABE8;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 0.7rem;
  cursor: pointer;
}
div.s_modal {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
div#s_modal_body {
  background: #fff;
  opacity: 1;
  z-index: 1;
  max-width: 50rem;
  width: 90%;
  position: absolute;
  padding: 3rem 2rem;
  height: auto;
  max-height: 90%;
}
div#s_modal_body div#s_header img#close_btn {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
div#s_modal_body div#s_header img#y_alert {
  display: inline-block;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
div#s_modal_body div#s_header h1 {
  display: inline-block;
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: bold;
  vertical-align: middle;
}
div#s_modal_body div#s_header h2 {
  display: inline-block;
  font-size: 1.1rem;
  color: #aaaaaa;
  vertical-align: middle;
}
div#s_modal_body h1#text2 {
  font-size: 1rem;
  color: #1a1a1a;
  margin-top: 2rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
div#s_modal_body table#s_point_modal_table {
  margin-top: 1rem;
  border: 1px solid #D7D7D7;
}
div#s_modal_body table#s_point_modal_table thead tr th {
  background: #F3F3F3;
  height: 2.6rem;
  width: 50%;
  font-size: 0.875rem;
  color: #1a1a1a;
}
div#s_modal_body table#s_point_modal_table tbody tr td {
  background: #fff;
  font-size: 0.875rem;
  color: #1a1a1a;
  border-right: none;
}
div#s_modal_body table#s_point_modal_table tbody tr td:nth-of-type(1) {
  position: relative;
}
div#s_modal_body table#s_point_modal_table tbody tr td:nth-of-type(1)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  top: 25%;
  height: 50%;
  background: #d7d7d7;
}
div#s_modal_body table#s_point_modal_table tfoot tr td {
  background: #F3F3F3;
  height: 2.6rem;
  width: 50%;
  font-size: 0.875rem;
  color: #1a1a1a;
  font-weight: bold;
  border-right: none;
}
div#s_modal_body table#s_point_modal_table tfoot tr td#total_point_blue {
  color: #2DABE8;
}
div#s_modal_body h1#null_s_point {
  font-size: 1rem;
  color: #888;
  text-align: center;
  height: 13rem;
  display: none;
  align-items: center;
  justify-content: center;
}
div#s_modal_body button#close_s_modal {
  max-width: 12.5rem;
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background: #2DABE8;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 3rem;
  display: block;
}

.m_sevice_mb div.row {
  margin-bottom: 1rem;
  padding: 0rem 2rem;
}

#m_sec3_mb.m_sevice_mb div.row img.left_icon {
  width: 3rem;
}

.m_sevice_mb div.row img.left_icon {
  display: inline-block;
  width: 4.727rem;
  vertical-align: middle;
}
.m_sevice_mb div.row h1.m_sec_title {
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: bold;
  color: #1A1A1A;
  display: inline-block;
  padding-left: 0.6rem;
}
.m_sevice_mb div.row img.q_icon {
  display: inline-block;
  width: 1.3rem;
  vertical-align: middle;
  margin-left: 0.3rem;
  cursor: pointer;
  height: 1.3rem;
}
.m_sevice_mb ul.mb_table_service.gray_s_date {
  color: #616161;
  font-size: 1.273rem;
}

#m_sec3_mb .gray_s_date {
  color: #616161;
  font-size: 0.9rem;
}

.width50,
.point_s {
  width: 50% !important;
}

.m_sevice_mb .m_sevice_mb_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m_sevice_mb .m_sevice_mb_header .button {
  margin-right: -10px;
}

.m_sevice_mb ul.mb_table_service.ticket_info {
  margin: 0 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
}
.m_sevice_mb ul.mb_table_service.ticket_info .blue_liner0 {
  padding-right: 0 !important;
}
.m_sevice_mb ul.mb_table_service.ticket_info li > h1 {
  white-space: nowrap;
}
.m_sevice_mb ul.mb_table_service.ticket_info li:last-child {
  border-bottom: 0;
}
.m_sevice_mb ul.mb_table_service + .mb_table_service {
  margin-top: 1rem;
}
.m_sevice_mb ul.mb_table_service li {
  font-size: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #F3F3F3;
}
.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 {
  margin-bottom: 3rem;
  background: #F3F3F3;
  padding: 1rem 2rem;
  position: relative;
}
.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 h1 {
  font-size: 1.091rem;
  display: inline-block;
  width: 50%;
}
.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 h2 {
  position: relative;
  font-size: 0.8182rem;
  font-weight: bold;
  color: #1a1a1a;
  display: inline-block;
  width: 50%;
  text-align: right;
  z-index: 2;
}
.m_sevice_mb ul.mb_table_service li.gray_bg2 {
  background: #F3F3F3;
  padding: 1rem 2rem;
  position: relative;
  margin-bottom: 3rem;
}
.m_sevice_mb ul.mb_table_service li.gray_bg2.mb_header {
  margin-bottom: 0;
}
.m_sevice_mb ul.mb_table_service li.gray_bg {
  background: #F3F3F3;
  padding: 1rem 2rem;
  position: relative;
  border-top: 1px solid #ddd;
}
.m_sevice_mb ul.mb_table_service li.gray_bg::after {
  content: "";
  position: absolute;
  right: 1.3rem;
  background: #2DABE8;
  opacity: 0.3;
  height: 1rem;
  top: 1.4rem;
  width: 5rem;
}
.m_sevice_mb ul.mb_table_service li.gray_bg h1 {
  display: inline-block;
  width: 50%;
}
.m_sevice_mb ul.mb_table_service li.gray_bg h2.blue_liner0 {
  width: 50%;
  padding-right: 2rem;
}
.m_sevice_mb ul.mb_table_service li > h1 {
  font-size: 1.1rem;
  display: inline-block;
  width: 35%;
  color: #1a1a1a;
}
.m_sevice_mb ul.mb_table_service li h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #1a1a1a;
  position: relative;
  display: inline-block;
  width: 65%;
  text-align: right;
  z-index: 2;
}
.m_sevice_mb ul.mb_table_service li .s_mb_btn_row {
  display: inline-block;
  width: 80%;
  text-align: right;
}
.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.payment {
  background: #F3F3F3;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: bold;
}
.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.change_payment_btn, .m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.receipt_btn {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 0.9091rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.reservation_point_mb {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 6rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 0.9091rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.reservation_point_mb_cancel {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 6rem;
  height: 2.5rem;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 0.9091rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  display: none;
}
.m_sevice_mb ul.mb_table_service li button.stop_paying {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  width: 5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  font-size: 0.9091rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

#m_sec2_mb,
#m_sec1_mb,
#m_sec3_mb {
  display: none;
}

div.popup_table_form {
  width: 100%;
}
div.popup_table_form div.popup_table_form_color {
  background-color: #f3f3f3;
}
div.popup_table_form div.popup_table_form_color div.row {
  width: 100%;
  font-size: 0;
  text-align: center;
}
div.popup_table_form div.popup_table_form_color div.row div.col {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  padding: 1rem 0;
}

.scroll_active {
  height: 27.88rem;
  overflow-y: auto;
}

div.popup_table_form div.popup_table_form_body div.row {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}
div.popup_table_form div.popup_table_form_body div.row div.col {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  padding: 0.3rem 0;
}
div.popup_table_form div.popup_table_form_color div.row div.col.bold {
  font-weight: bold;
}
div.popup_table_form div.popup_table_form_color div.row div.col.color.bold {
  color: #2DABE8;
}

/*============================
  #close_account_title
  ============================*/
h1#close_account_title {
  font-size: 1.5rem;
  color: #1a1a1a;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}
h1#close_account_title span {
  color: #598ae2;
}

/*============================
  #ticket_type_ingfo2
  ============================*/
div#ticket_type_ingfo2 {
  background: #F9F9F9;
  border: 1px solid #d7d7d7;
  font-size: 0;
  margin-bottom: 3rem;
}
div#ticket_type_ingfo2 > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
}
div#ticket_type_ingfo2 > .row + .row {
  border-top: 1px solid #d7d7d7;
}
div#ticket_type_ingfo2 div#left {
  width: 50%;
  display: inline-block;
}
div#ticket_type_ingfo2 div#left h1 {
  font-size: 1.125rem;
  color: #1a1a1a;
  font-weight: bold;
}
div#ticket_type_ingfo2 div#left h2 {
  font-size: 0.875rem;
  color: #797979;
  margin-top: 0.3rem;
}
div#ticket_type_ingfo2 div#right {
  display: inline-block;
  width: 50%;
  text-align: right;
}
div#ticket_type_ingfo2 div#right h1 {
  font-size: 1.25rem;
  font-weight: bold;
}
div#ticket_type_ingfo2 div#right h1.useing {
  color: #2DABE8;
}
div#ticket_type_ingfo2 div#right h1.stop_useing {
  color: #888888;
}

/*============================
  #left
  ============================*/
/*============================
  #right
  ============================*/
/*============================
  #this-alert
  ============================*/
p#this-alert {
  font-size: 0.9rem;
  color: #888888;
  margin-bottom: 3.5rem;
}

/*============================
  #close_account_reason
  ============================*/
div#close_account_reason {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 5rem;
}
div#close_account_reason div.line01 {
  margin-top: 2rem;
  font-size: 0;
}
div#close_account_reason div.line01 > h1 {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  color: #1a1a1a;
  vertical-align: top;
}
div#close_account_reason div.line01 select#reason {
  width: 75%;
  height: 2.5rem;
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  background: url("/assets/images/icon/under_.png") no-repeat;
  background-size: 1.3rem;
  background-position: 26.5rem 0.6rem;
  background-color: #fff;
  -webkit-appearance: none;
}
div#close_account_reason div.line01 h1 span {
  color: #797979;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}
div#close_account_reason div.line01 textarea {
  width: 75%;
  padding: 0.5rem;
  height: 13rem;
  overflow-y: auto;
  vertical-align: middle;
}
div#close_account_reason div.line01 div.line02 {
  display: inline-block;
  vertical-align: top;
}
div#close_account_reason .line02 h1 {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}
div#close_account_reason div.line01 div.line02 h2 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.6rem;
  vertical-align: middle;
}
div#close_account_reason div.line01 div.line02 button {
  background: #E7E7E7;
  border-radius: 3px;
  width: 7rem;
  height: 2.4rem;
  vertical-align: middle;
}
div#close_account_reason div.line01 div.line02 img {
  display: inline-block;
  width: 1rem;
  margin-left: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: 0;
}
div#close_account_reason div.line01 div.line02 p {
  font-size: 0.8rem;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
}
div#close_account_reason div.line01 button#back {
  background: #E7E7E7;
  color: #1a1a1a;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 3px;
  margin-right: 1rem;
}
div#close_account_reason div.line01 button#agree {
  background: #2DABE8;
  color: #fff;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 3px;
  margin-right: 1rem;
}

/*============================
  #reason
  ============================*/
/*============================
  #back
  ============================*/
/*============================
  #agree
  ============================*/
#checked_user {
  display: none;
}

#reason option:nth-of-type(1) {
  color: #888 !important;
}

/*============================
  #close_account_alert_div
  ============================*/
div#close_account_alert_div {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
div#close_account_alert_div ul {
  max-width: 35rem;
  background: #fff;
  position: relative;
  width: 100%;
  max-height: 14rem;
  height: 100%;
  display: flex;
  z-index: 2;
}
div#close_account_alert_div ul img {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
div#close_account_alert_div ul li {
  font-size: 0;
}
div#close_account_alert_div ul li:nth-of-type(1) {
  height: 70%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#close_account_alert_div ul li h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #666666;
}
div#close_account_alert_div ul li h1 span {
  margin: 0 0.5rem;
  color: #1a1a1a;
}
div#close_account_alert_div ul li:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
div#close_account_alert_div ul li button#close_this_modal {
  width: 50%;
  display: inline-block;
  background: #C0C0C0;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  height: 4rem;
}
div#close_account_alert_div ul li button#account_agree {
  width: 50%;
  display: inline-block;
  background: #009ACA;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  height: 4rem;
}
div#close_account_alert_div div#bg {
  position: absolute;
  background: rgba(25, 25, 25, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
div#close_account_reason div.line01 div.line02 button {
  background: #E7E7E7;
  border-radius: 3px;
  width: 7rem;
  height: 2.4rem;
  vertical-align: middle;
  font-size: 0.875rem;
}
div.change_card_payment_div {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
div.change_card_payment_div div#change_card_payment_body {
  max-width: 40rem;
  width: 90%;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 2rem;
}
div.change_card_payment_div div#change_card_payment_body img#x {
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
}
div.change_card_payment_div div#change_card_payment_body h1 {
  font-size: 1.1rem;
  color: #1a1a1a;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}
div.change_card_payment_div div#change_card_payment_body h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1a1a1a;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_num {
  font-size: 0;
  margin: 0 auto;
  text-align: center;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_num input {
  width: 23.5%;
  display: inline-block;
  height: 2rem;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(1), div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(2), div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(3) {
  position: relative;
  margin-right: 2%;
  height: 2rem;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(1)::after, div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(2)::after, div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(3)::after {
  content: "";
  position: absolute;
}
div.change_card_payment_div div#change_card_payment_body div#card_mm_yy input#mm {
  max-width: 6rem;
  height: 2rem;
}
div.change_card_payment_div div#change_card_payment_body div#card_mm_yy input#yy {
  max-width: 6rem;
  width: 100%;
  height: 2rem;
}
div.change_card_payment_div div#change_card_payment_body h1 span {
  color: #666666;
  font-size: 0.9rem;
}
div.change_card_payment_div div#change_card_payment_body div#pwd span {
  margin-right: 0.3rem;
  vertical-align: middle;
}
div.change_card_payment_div div#change_card_payment_body div#pwd input {
  max-width: 3rem;
  width: 100%;
  height: 2rem;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11 {
  display: none;
  vertical-align: middle;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11[type="checkbox"] + label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #d7d7d7;
  background: #fff;
  vertical-align: middle;
  margin-top: 1rem;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11[type="checkbox"]:checked + label {
  width: 1rem;
  height: 1rem;
  border: 1px solid #d7d7d7;
  background: #fff;
  background: url("/assets/images/icon/check_black.png") no-repeat;
  display: inline-block;
  background-size: 50%;
  background-position: center;
  vertical-align: middle;
  margin-top: 1rem;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ > h1 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.3rem;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ h1 span {
  color: #2DABE8;
  text-decoration: underline;
  cursor: pointer;
}
div.change_card_payment_div div#change_card_payment_body div#checked_agree_ p#red_alert {
  color: #EE0000;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div {
  font-size: 0;
  margin-top: 2rem;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div button#close_div {
  width: 48%;
  background: #E7E7E7;
  border-radius: 3px;
  height: 3rem;
  font-size: 1.1rem;
}
div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div button#ok {
  width: 48%;
  background: #2DABE8;
  border-radius: 3px;
  height: 3rem;
  font-size: 1.1rem;
  margin-left: 4%;
}
div.change_card_payment_div div#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(25, 25, 25, 0.4);
}

/*============================
  #close_this_modal
  ============================*/
/*============================
  #account_agree
  ============================*/
/*============================
  #bg
  ============================*/
/*============================
  #change_card_payment_body
  ============================*/
/*============================
  #x
  ============================*/
/*============================
  #change_card_num
  ============================*/
/*============================
  #card_mm_yy
  ============================*/
/*============================
  #mm
  ============================*/
/*============================
  #yy
  ============================*/
/*============================
  #pwd
  ============================*/
/*============================
  #checked_agree_
  ============================*/
/*============================
  #agree11
  ============================*/
/*============================
  #red_alert
  ============================*/
/*============================
  #change_card_payment_btn_div
  ============================*/
/*============================
  #close_div
  ============================*/
/*============================
  #ok
  ============================*/
/*============================
  #bg
  ============================*/
#margin0 {
  margin-right: 0 !important;
}

/*============================
  #change_ticket_type_modals
  ============================*/
div#change_ticket_type_modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
div#change_ticket_type_modals div#parent_div {
  background: #fff;
  max-width: 34rem;
  width: 90%;
  padding: 2rem;
  position: relative;
  z-index: 3;
}
div#change_ticket_type_modals div#parent_div h1#title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1a1a1a;
}
div#change_ticket_type_modals div#parent_div h2#title2 {
  color: #666666;
  font-size: 1.1rem;
  margin-top: 1rem;
}
div#change_ticket_type_modals div#parent_div div.round_g_box {
  background: #F9F9F9;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  position: relative;
  padding: 2rem;
}
div#change_ticket_type_modals div#parent_div div.round_g_box img#roni_ribon {
  display: inline-block;
  width: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
div#change_ticket_type_modals div#parent_div div.round_g_box h1 {
  font-size: 1.1rem;
  color: #1a1a1a;
  font-weight: bold;
}
div#change_ticket_type_modals div#parent_div div.round_g_box h1 span#roni {
  color: #0035E1;
}
div#change_ticket_type_modals div#parent_div div.round_g_box h2 {
  color: #888888;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
div#change_ticket_type_modals div#parent_div div.round_g_box img#pai_ribon {
  display: inline-block;
  width: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0;
}
div#change_ticket_type_modals div#parent_div p {
  font-size: 0.9rem;
  color: #666666;
  margin-top: 2rem;
  padding: 0rem 2rem;
}
div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div {
  font-size: 0;
  margin-top: 3rem;
}
div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div button#close_div {
  background: #C0C0C0;
  width: 48%;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 5px;
}
div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div button#ok {
  background: #009ACA;
  width: 48%;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-left: 4%;
  color: #fff;
}
div#change_ticket_type_modals div#bg {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.6);
}
div#ticket_type_popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
div#ticket_type_popup ul {
  background: #fff;
  max-width: 32rem;
  width: 90%;
  position: absolute;
  z-index: 2;
}
div#ticket_type_popup ul li:nth-of-type(1) {
  font-size: 0.9rem;
  color: #1a1a1a;
  text-align: center;
  padding: 4rem 0rem;
  position: relative;
}
div#ticket_type_popup ul li:nth-of-type(1) img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  top: 1em;
  right: 1rem;
  cursor: pointer;
}
div#ticket_type_popup ul li:last-of-type button {
  color: #fff;
  background: #009ACA;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 1.2rem 0rem;
}
div#ticket_type_popup div#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.6);
  z-index: 1;
}

/*============================
  #parent_div
  ============================*/
/*============================
  #title
  ============================*/
/*============================
  #title2
  ============================*/
/*============================
  #roni_ribon
  ============================*/
/*============================
  #roni
  ============================*/
/*============================
  #pai_ribon
  ============================*/
/*============================
  #change_card_payment_btn_div
  ============================*/
/*============================
  #close_div
  ============================*/
/*============================
  #ok
  ============================*/
/*============================
  #bg
  ============================*/
/*============================
  #ticket_type_popup
  ============================*/
/*============================
  #bg
  ============================*/
.mb_table_service .ac_menu_icon {
  display: inline-block;
  width: 1.3rem;
  position: absolute;
  top: 1.2rem;
}

div.agree_text_popup_wrap {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
}
div.agree_text_popup_wrap div.display_none_back {
  position: absolute;
  height: auto;
  background-color: #fff;
  display: block;
  max-width: 40rem;
  width: 100%;
  opacity: 1;
  z-index: 33;
}

.agree_script_div {
  display: none;
}

div.agree_text_popup_wrap div.display_none_back h1 {
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
  height: 23rem;
  border: 1px solid #dbdbdb;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
div.agree_text_popup_wrap div.display_none_back #title {
  text-align: left;
  font-size: 1rem;
  background-color: #333333;
  position: relative;
  line-height: 49px;
  height: 49px;
  text-align: left;
}
div.agree_text_popup_wrap div.display_none_back #title h1 {
  font-size: 1.25rem;
  width: 90%;
  color: #fff;
  margin: 0 auto;
  font-weight: normal;
  height: auto;
  border: none;
}
div.agree_text_popup_wrap div#bg {
  position: absolute;
  top: 0;
  background: rgba(25, 25, 25, 0.6);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*============================
  #bg
  ============================*/
.search_button_div {
  display: inline-block;
}

.top_btn_container {
  position: fixed;
  max-width: 1380px;
  width: 95%;
  left: 50%;
  margin-left: -690px;
  bottom: 14%;
  text-align: right;
  height: 1px;
  z-index: 6;
}

.edit_top_btn {
  background: url(/assets/images/peersale/state_top_btn.png) no-repeat;
  background-color: #EAEAEA;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 4.85rem;
  background-size: 0.875rem;
  background-position: center 0.875rem;
  cursor: pointer;
  float: right;
}
.edit_top_btn h1 {
  color: #333333;
  text-align: center;
  display: block;
  font-size: 0.875rem;
}

.swiper_left_area {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9rem;
  height: 100%;
  z-index: 6;
}

.swiper_right_area {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 9rem;
  height: 100%;
  z-index: 6;
}

div.popup_change_1 {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9;
}
div.popup_change_1 div.popup_header {
  padding: 1.5rem 1.25rem;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}
div.popup_change_1 div.popup_header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  /* color: ; */
}
div.popup_change_1 div.popup_header img#close_btn {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
div.popup_change_1 form div.row {
  margin-top: 2rem;
  padding-left: 1.5rem;
}
div.popup_change_1 form div.row h1.title {
  font-size: 1.15rem;
  color: #333;
  margin-bottom: 0.5rem;
}
div.popup_change_1 form div.row div input {
  width: 10%;
  min-width: 3.5rem;
  padding: 0.3rem;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left: 0;
}
div.popup_change_1 form div.row h1 {
  font-size: 1.15rem;
  color: #333;
  margin-bottom: 0.5rem;
}
div.popup_change_1 form div.row div div.col {
  display: inline-block;
  min-width: 0;
  max-width: 100px;
  font-size: 1rem;
  margin-right: 0.5rem;
}
div.popup_change_1 form div.row div div.col input {
  width: 2.8rem;
  text-align: center;
  padding-left: 0;
}
div.popup_change_1 form div.row div h1 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 0.3rem;
}
div.popup_change_1 form div.agree {
  margin-top: 2rem;
  padding-left: 1.5rem;
}
div.popup_change_1 form div.agree input {
  display: inline-block;
  vertical-align: middle;
}
div.popup_change_1 form div.agree h1 {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.13rem;
  width: calc(100% - 20px - 0.5rem);
  word-break: keep-all;
}
div.popup_change_1 form div.agree h1 p {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  color: #2DABE8;
}

/*============================
  #close_btn
  ============================*/
.popup_change_1 .error {
  color: #ea2929;
  display: none;
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  word-break: keep-all;
}

.popup_box .button_row {
  display: flex;
}

.button_row {
  text-align: center;
  margin-top: 2rem;
  display: block;
  font-size: 0;
}
.button_row button.close {
  display: inline-flex;
  font-size: 1.15rem;
  text-align: center;
  color: #ffffff;
  background-color: #aaa;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1rem 0;
}
.button_row button.chg_ticket {
  display: inline-flex;
  font-size: 1.15rem;
  text-align: center;
  color: #fff;
  background-color: #2DABE8;
  border: 0;
  margin-left: 0;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
}
.button_row input {
  display: inline-flex;
  font-size: 1.15rem;
  text-align: center;
  color: #fff;
  background-color: #2DABE8;
  border: 0;
  margin-left: 0;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
}

.popup_box {
  background-color: #fff;
  position: relative;
  z-index: 6;
  max-width: 420px;
  width: 90%;
}
.popup_box .popup_2_contents + .popup_2_contents {
  margin-top: 2rem;
}

.popup_black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.agree input[class="checkbox"] + label {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
}
.agree input[class="checkbox"]:checked + label {
  width: 15px;
  height: 15px;
  background: url(/assets/images/icon/check_black.png) no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #C4C4C4;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}

.popup_box_2 #ticket_types {
  width: 90%;
  padding-bottom: 0;
  margin: 0.5rem auto;
  margin-top: 0.5rem;
}

.change_title {
  font-size: 1.15rem;
  padding-left: 1.5rem;
  margin-top: 2rem;
}

.gui_text {
  font-size: 0.875rem;
  text-align: left;
  width: calc(100% - 3rem);
  margin: 0 auto;
  display: block;
  word-break: keep-all;
  color: #6d6d6d;
}

.vid_btn_container {
  margin-bottom: 1rem;
  text-align: right;
}
.vid_btn_container .vid_btn {
  font-size: 1rem;
  color: #fff;
  background-color: #2DABE8;
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  width: auto;
}

.vid_btn2 {
  font-size: 1rem;
  color: #fff;
  background-color: #009aca;
  display: block;
  width: 106px;
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 3rem;
  cursor: pointer;
  position: absolute;
  top: -1.875rem;
}

.my_wra.product_guide {
  overflow: visible;
}

#section2_pc .table_container {
  position: relative;
  display:none;
}
#section2_pc .table_container .bot_select_label {
  position: absolute;
  top: 1px;
  bottom: 1px;
  opacity: 0;
  outline-offset: -1px;
  cursor: pointer;
  z-index: 9;
}
#section2_pc .table_container .bot_select_label input {
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
}
#section2_pc .table_container .bot_select_label::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 26px;
  height: 26px;
  background: url(/assets/images/icon/check_white.png) no-repeat center center;
  background-size: 50%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
#section2_pc .table_container .bot_select_label:hover, #section2_pc .table_container .bot_select_label.is_active {
  opacity: 1;
}
#section2_pc .table_container .bot_select_label:hover::after, #section2_pc .table_container .bot_select_label.is_active::after {
  display: block;
}
#section2_pc .table_container .bot_select_label:hover {
  z-index: 10;
}
#section2_pc .table_container .bot_select_label.is_active + .bot_select_label:hover,
#section2_pc .table_container .bot_select_label.is_active + .is_active, #section2_pc .table_container .bot_select_label.disabled + .bot_select_label:hover,
#section2_pc .table_container .bot_select_label.disabled + .is_active {
  z-index: 8;
}
#section2_pc .table_container .bot_select_label.freebot_selector, #section2_pc .table_container .bot_select_label.ronibot_selector, #section2_pc .table_container .bot_select_label.paibot_selector {
  width: 160px;
}
#section2_pc .table_container .bot_select_label.freebot_selector_nb, #section2_pc .table_container .bot_select_label.ronibot_selector_nb, #section2_pc .table_container .bot_select_label.paibot_selector_nb {
  width: 240px;
}
#section2_pc .table_container .bot_select_label.freebot_selector {
  background: rgba(224, 224, 224, 0.25);
  right: 580px;
  outline: 2px solid #e0e0e0;
}
#section2_pc .table_container .bot_select_label.freebot_selector_nb {
  background: rgba(224, 224, 224, 0.25);
  right: 480px;
  outline: 2px solid #e0e0e0;
}
#section2_pc .table_container .bot_select_label.freebot_selector::after, #section2_pc .table_container .bot_select_label.freebot_selector_nb::after {
  background-color: #bababa;
}
#section2_pc .table_container .bot_select_label.ronibot_selector {
  background: rgba(0, 53, 225, 0.1);
  right: 420px;
  outline: 2px solid #0035e1;
}
#section2_pc .table_container .bot_select_label.ronibot_selector_nb {
  background: rgba(0, 53, 225, 0.1);
  right: 240px;
  outline: 2px solid #0035e1;
}
#section2_pc .table_container .bot_select_label.ronibot_selector::after, #section2_pc .table_container .bot_select_label.ronibot_selector_nb::after {
  background-color: #2f60ff;
}
#section2_pc .table_container .bot_select_label.ronibot_selector.disabled ~ table thead th.ronibot, #section2_pc .table_container .bot_select_label.ronibot_selector_nb.disabled ~ table thead th.ronibot {
  background: #999 !important;
}
#section2_pc .table_container .bot_select_label.paibot_selector {
  background: rgba(255, 199, 0, 0.1);
  right: 260px;
  outline: 2px solid #ffc700;
}
#section2_pc .table_container .bot_select_label.paibot_selector_nb {
  background: rgba(255, 199, 0, 0.1);
  right: 0px;
  outline: 2px solid #ffc700;
}
#section2_pc .table_container .bot_select_label.paibot_selector::after, #section2_pc .table_container .bot_select_label.paibot_selector_nb::after {
  background-color: #ffd84d;
}
#section2_pc .table_container .bot_select_label.paibot_selector.disabled ~ table thead th.paibot, #section2_pc .table_container .bot_select_label.paibot_selector_nb.disabled ~ table thead th.paibot {
  background: #999 !important;
}
#section2_pc .table_container .bot_select_label.bankbot_selector {
  width: 240px;
  background: rgba(133, 184, 111, 0.1);
  right: 0;
  outline: 2px solid #85b86f;
}
#section2_pc .table_container .bot_select_label.bankbot_selector::after {
  background-color: #b0d1a2;
}
#section2_pc .table_container .bot_select_label.bankbot_selector.disabled ~ table thead th.bankbot {
  background: #999 !important;
}
#section2_pc .table_container .bot_select_label.disabled {
  opacity: 1;
  outline-color: #d7d7d7 !important;
  background: rgba(0, 0, 0, 0.05) !important;
}
#section2_pc .table_container .bot_select_label.disabled::after {
  display: block;
  background-color: #cacaca !important;
}
#section2_pc .table_container .freebot,
#section2_pc .table_container .ronibot,
#section2_pc .table_container .paibot {
  width: 160px !important;
}
#section2_pc .table_container .bankbot,
#section2_pc .table_container .bankbotYear {
  width: 240px !important;
}
#section2_pc .table_container table {
  position: relative;
  table-layout: fixed;
  border-bottom: 0;
}
#section2_pc .table_container table tr {
  border-top: 0;
}
#section2_pc .table_container table tr#frist_line th {
  font-size: 1rem;
  font-weight: 700;
  width: auto;
}
#section2_pc .table_container table tr#frist_line th:last-child {
  border-right: 0;
}
#section2_pc .table_container table tr#frist_line th:not(.freebot):not(.b_gray) {
  color: #fff;
}
#section2_pc .table_container table tr#frist_line th.freebot {
  background: #e0e0e0;
}
#section2_pc .table_container table tr#frist_line th.ronibot {
  background: #0035e1;
}
#section2_pc .table_container table tr#frist_line th.paibot {
  background: #ffc700;
}

#section2_pc .table_container table tr#frist_line th.megabot {
  background: #0035e1;
}
#section2_pc .table_container table tr#frist_line th.gigabot {
  background: #ffc700;
}
#section2_pc .table_container table tr#frist_line th.terabot {
  background: #EC008C;
}

#section2_pc .table_container table tr#frist_line th.bankbot {
  background: #85b86f;
}
#section2_pc .table_container table tr th,
#section2_pc .table_container table tr td {
  border: 1px solid #d7d7d7;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
}
#section2_pc .table_container table tr th.ronibot, #section2_pc .table_container table tr th.paibot, #section2_pc .table_container table tr th.bankbot,
#section2_pc .table_container table tr td.ronibot,
#section2_pc .table_container table tr td.paibot,
#section2_pc .table_container table tr td.bankbot {
  cursor: pointer;
}
#section2_pc .table_container table tr th.blank,
#section2_pc .table_container table tr td.blank {
  width: 20px !important;
  border: 0;
  padding: 0;
}
#section2_pc .table_container table tr td {
  width: auto;
}
#section2_pc .table_container table tr td:nth-of-type(1) {
  width: 100px;
}
#section2_pc .table_container table tr td.label {
  word-break: keep-all;
}
#section2_pc .table_container table tr td[rowspan="11"] .data_div {
  margin: 1rem 0;
}
#section2_pc .table_container table tr td.bankbot {
  vertical-align: top;
}
#section2_pc .table_container table tr td.bankbot .data_div:first-child::before {
  opacity: 0;
}
#section2_pc .table_container table tr td .data_div {
  display: block;
  width: 100%;
  margin: 2px 0;
}
#section2_pc .table_container table tr td .data_div.event {
  position: relative;
  border-bottom: 1px solid #d7d7d7;
  padding: 1rem 0;
  margin: -0.75rem -1rem 1.5rem;
  width: auto;
  overflow: hidden;
  background: #fafafa;
  min-height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section2_pc .table_container table tr td .data_div.event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #d7d7d7;
}
#section2_pc .table_container table tr td .data_div.event::after {
  content: "EVENT";
  position: absolute;
  top: 5px;
  right: -28px;
  font-size: 0.725rem;
  color: #fff;
  background: #2DABE8;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
#section2_pc .table_container table tr td .data_div.event .display_price {
  margin-top: 0.75rem;
}
#section2_pc .table_container table tr td .data_div .label {
  display: inline-block;
  width: 52px;
  white-space: nowrap;
  text-align: right;
  margin-right: 5px;
}
#section2_pc .table_container table tr td .data_div strong {
  font-size: 12px;
  margin-bottom: 5px;
}
#section2_pc .table_container table tr td .data_div strong + p {
  font-size: 12px;
  color: #777;
  margin-top: 2px;
}
#section2_pc .table_container table tr td .data_div ul {
  margin-top: 15px;
}
#section2_pc .table_container table tr td .data_div ul li {
  font-size: 12px;
  color: #777;
  margin-bottom: 15px;
  line-height: 1.4;
}
#section2_pc .table_container table tr td .data_div::after {
  display: none;
}
#section2_pc .table_container table tbody tr:last-child {
  border-bottom: 0;
}
#section2_pc .table_container table tbody tr td::before {
  content: "";
  position: relative;
}
#section2_pc .table_container table .paibot_active::after {
  content: '';
  right: 20.7% !important;
}

.disable_ronibot::after {
  content: '';
  position: absolute;
  border: 5px solid #a0a0a0;
  width: 20.9%;
  right: 20.7% !important;
  top: 0;
  height: 99.5%;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}

p.specialText {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  letter-spacing: -0.4px;
  color: #e70606;
}

@media (max-width: 880px) {
  #sec1_title_div h1 span::after {
    width: 8rem;
  }

  .tui-datepicker {
    z-index: 9;
  }

  .tui-datepicker-input.tui-has-focus {
    border-color: #aaa;
    margin: 0.5rem 0;
  }

  .time_select_item_2 {
    width: 100% !important;
  }

  .middle_text {
    display: none !important;
  }

  .time_select_item_1 {
    display: block;
    width: 100%;
  }

  .tui-datepicker-input {
    width: 100% !important;
  }

  #checked_user {
    display: block;
    text-align: left;
    margin-top: 1rem;
  }

  div#close_account_reason div.line01 div.line02 {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  div#close_account_reason div.line01 > h1 br {
    display: none;
  }
  div#close_account_reason div.line01 textarea {
    width: 100%;
    padding: 0.5rem;
    height: 13rem;
    overflow-y: auto;
    margin-top: 0.5rem;
    vertical-align: middle;
  }
  div#close_account_reason div.line01 > h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
    color: #1a1a1a;
    vertical-align: top;
  }
  div#close_account_reason div.line01 h1 span {
    color: #797979;
    font-size: 0.8rem;
    margin-left: 0;
  }
  div#close_account_reason div.line01 div.line02 button {
    background: #E7E7E7;
    border-radius: 3px;
    width: 8rem;
    height: 2.4rem;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: -0.3rem;
  }
  div#close_account_reason div.line01 select#reason {
    width: 100%;
    height: 2.5rem;
    display: inline-block;
    padding-left: 0.5rem;
    font-size: 1rem;
    background: url(/assets/images/icon/under_.png) no-repeat;
    background-size: 1.6rem;
    background-position-x: right;
    background-position-y: center;
    background-color: #fff;
    -webkit-appearance: none;
    margin-top: 0.5rem;
  }

  p#this-alert {
    font-size: 1rem;
    color: #888888;
    margin-bottom: 3.5rem;
  }

  div#ticket_type_ingfo2 div#left h2 {
    font-size: 0.9rem;
    color: #797979;
    margin-top: 0;
  }
  div#ticket_type_ingfo2 div#left h1 {
    font-size: 1.2rem;
    color: #1a1a1a;
    font-weight: bold;
  }
  div#close_account_reason div.line01 button#agree {
    background: #2DABE8;
    color: #fff;
    font-weight: bold;
    width: 50%;
    height: 3.4rem;
    font-size: 1rem;
    border-radius: 0;
    margin-right: 0;
  }
  div#close_account_reason div.line01 button#back {
    background: #E7E7E7;
    color: #1a1a1a;
    font-weight: bold;
    width: 50%;
    height: 3.4rem;
    font-size: 1rem;
    border-radius: 0;
    margin-right: 0;
  }
  div#ticket_type_ingfo2 {
    background: #F9F9F9;
    height: 12.38rem;
    padding: 0;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-flow: wrap;
  }
  div#ticket_type_ingfo2 div#left {
    width: 70%;
    display: inline-block;
  }
  div#ticket_type_ingfo2 div#right {
    display: inline-block;
    width: 30%;
    text-align: right;
  }

  .m_sevice_mb div.row {
    margin-bottom: 1rem;
    padding: 0rem 2rem;
    position: relative;
  }
  .m_sevice_mb div.row div.q_popup {
    margin-left: 0;
    position: absolute;
    z-index: 99;
    max-width: 80%;
    left: 2rem;
    width: 100%;
    bottom: -4rem;
  }

  div.row div.q_popup h1 {
    color: #fff;
    font-size: 0.9rem;
    width: 85%;
    display: inline-block;
    vertical-align: middle;
  }
  div.row div.q_popup h1 br {
    display: none;
  }

  .m_sevice_mb div.row div.q_popup img.close_popup {
    width: 2rem;
    margin-right: 0;
    display: inline-block;
    position: absolute;
    right: 1rem;
  }

  ul#tree_menu_ul {
    max-width: 1200px;
    height: 3.125rem;
    margin: 0 auto;
    font-size: 0;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  div#page_title_top_div {
    background: #F8F8F8;
    text-align: center;
    height: 7.1rem;
    padding: 1rem 0rem;
  }
  div#page_title_top_div h1 {
    font-size: 1.818rem;
    color: #333333;
    font-weight: bold;
  }
  div#page_title_top_div h2 {
    font-size: 1.2rem;
    color: #888888;
  }

  ul#tree_menu_ul {
    height: 4rem;
  }
  ul#tree_menu_ul li {
    font-size: 1.2rem;
    font-weight: bold;
  }
  ul#two_menu_ul {
    font-size: 0;
    height: 4rem;
    margin-top: 3r;
    margin-top: 3rem;
  }
  ul#two_menu_ul li {
    display: inline-flex;
    width: 50%;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
  ul#tree_menu_ul li:nth-of-type(1), ul#tree_menu_ul li:nth-of-type(3) {
    border-radius: 0;
  }
  ul#two_menu_ul li:nth-of-type(1), ul#two_menu_ul li:nth-of-type(2) {
    border-radius: 0;
  }

  #m_sec2,
  #m_sec1,
  #m_sec3 {
    display: none;
  }

  #m_sec1_mb {
    display: block;
  }

  #m_sec2_mb {
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #m_sec3_mb {
    display: block;
    margin-bottom: 5rem;
  }

  .data_div {
    position: absolute;
    width: 6rem;
    height: 1rem;
    background: #FFDE00;
    opacity: 0.3;
    left: 0;
    top: 1.3rem;
    z-index: 0;
  }

  .footer_wra {
    position: absolute !important;
    width: 100%;
  }

  #section3 {
    margin-bottom: 6rem;
  }

  #section2_pc {
    display: none;
  }

  #sec2_mb {
    display: block;
  }

  #sec3_title {
    font-size: 1rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  #bottom_slider_menu {
    display: none;
  }

  #sec1_title_div h1 {
    font-size: 1.1rem;
  }
  #sec1_title_div h2 {
    font-size: 0.9rem;
  }

  .second_menu {
    padding: 1rem;
  }
  .second_menu li {
    font-size: 0.9rem;
  }
  .second_menu li:last-of-type {
    margin-top: 0.5rem;
  }

  .swiper-container_bottom .swiper-button-next,
  .swiper-container_bottom .swiper-button-prev {
    display: none;
  }

  .swiper-container_ticket_free,
  .swiper-container_ticket_free2,
  .swiper-container_ticket_free3,
  .swiper-container_ticket_bankbot {
    position: relative;
  }

  .swiper-container_ticket_free .swiper-pagination-bullets,
  .swiper-container_ticket_free2 .swiper-pagination-bullets,
  .swiper-container_ticket_free3 .swiper-pagination-bullets,
  .swiper-container_ticket_bankbot .swiper-pagination-bullets {
    position: absolute;
    bottom: -2rem;
    width: 100%;
    margin: 0 3px;
    display: block;
    bottom: 0rem;
    text-align: center;
  }

  .swiper-container_ticket_free,
  .swiper-container_ticket_free2,
  .swiper-container_ticket_free3,
  .swiper-container_ticket_bankbot {
    margin-top: 5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .buy {
    width: 8rem;
    height: 2.6rem;
    color: #fff;
    background: #AAAAAA;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
  }

  .rows {
    text-align: center;
    margin-top: 3rem;
  }

  .select_ticket {
    position: absolute;
    right: 0;
    display: inline-block;
    top: 0rem;
    z-index: 99;
    display: none;
  }

  .mb_one_box {
    position: relative;
  }

  .select_ticket img {
    width: 4rem;
  }

  #sec2_mb {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .container_wrapper {
    width: 100%;
  }

  .swiper-container_bottom .swiper-pagination {
    display: block;
  }

  #bottom_menu_mb {
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  #bottom_menu_mb select {
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 0;
    width: 15rem;
    border-bottom: 1px solid #2DABE8;
    background: url(/assets/images/icon/icon_select.png) no-repeat;
    background-size: 20px;
    background-position: right;
    -webkit-appearance: none;
    text-align: center;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
  }

  #ticket_types,
  #ticket_types2 {
    max-width: 40rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  #ticket_types h1,
  #ticket_types2 h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  #ticket_types h2,
  #ticket_types2 h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  #ticket_types .ticket_type_box .btn_line,
  #ticket_types2 .ticket_type_box .btn_line {
    bottom: 0;
    right: 0;
  }

  #section02 {
    max-width: 40rem;
    width: 90%;
  }

  #payed_card {
    max-width: 25rem;
    width: 100%;
    height: 5rem;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background: url(/assets/images/icon/card.png) no-repeat;
    background-size: 3rem;
    font-size: 1.1rem;
    background-position: 1.5rem 0.8rem;
    font-weight: bold;
    color: #1a1a1a;
    padding-left: 1rem;
  }

  #next_step {
    background: #888888;
    border-radius: 3px;
    color: #fff;
    width: 13rem;
    height: 3.4rem;
    margin-top: 3rem;
  }

  #btnPaymentInfo {
    background: #888888;
    border-radius: 3px;
    color: #fff;
    width: 13rem;
    height: 3.4rem;
    margin-top: 1rem;
  }

  .btn_line {
    text-align: right;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  #section02 h1 {
    font-size: 0.95rem;
    color: #1a1a1a;
    display: inline-block;
    vertical-align: middle;
  }

  #payed_title {
    text-align: center;
    color: #1a1a1a;
    font-size: 0.95rem;
    margin-top: 1rem;
  }

  #thanks_text {
    text-align: center;
    font-size: 1rem;
    color: #888888;
    padding-bottom: 2rem;
    border-bottom: 1px solid #C4C4C4;
    max-width: 40rem;
    width: 90%;
    margin: 0 auto;
  }

  #payed_title2 {
    font-size: 0.8125rem;
    color: #1a1a1a;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 1.182rem;
    max-width: 40rem;
    width: 90%;
  }

  #card_info h1 {
    font-size: 1.182rem;
    color: #1a1a1a;
    vertical-align: middle;
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
  }

  .swiper-container_bottom .swiper-wrapper .swiper-slide {
    border: 1px solid #d7d7d7;
    height: 27.5rem;
  }

  .scroll_active {
    height: 18rem;
    overflow-y: auto;
  }

  div#s_modal_body {
    background: #fff;
    opacity: 1;
    z-index: 1;
    max-width: 50rem;
    width: 90%;
    position: absolute;
    padding: 2rem 1rem;
    height: auto;
    max-height: 90%;
  }
  div.popup_table_form div.popup_table_form_body div.row div.col {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  div#s_modal_body h1#text2 {
    font-size: 1rem;
    color: #1a1a1a;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
  }
  div#s_modal_body button#close_s_modal {
    max-width: 12.5rem;
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #2DABE8;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
  }

 
}

/*# sourceMappingURL=ticket.css.map */
