.popup {
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.popup .pop {
    max-width: 521px;
    width: calc(100% - 20px);
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup .pop .close_pop {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}
.popup .pop_footer button {
    width: 100%;
    color: #ffffff;
    background: #009aca;
    font-size: 1.25em;
    height: 3.5em;
}
button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.desc_pop {
    text-align: center;
    padding: 3.5em 0 2.8em;
    color: #313035;
    font-size: 1.375em;
    margin-left: 5%;
    margin-right: 5%;
}