@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -0.98px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

main {
  width: 100%;
  height: auto;
}
main .fixed2 {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: calc(5% + 100px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
main .fixed2 span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: 5%;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
main .fixed span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed img {
  filter: grayscale(100%) brightness(180%);
}
main .fixed.active span {
  color: #3d78ff;
}
main .fixed.active img {
  filter: none;
}
main section {
  padding-top: 160px;
}
main section article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
main section article input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
main section article input::placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}

article#top .title {
  display: flex;
  align-items: center;
}
article#top .title h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #202020;
  margin-bottom: 4px;
}
article#top .title span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d78ff;
  padding: 4px 18px 5px 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-left: 4px;
  cursor: pointer;
}
article#top .processBar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .processBar .step {
  width: 33.3333%;
}
article#top .processBar .step span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #dedede;
}
article#top .processBar .step p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #dedede;
}
article#top .processBar .step.active span {
  background-color: #3d78ff;
}
article#top .processBar .step.active p {
  color: #505050;
}

.checkBoxDiv {
  transform-origin: left;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkBoxDiv label.checkBox {
  width: 16px;
  height: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv input.chkBox {
  display: none;
}
.checkBoxDiv input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}
.checkBoxDiv label.text {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkBoxDiv.square label.checkBox {
  width: 15px;
  height: 15px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 1px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv.square input.chkBox {
  display: none;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2.5px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 1400px) {
  main .fixed2 {
    right: 140px;
  }
  main .fixed {
    right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  article#top .title h1 {
    font-size: 26px;
    letter-spacing: -1.3px;
  }
  article#top .processBar {
    margin-top: 60px;
  }
  article#top .processBar .step p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  main .fixed2 {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 30%;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed2 span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed._70 {
    width: 70%;
  }
  main .fixed span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed img {
    display: none;
  }
  main .fixed.active {
    background-color: #3d78ff;
  }
  main .fixed.active span {
    color: white;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 10000001;
  overflow: hidden;
  display: flex;
  padding: 0 30px;
  box-sizing: border-box;
}
.modal .layerPopup {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.modal .layerPopup .popupHead {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}
.modal .layerPopup .popupHead button {
  cursor: pointer;
  border: none;
  background: none;
}
.modal .layerPopup .popupHead button span {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1.12px;
  text-align: left;
  color: #fff;
}
.modal .layerPopup .popupBody {
  width: 100%;
  height: auto;
  background-color: white;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal .layerPopup .popupBody::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.modal .layerPopup .popupBody::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.modal .layerPopup .popupBody::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.modal .layerPopup .popupBody h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.92px;
  text-align: center;
  color: #202020;
}
.modal .layerPopup .btnBox {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.modal .layerPopup .btnBox button {
  width: 100%;
  outline: none;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1.12px;
  text-align: center;
  color: #2e1e00;
}

.accordion {
  cursor: pointer;
}
.accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}
.accordion.active.scrollable .panel {
  overflow-y: scroll;
}
.accordion.active.scrollable .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.accordion.active.scrollable .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.accordion.active.scrollable .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
  padding: 0 10px;
  box-sizing: border-box;
}
.accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
}
.accordion .checkBoxRow {
  padding-left: 30px;
}
.accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
.accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}

article#top .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .title button#serviceVid {
  width: 125px;
  padding: 11px 0 12px 0;
  background-color: #3d78ff;
  font-size: 12px;
  letter-spacing: -0.84px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
article#top p {
  max-width: 470px;
  margin-top: 80px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}

article h3.articleTitle {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.2px;
  text-align: left;
  color: #202020;
}
article h3.articleTitle i.blue {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.07;
  letter-spacing: -0.7px;
  text-align: left;
  color: #3d78ff;
  margin-left: 4px;
}

article#subscribingTicket {
  margin-top: 80px;
}
article#subscribingTicket .grayBox {
  width: 100%;
  padding: 50px 0;
  background-color: #f9f9f9;
}
article#subscribingTicket .grayBox p.noData {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.5px;
  text-align: center;
  color: #bbb;
}
article#subscribingTicket .grayBox .content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
article#subscribingTicket .grayBox .content p.gray {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: left;
  color: #c1c1c1;
}
article#subscribingTicket .grayBox .content .blue {
  padding: 3px 19px;
  background-color: #3d78ff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
article#subscribingTicket .grayBox .content .blue_outline {
  padding: 2px 19px;
  background-color: #fff;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #3d78ff;
  margin-bottom: 5px;
}
article#subscribingTicket .grayBox .content p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #202020;
}
article#subscribingTicket .grayBox .content span.line {
  width: 1px;
  display: block;
  height: 60px;
  background-color: #e1e1e1;
}

article#subscribe {
  margin-top: 80px;
}
article#subscribe .flexBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
article#subscribe .flexBox .item {
  width: 32.5%;
  background-color: #f9f9f9;
  border-radius: 14px;
  padding: 20px 15px 30px 15px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
}
article#subscribe .flexBox .item .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
article#subscribe .flexBox .item .title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #202020;
  margin-bottom: 4px;
}
article#subscribe .flexBox .item .title span {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: white;
  border: 2px solid #e5e5e5;
  margin-left: 6px;
}
article#subscribe .flexBox .item .content {
  margin: 20px 0;
  border-radius: 14px;
  border: solid 3px #f3f3f3;
  background-color: #fff;
}
article#subscribe .flexBox .item .content .tag {
  width: 100%;
  height: 26px;
  margin: 20px auto 30px auto;
  display: flex;
  justify-content: center;
}
article#subscribe .flexBox .item .content p.specialText {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.4px;
  color: #e70606;
}
article#subscribe .flexBox .item .content p.canceledText {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.1px;
  color: #a0a0a0;
  text-decoration: line-through;
}
article#subscribe .flexBox .item .content h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: center;
  color: #202020;
}
article#subscribe .flexBox .item .content h3 small {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #202020;
}
article#subscribe .flexBox .item .content span.line {
  width: 75%;
  height: 1px;
  background-color: #e3e3e3;
  display: block;
  margin: 36px auto 30px auto;
}
article#subscribe .flexBox .item .content .flexRow {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#subscribe .flexBox .item .content .flexRow .left {
  flex: 1;
}
article#subscribe .flexBox .item .content .flexRow .left p {
  font-size: 14px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #202020;
}
article#subscribe .flexBox .item .content .flexRow .right {
  display: flex;
  flex: 1;
  align-items: center;
}
article#subscribe .flexBox .item .content .flexRow .right span.check {
  width: 12px;
  height: 6px;
  position: relative;
  margin-right: 8px;
}
article#subscribe .flexBox .item .content .flexRow .right span.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #3d78ff;
  top: 4px;
  left: 0px;
  transform: rotate(45deg);
}
article#subscribe .flexBox .item .content .flexRow .right span.check::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #3d78ff;
  top: 2px;
  left: 3px;
  transform: rotate(-45deg);
}
article#subscribe .flexBox .item .content .flexRow .right p {
  font-size: 14px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #202020;
}
article#subscribe .flexBox .item .content .flexRow .right .discount {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
article#subscribe .flexBox .item .content .flexRow .right .discount p.dc {
  position: relative;
}
article#subscribe .flexBox .item .content .flexRow .right .discount p.dc::after {
  content: url(/assets/new_join/img/step_01_dc_arrow.png);
  position: absolute;
  top: -5px;
  left: 0;
}
article#subscribe .flexBox .item .content .flexRow .right .discount p.blue {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.7px;
  color: #3d78ff;
}
article#subscribe .flexBox .item .content .btnImg {
  width: 100%;
  margin: 36px auto;
}
article#subscribe .flexBox .item .content .btnImg img {
  margin: 0 auto;
}
article#subscribe .flexBox .item .content .btnImg img.blue {
  display: none;
}
article#subscribe .flexBox .item .content .btnImg img.white {
  display: block;
}
article#subscribe .flexBox .item .content .banner-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
article#subscribe .flexBox .item .content .banner-container .banner {
  width: 200%;
  display: flex;
  animation: bannerScroll 10s linear infinite;
}
article#subscribe .flexBox .item .content .banner-container .banner img {
  width: 12.5%;
  text-align: center;
}
@keyframes bannerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
article#subscribe .flexBox .item span.noti {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.36px;
  text-align: center;
  color: #c5c5c5;
}
article#subscribe .flexBox .item.active .title span {
  background-color: #3d78ff;
  border-color: #3d78ff;
  position: relative;
}
article#subscribe .flexBox .item.active .title span::before {
  content: "";
  width: 10px;
  height: 2px;
  display: block;
  background-color: white;
  position: absolute;
  top: 13.7px;
  left: 2px;
  transform: rotate(45deg);
}
article#subscribe .flexBox .item.active .title span::after {
  content: "";
  width: 15px;
  height: 2px;
  display: block;
  background-color: white;
  position: absolute;
  top: 11px;
  left: 8px;
  transform: rotate(-45deg);
}
article#subscribe .flexBox .item.active .content {
  border: solid 3px #3d78ff;
  background-color: #f5f9ff;
}
article#subscribe .flexBox .item.active .btnImg img.blue {
  display: block;
}
article#subscribe .flexBox .item.active .btnImg img.white {
  display: none;
}
article#subscribe .flexBox .item.subscribing {
  border: solid 3px #3d78ff;
  border-radius: 10px;
  pointer-events: none;
}
article#subscribe .flexBox .item.subscribing .title {
  position: relative;
}
article#subscribe .flexBox .item.subscribing .title::after {
  content: "구독 중*";
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.9px;
  color: #3d78ff;
}

article#bankBot {
  margin-top: 80px;
}
article#bankBot .flexBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
article#bankBot .flexBox .item {
  width: 32.5%;
  background-color: #f9f9f9;
  border-radius: 14px;
  padding: 20px 15px 30px 15px;
  box-sizing: border-box;
  cursor: pointer;
}
article#bankBot .flexBox .item .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
article#bankBot .flexBox .item .title h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #202020;
  margin-bottom: 4px;
}
article#bankBot .flexBox .item .content {
  margin: 20px 0;
  border-radius: 14px;
  border: solid 3px #f3f3f3;
  background-color: #fff;
  padding-top: 37px;
}
article#bankBot .flexBox .item .content h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: center;
  color: #202020;
}
article#bankBot .flexBox .item .content p.gray {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
  text-align: center;
  color: #c5c5c5;
}
article#bankBot .flexBox .item .content span.line {
  width: 75%;
  height: 1px;
  background-color: #e3e3e3;
  display: block;
  margin: 36px auto 30px auto;
}
article#bankBot .flexBox .item .content .flexRow {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
article#bankBot .flexBox .item .content .flexRow .right {
  flex: 1;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
article#bankBot .flexBox .item .content .flexRow .right span.check {
  width: 12px;
  height: 6px;
  position: relative;
  margin-right: 8px;
}
article#bankBot .flexBox .item .content .flexRow .right span.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #3d78ff;
  top: 4px;
  left: 0px;
  transform: rotate(45deg);
}
article#bankBot .flexBox .item .content .flexRow .right span.check::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #3d78ff;
  top: 2px;
  left: 3px;
  transform: rotate(-45deg);
}
article#bankBot .flexBox .item .content .flexRow .right p {
  font-size: 14px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #202020;
}
article#bankBot .flexBox .item .content .btnDiv {
  width: 75%;
  margin: 36px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 11px 0;
  border-radius: 50px;
  position: relative;
}
article#bankBot .flexBox .item .content .btnDiv p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: center;
  color: #202020;
}
article#bankBot .flexBox .item .content .btnDiv::after {
  content: url(/assets/new_join/img/gray_rightArrow.svg);
  display: block;
  position: absolute;
  top: 40%;
  right: 30px;
  transform: translateY(-50%);
}
article#bankBot .flexBox .item.active .content {
  border: solid 3px #3d78ff;
  background-color: #f5f9ff;
}
article#bankBot .flexBox .item.subscribing {
  border: solid 3px #3d78ff;
  border-radius: 10px;
}
article#bankBot .flexBox .item.subscribing .title {
  position: relative;
}
article#bankBot .flexBox .item.subscribing .title::after {
  content: "구독 중*";
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.9px;
  color: #3d78ff;
}

.grayBanner {
  width: 100%;
  height: auto;
  margin: 80px 0;
  padding: 30px 0;
  background-color: #f2f2f2;
}
.grayBanner .content {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.grayBanner .content img {
  margin-right: 8px;
}
.grayBanner .content p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: #202020;
}

article#detail {
  margin-top: 40px;
}
article#detail h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2.1px;
  color: #202020;
}
article#detail .flexBox {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#detail .flexBox .box {
  width: calc((100% - 180px) / 3);
}
article#detail .flexBox .last {
  margin-top: 20px;
}
article#detail .flexBox .box .background {
  border-radius: 12px;
  background-color: #f5f9ff;
  padding: 15px 0 30px 0;
  transition: all 0.3s;
}
article#detail .flexBox .box .background:hover {
  transform: scale(1.01);
  box-shadow: 7px 7px 7px #d4e2ff;
}
article#detail .flexBox .box .background span {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: #e8efff;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
article#detail .flexBox .box .background p {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #202020;
}
article#detail .flexBox .box .background img {
  display: block;
  margin: 0 auto;
}
article#detail .flexBox .box p.bottom {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: center;
  color: #adb3bf;
}
article#detail .gridBox {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
}
article#detail .gridBox .gridItem {
  display: flex;
  align-items: center;
}
article#detail .gridBox .gridItem:nth-child(1) {
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}
article#detail .gridBox .gridItem:nth-child(2) {
  border-top: 2px solid #f2f2f2;
}
article#detail .gridBox .gridItem:nth-child(3) {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}
article#detail .gridBox .gridItem:nth-child(3) .left {
  background-color: #f9f9f9;
}
article#detail .gridBox .gridItem:nth-child(4) {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
article#detail .gridBox .gridItem:nth-child(4) .left {
  background-color: #f9f9f9;
}
article#detail .gridBox .gridItem .left {
  width: 230px;
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 57px 0;
}
article#detail .gridBox .gridItem .left .content {
  display: flex;
  align-items: center;
}
article#detail .gridBox .gridItem .left .content span.check {
  width: 12px;
  height: 6px;
  position: relative;
  margin-right: 10px;
}
article#detail .gridBox .gridItem .left .content span.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #3d78ff;
  top: 4px;
  left: 0px;
  transform: rotate(45deg);
}
article#detail .gridBox .gridItem .left .content span.check::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #3d78ff;
  top: 2px;
  left: 3px;
  transform: rotate(-45deg);
}
article#detail .gridBox .gridItem .left .content p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #202020;
}
article#detail .gridBox .gridItem .right {
  flex: 1;
  background-color: white;
}
article#detail .gridBox .gridItem .right p {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: -0.8px;
  color: #adb3bf;
}

.serviceBanner {
  margin-top: 120px;
  width: 100%;
  height: 700px;
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
}
.serviceBanner .left {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceBanner .left h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2.1px;
  color: #202020;
}
.serviceBanner .right {
  width: 55%;
}
.serviceBanner .right .row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 60px auto;
}
.serviceBanner .right .row h4 {
  width: 300px;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -4.2px;
  color: #3d78ff;
  text-align: center;
  position: relative;
}
.serviceBanner .right .row h4::after {
  content: attr(data-text);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.7px;
  text-align: center;
  color: #202020;
}
.serviceBanner .right .row p {
  margin-left: 37px;
  width: 272px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.7px;
  text-align: left;
  color: #8dafff;
}
.serviceBanner .right span {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #3d78ff;
  position: relative;
}
.serviceBanner .right span::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #3d78ff;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.questionBanner {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  padding: 240px 0;
}
.questionBanner .left {
  width: 45%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.questionBanner .left h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2.1px;
  color: #202020;
}
.questionBanner .right {
  width: 55%;
  height: auto;
}
.questionBanner .right .accordion {
  width: 90%;
  max-width: 620px;
  border-top: 2px solid #e2e2e2;
}
.questionBanner .right .accordion .title {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questionBanner .right .accordion .title p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.9px;
  text-align: left;
  color: #202020;
}
.questionBanner .right .accordion .title img {
  width: 20px;
  transition: all 0.3s;
}
.questionBanner .right .accordion .panel .paddingBox pre {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.7px;
  text-align: left;
  color: #adb3bf;
}
.questionBanner .right .accordion.active .title img {
  transform: rotate(90deg);
}

@media only screen and (max-width: 1200px) {
  article#subscribe {
    margin-top: 60px;
  }
  article#subscribe .flexBox {
    flex-direction: column;
    align-items: center;
  }
  article#subscribe .flexBox .item {
    width: 50%;
    min-width: 352px;
  }
  article#subscribe .flexBox .item .title h2 {
    font-size: 23px;
  }
  article#subscribe .flexBox .item .title span {
    transform: scale(0.9);
  }
  article#subscribe .flexBox .item .content h3 {
    font-size: 29px;
  }
  .grayBanner .content p {
    font-size: 12px;
  }
  article#detail h1 {
    font-size: 24px;
  }
  article#detail .flexBox {
    flex-direction: column;
  }
  article#detail .flexBox .box {
    min-width: 340px;
    margin-bottom: 35px;
  }
  article#detail .flexBox .box p.bottom {
    font-size: 16px;
  }
  article#detail .gridBox {
    grid-template-columns: 1fr;
  }
  article#detail .gridBox .gridItem .left {
    width: 47.5%;
    max-width: 183px;
  }
  article#detail .gridBox .gridItem .left .content p {
    font-size: 15px;
  }
  article#detail .gridBox .gridItem .right {
    width: 52.5%;
  }
  article#detail .gridBox .gridItem .right p {
    font-size: 12px;
    line-height: 2.5;
  }
  article#detail .gridBox .gridItem:nth-child(1) {
    border-top: 2px solid #f2f2f2;
    border-right: 0px;
  }
  article#detail .gridBox .gridItem:nth-child(2) {
    border-top: 2px solid #f2f2f2;
  }
  article#detail .gridBox .gridItem:nth-child(2) .left {
    background-color: #f9f9f9;
  }
  article#detail .gridBox .gridItem:nth-child(3) {
    border-top: 2px solid #f2f2f2;
    border-bottom: 0px;
    border-right: 0px;
  }
  article#detail .gridBox .gridItem:nth-child(3) .left {
    background-color: #f5f9ff;
  }
  article#detail .gridBox .gridItem:nth-child(4) {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
  }
  article#detail .gridBox .gridItem:nth-child(4) .left {
    background-color: #f9f9f9;
  }
  .serviceBanner {
    margin-top: 60px;
    height: auto;
    flex-direction: column;
  }
  .serviceBanner .left {
    width: 100%;
    margin-top: 60px;
  }
  .serviceBanner .left h3 {
    font-size: 24px;
    letter-spacing: -1.68px;
  }
  .serviceBanner .right {
    margin: 30px 0;
    width: 100%;
  }
  .serviceBanner .right .row {
    margin: 30px auto;
    flex-direction: column;
  }
  .serviceBanner .right .row h4 {
    font-size: 52px;
  }
  .serviceBanner .right .row h4::after {
    font-size: 14px;
    font-weight: 500;
  }
  .serviceBanner .right .row p {
    font-size: 14px;
    margin-top: 50px;
  }
  .serviceBanner .right span {
    margin-left: 10px;
    width: calc(100% - 10px);
  }
  .questionBanner {
    height: auto;
    flex-direction: column;
    padding: 150px 0;
  }
  .questionBanner .left {
    width: 100%;
    margin-top: 60px;
    height: auto;
  }
  .questionBanner .left h3 {
    font-size: 24px;
    letter-spacing: -1.68px;
  }
  .questionBanner .right {
    margin: 30px 0;
    width: 100%;
    height: auto;
  }
  .questionBanner .right .accordion {
    margin: 0 auto;
  }
  .questionBanner .right .accordion .title p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.6px;
  }
  .questionBanner .right .accordion.active .panel {
    margin-bottom: 20px;
  }
}
.ticketFixed {
  display: none;
}

.ticketFixed_pc {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0 34px 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  transform: translateY(100%);
  opacity: 0;
  z-index: 500;
}
.ticketFixed_pc.show {
  transform: translateY(0%);
  opacity: 1;
}
.ticketFixed_pc .closeBtnBox {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: right;
}
.ticketFixed_pc .closeBtnBox button {
  cursor: pointer;
  filter: invert(100%);
  background: none;
  outline: none;
  border: none;
  padding: 12px;
}
.ticketFixed_pc .centerBox {
  width: 360px;
  margin: 0 auto;
}
.ticketFixed_pc .centerBox p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: -0.8px;
  text-align: center;
  color: #fff;
}
.ticketFixed_pc .centerBox .btns {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ticketFixed_pc .centerBox .btns button#hideTicketFixed_pc {
  width: 49%;
  padding: 8.5px 0 10.5px;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
}
.ticketFixed_pc .centerBox .btns button#goto {
  width: 49%;
  padding: 8.5px 0 10.5px;
  border-radius: 20px;
  color: #fff;
  background-color: #3d78ff;
  text-align: center;
  font-size: 14px;
  border: 1px solid #3d78ff;
  cursor: pointer;
}

.modal#youtube_00 .popupBody {
  background: none;
}

.modal#modal_01 .popupBody,
.modal#modal_02 .popupBody,
.modal#modal_03 .popupBody {
  width: 530px;
}
.modal#modal_01 .popupBody .head,
.modal#modal_02 .popupBody .head,
.modal#modal_03 .popupBody .head {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 34px;
  box-sizing: border-box;
}
.modal#modal_01 .popupBody .head h5,
.modal#modal_02 .popupBody .head h5,
.modal#modal_03 .popupBody .head h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
  text-align: center;
  color: #22262f;
}
.modal#modal_01 .popupBody .body,
.modal#modal_02 .popupBody .body,
.modal#modal_03 .popupBody .body {
  width: 100%;
  padding: 30px 34px 20px 34px;
  box-sizing: border-box;
}
.modal#modal_01 .popupBody .body p,
.modal#modal_02 .popupBody .body p,
.modal#modal_03 .popupBody .body p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.98px;
  text-align: center;
  color: #202020;
}
.modal#modal_01 .popupBody .body .btnFlex,
.modal#modal_02 .popupBody .body .btnFlex,
.modal#modal_03 .popupBody .body .btnFlex {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.modal#modal_01 .popupBody .body .btnFlex button,
.modal#modal_02 .popupBody .body .btnFlex button,
.modal#modal_03 .popupBody .body .btnFlex button {
  width: 100px;
  padding: 8px 0;
  outline: none;
  border: 1px solid #3d78ff;
  background: none;
  cursor: pointer;
}
.modal#modal_01 .popupBody .body .btnFlex button.blue,
.modal#modal_02 .popupBody .body .btnFlex button.blue,
.modal#modal_03 .popupBody .body .btnFlex button.blue {
  color: white;
  background-color: #3d78ff;
}
.modal#modal_01 .popupBody .body .btnFlex button.blue_outline,
.modal#modal_02 .popupBody .body .btnFlex button.blue_outline,
.modal#modal_03 .popupBody .body .btnFlex button.blue_outline {
  color: #3d78ff;
}

@media only screen and (max-width: 900px) {
  main article#top .title button#serviceVid {
    width: 100px;
  }
  main article#top p {
    margin-top: 60px;
    font-size: 13px;
    line-height: 1.64;
    letter-spacing: -0.5px;
  }
  main article#subscribingTicket .grayBox .content {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  main article#subscribingTicket .grayBox .content p {
    width: 24%;
    text-align: center;
    font-size: 12px;
  }
  main article#subscribingTicket .grayBox .content p.gray {
    width: 100%;
    text-align: center;
  }
  main article#subscribingTicket .grayBox .content .box {
    width: 24%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  main article#subscribingTicket .grayBox .content .box .blue, main article#subscribingTicket .grayBox .content .box .blue_outline {
    font-size: 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
  main article#subscribingTicket .grayBox .content span.line.last {
    display: none;
  }
  main article#bankBot h3.articleTitle i.blue {
    display: block;
  }
  main article#bankBot .flexBox .item {
    width: 100%;
  }
  main .ticketFixed {
    display: none;
    bottom: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.8);
    z-index: 1;
    padding: 19px 0;
    position: fixed;
  }
  main .ticketFixed.active {
    display: flex;
  }
  main .ticketFixed p {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #fff;
    margin-bottom: 2px;
  }
  main .ticketFixed p b {
    font-weight: 300;
  }
  main .ticketFixed span {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  main .ticketFixed span::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 1px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  main .ticketFixed span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 1px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  main .ticketFixed_pc {
    display: none;
  }
  main .grayBanner .content p {
    font-size: 10px;
  }
  main .questionBanner .right .accordion .title img {
    margin-left: 5px;
    width: 14px;
  }
  .modal#modal_01 .layerPopup .popupBody,
  .modal#modal_02 .layerPopup .popupBody,
  .modal#modal_03 .layerPopup .popupBody {
    width: 100%;
  }
}