@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -0.98px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

main {
  width: 100%;
  height: auto;
}
main .fixed2 {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: calc(5% + 100px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
main .fixed2 span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: 5%;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
main .fixed span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed img {
  filter: grayscale(100%) brightness(180%);
}
main .fixed.active span {
  color: #3d78ff;
}
main .fixed.active img {
  filter: none;
}
main section {
  padding-top: 160px;
}
main section article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
main section article input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
main section article input::placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}

article#top .title {
  display: flex;
  align-items: center;
}
article#top .title h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #202020;
  margin-bottom: 4px;
}
article#top .title span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d78ff;
  padding: 4px 18px 5px 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-left: 4px;
  cursor: pointer;
}
article#top .processBar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .processBar .step {
  width: 33.3333%;
}
article#top .processBar .step span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #dedede;
}
article#top .processBar .step p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #dedede;
}
article#top .processBar .step.active span {
  background-color: #3d78ff;
}
article#top .processBar .step.active p {
  color: #505050;
}

.checkBoxDiv {
  transform-origin: left;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkBoxDiv label.checkBox {
  width: 16px;
  height: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv input.chkBox {
  display: none;
}
.checkBoxDiv input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}
.checkBoxDiv label.text {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkBoxDiv.square label.checkBox {
  width: 15px;
  height: 15px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 1px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv.square input.chkBox {
  display: none;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2.5px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 1400px) {
  main .fixed2 {
    right: 140px;
  }
  main .fixed {
    right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  article#top .title h1 {
    font-size: 26px;
    letter-spacing: -1.3px;
  }
  article#top .processBar {
    margin-top: 60px;
  }
  article#top .processBar .step p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  main .fixed2 {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 30%;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed2 span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed._70 {
    width: 70%;
  }
  main .fixed span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed img {
    display: none;
  }
  main .fixed.active {
    background-color: #3d78ff;
  }
  main .fixed.active span {
    color: white;
  }
}

article#payInfo {
  margin-top: 80px;
}
article#payInfo h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#payInfo .flexBox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
}
article#payInfo .flexBox .left {
  flex: 1;
  border-right: 1px solid #e2e2e2;
}
article#payInfo .flexBox .left .top {
  padding: 18px 0;
  background-color: #f9f9f9;
}
article#payInfo .flexBox .left .top h5 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-align: center;
  color: #202020;
}
article#payInfo .flexBox .left .ticket_gallery {
  width: 100%;
  height: 544px;
  position: relative;
  overflow: hidden;
}
article#payInfo .flexBox .left .ticket_gallery .btns {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
article#payInfo .flexBox .left .ticket_gallery .btns .leftArrow {
  width: 20%;
  cursor: pointer;
}
article#payInfo .flexBox .left .ticket_gallery .btns .leftArrow img {
  margin: 0 auto;
  transform: rotateY(180deg);
  filter: grayscale(1) brightness(150%);
}
article#payInfo .flexBox .left .ticket_gallery .btns .leftArrow p {
  font-size: 10px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #979797;
}
article#payInfo .flexBox .left .ticket_gallery .btns .rightArrow {
  width: 20%;
  cursor: pointer;
}
article#payInfo .flexBox .left .ticket_gallery .btns .rightArrow img {
  margin: 0 auto;
  filter: grayscale(1) brightness(150%);
}
article#payInfo .flexBox .left .ticket_gallery .btns .rightArrow p {
  font-size: 10px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #979797;
}
article#payInfo .flexBox .left .ticket_gallery ul {
  width: 300%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  display: flex;
}
article#payInfo .flexBox .left .ticket_gallery ul li {
  width: 33.3333%;
  height: auto;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center {
  width: 100%;
  margin: 0 auto;
  padding: 32px 10% 21px 10%;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center h5 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #3d78ff;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center .flex {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center .flex .mid {
  width: 100%;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center .flex .mid h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: center;
  color: #202020;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center .flex .mid small {
  display: block;
  text-align: center;
}
article#payInfo .flexBox .left .ticket_gallery ul li .center span {
  font-size: 12px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #959595;
  margin-top: 24px;
  display: block;
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom {
  padding: 50px 0;
  box-sizing: border-box;
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom .row {
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom .row span.check {
  width: 16px;
  height: 10px;
  position: relative;
  margin-right: 10px;
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom .row span.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #3d78ff;
  top: 5.5px;
  left: 2.6px;
  transform: rotate(45deg);
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom .row span.check::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #3d78ff;
  top: 2.9px;
  left: 6px;
  transform: rotate(-45deg);
}
article#payInfo .flexBox .left .ticket_gallery ul li .bottom .row p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.7px;
  text-align: left;
  color: #202020;
  margin: 20px 0;
}
article#payInfo .flexBox .right {
  flex: 2;
  padding-top: 27px;
  background-color: #f9f9f9;
  position: relative;
}
article#payInfo .flexBox .right img.logo {
  position: absolute;
  top: 27px;
  right: 27px;
}
article#payInfo .flexBox .right .gallery {
  width: 320px;
  height: 570px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
article#payInfo .flexBox .right .gallery ul {
  width: 300%;
  height: auto;
  display: flex;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
article#payInfo .flexBox .right .gallery ul li {
  width: 33.3333%;
  height: auto;
}
article#payInfo .flexBox .right .gallery ul li img {
  width: 100%;
}
article#payInfo .flexBox .right .arrowBtns {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
article#payInfo .flexBox .right .arrowBtns #galleryLeft img {
  transform: rotate(180deg);
}
article#payInfo .flexBox .right .arrowBtns #galleryLeft, article#payInfo .flexBox .right .arrowBtns #galleryRight {
  cursor: pointer;
}
article#payInfo .flexBox .right .arrowBtns #galleryLeft img, article#payInfo .flexBox .right .arrowBtns #galleryRight img {
  width: 20px;
  height: auto;
  filter: grayscale(100%) brightness(150%);
}
article#payInfo .flexBox .right ul.bottomUl {
  position: absolute;
  bottom: 40px;
  right: 90px;
  width: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article#payInfo .flexBox .right ul.bottomUl li {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #e1e1e1;
  position: relative;
}
article#payInfo .flexBox .right ul.bottomUl li.active {
  background-color: #3d78ff;
}
article#payInfo .flexBox .right ul.bottomUl li.active::after {
  content: attr(data-text);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #3d78ff;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100px;
}

article#bankBot,
article#join {
  margin-top: 80px;
}
article#bankBot h2,
article#join h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#bankBot .flexBox,
article#join .flexBox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  background-color: #f9f9f9;
}
article#bankBot .flexBox .left,
article#join .flexBox .left {
  flex: 1;
  border-right: 1px solid #e2e2e2;
  padding: 20px 0;
  background-color: white;
}
article#bankBot .flexBox .left h5,
article#join .flexBox .left h5 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #3d78ff;
}
article#bankBot .flexBox .left h4,
article#join .flexBox .left h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: center;
  color: #202020;
  margin-top: 10px;
}
article#bankBot .flexBox .left small,
article#join .flexBox .left small {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #202020;
}
article#bankBot .flexBox .right,
article#join .flexBox .right {
  flex: 2;
}
article#bankBot .flexBox .right .content,
article#join .flexBox .right .content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
article#bankBot .flexBox .right .content .box,
article#join .flexBox .right .content .box {
  display: flex;
  align-items: center;
}
article#bankBot .flexBox .right .content .box span.check,
article#join .flexBox .right .content .box span.check {
  width: 16px;
  height: 10px;
  position: relative;
  margin-right: 10px;
}
article#bankBot .flexBox .right .content .box span.check::before,
article#join .flexBox .right .content .box span.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #3d78ff;
  top: 5.5px;
  left: 2.6px;
  transform: rotate(45deg);
}
article#bankBot .flexBox .right .content .box span.check::after,
article#join .flexBox .right .content .box span.check::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #3d78ff;
  top: 2.9px;
  left: 6px;
  transform: rotate(-45deg);
}
article#bankBot .flexBox .right .content .box p,
article#join .flexBox .right .content .box p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #202020;
}

article#join .flexBox .right .content {
  justify-content: center;
}

article#totalPay {
  margin-top: 80px;
}
article#totalPay h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#totalPay .flexBox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  background-color: #f9f9f9;
}
article#totalPay .flexBox .left {
  flex: 1;
  border-right: 1px solid #e2e2e2;
  padding: 20px 0;
  background-color: white;
}
article#totalPay .flexBox .left h5 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
  color: #3d78ff;
}
article#totalPay .flexBox .left h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: center;
  color: #202020;
  margin-top: 10px;
}
article#totalPay .flexBox .left small {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #202020;
}
article#totalPay .flexBox .right {
  flex: 2;
}
article#totalPay .flexBox .right .content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
article#totalPay .flexBox .right .content p.gray {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: left;
  color: #c1c1c1;
}
article#totalPay .flexBox .right .content .blue {
  padding: 3px 19px;
  background-color: #3d78ff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
article#totalPay .flexBox .right .content .blue_outline {
  padding: 2px 19px;
  background-color: #fff;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #3d78ff;
  margin-bottom: 5px;
}
article#totalPay .flexBox .right .content p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: #202020;
}
article#totalPay .flexBox .right .content span.line {
  width: 1px;
  display: block;
  height: 60px;
  background-color: #e1e1e1;
}

article#terms {
  margin-top: 80px;
}
article#terms h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#terms .accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 40px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}
article#terms .accordion .title .left {
  display: flex;
  align-items: center;
}
article#terms .accordion .title .left p {
  font-size: 14px;
  letter-spacing: -0.98px;
  margin-left: 12px;
  margin-bottom: 1px;
  color: #202020;
  cursor: pointer;
}
article#terms .accordion .title .left p b {
  font-weight: 500;
  color: #3d78ff;
}
article#terms .accordion .title span {
  padding: 10px;
  cursor: pointer;
}
article#terms .accordion .title span img {
  transition: all 0.2s;
  width: 15px;
}
article#terms .accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eeeeee;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
article#terms .accordion .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
article#terms .accordion .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
article#terms .accordion .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
article#terms .accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#terms .accordion .checkBoxRow {
  padding: 10px 0;
  margin-left: 50px;
}
article#terms .accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
article#terms .accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}
article#terms .accordion.active .title span img {
  transform: rotate(90deg);
}
article#terms .accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}

article#payment {
  margin-top: 80px;
}
article#payment h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#payment button#creditCard {
  margin-top: 10px;
  width: 100%;
  padding: 17px 0;
  border-radius: 30px;
  border: solid 1px #d9d9d9;
  background-color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: center;
  color: #cbcbcb;
  pointer-events: none;
}
article#payment button#creditCard.active {
  background-color: #3d78ff;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

article#caution {
  margin-top: 80px;
  margin-bottom: 200px;
}
article#caution h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  text-align: left;
  color: #202020;
}
article#caution .grayBox {
  margin-top: 10px;
  padding: 40px;
  background-color: #f9f9f9;
}
article#caution .grayBox pre {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.5px;
  text-align: left;
  color: #808080;
}

.bottomSticky {
  position: sticky;
  bottom: 60px;
  background-color: #fff;
  display: none;
}
.bottomSticky .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 40px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
}
.bottomSticky .title .left {
  display: flex;
  align-items: center;
}
.bottomSticky .title .left p {
  font-size: 14px;
  letter-spacing: -0.98px;
  margin-left: 12px;
  margin-bottom: 1px;
  color: #202020;
  cursor: pointer;
}
.bottomSticky .title .left p b {
  font-weight: 500;
  color: #3d78ff;
}
.bottomSticky .title span {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #bbb;
}

.specialText {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.4px;
  color: #e70606;
}

@media only screen and (max-width: 1200px) {
  article#payInfo .flexBox .left .center {
    padding: 32px 1% 21px 1%;
  }
  article#payInfo .flexBox .left .bottom .row {
    padding-left: 20px;
  }
  article#payInfo .flexBox .left .bottom .row p {
    font-size: 12px;
  }
  article#payInfo .flexBox .right {
    display: none;
  }
  article#bankBot .flexBox,
  article#join .flexBox,
  article#totalPay .flexBox {
    flex-direction: column;
  }
  article#bankBot .flexBox .left,
  article#join .flexBox .left,
  article#totalPay .flexBox .left {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
  }
  article#bankBot .flexBox .right,
  article#join .flexBox .right,
  article#totalPay .flexBox .right {
    width: 100%;
  }
  article#bankBot .flexBox .right .content,
  article#join .flexBox .right .content,
  article#totalPay .flexBox .right .content {
    width: 90%;
    padding: 45px 0;
  }
  article#bankBot .flexBox .right .content {
    justify-content: center;
  }
  article#bankBot .flexBox .right .content .box {
    margin: 0 20px;
  }
  article#terms .accordion .title {
    padding: 4px 14px;
  }
  article#caution .grayBox {
    padding: 40px 20px;
  }
  article#caution .grayBox pre {
    white-space: pre-line;
  }
}
@media only screen and (max-width: 900px) {
  .bottomSticky {
    display: block;
  }
  .bottomSticky.hide {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  article#totalPay .flexBox .right .content {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  article#totalPay .flexBox .right .content p.gray {
    width: 50%;
    text-align: center;
  }
  article#totalPay .flexBox .right .content .box {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  article#totalPay .flexBox .right .content .box .blue, article#totalPay .flexBox .right .content .box .blue_outline {
    font-size: 12px;
    width: -moz-fit-content;
    width: fit-content;
  }
  article#totalPay .flexBox .right .content span.line {
    width: 100%;
    height: 1px;
  }
}