.container_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#section1 {
    position: relative;
}

#section1 #sec1_title_div {
    text-align: center;
    position: relative;
    z-index: 10;
    margin-bottom: 3rem;
}

#sec1_title_div h1 {
    color: #333333;
    font-size: 1.5rem;
}

#sec1_title_div h1>span {
    font-weight: bold;
    position: relative;
}

#sec1_title_div h2 {
    font-size: 1.125rem;
    color: #333333;
}

#sec1_title_div h1 span::after {
    content: "";
    position: absolute;
    top: 0.6rem;
    right: 0;
    width: 10rem;
    height: 1rem;
    background: #FFDE00;
    opacity: 0.5;
    z-index: -10;
}

#frist_line>th {
    padding: 0.6rem 0rem;
}

#frist_line>th:nth-of-type(1) {
    background: #fafafa;
    font-size: 1rem;
    color: #6C6C6C;
    width: 40%;
}

thead>tr>td {
    padding: 1rem 0rem;
}

#frist_line>th:nth-of-type(2) {
    background: #E0E0E0;
    font-size: 1rem;
    color: #1a1a1a;
    width: 20%;
    font-weight: bold;
}

#frist_line>th:nth-of-type(3) {
    background: #0035E1;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    width: 20%;
    cursor: pointer;
}

#frist_line>th:nth-of-type(4) {
    background: #FFC700 !important;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    width: 20%;
    cursor: pointer;
}

th tr:nth-of-type(1),
tbody tr td:nth-of-type(1) {
    background: #FAFAFA;
    width: 15%;
}

tr {
    text-align: center;
}

.b_gray {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: bold;
}

#top_line {
    border-top: 1px solid#D7D7D7;
}

table {
    border-left: 1px solid #D7D7D7;
}

tr {
    border-top: 1px solid #D7D7D7;
}

tr td {
    border-right: 1px solid #D7D7D7;
}

#top_line {
    font-size: 0.875rem;
    color: #1a1a1a;
}

#top_line td:nth-of-type(1) {
    background: #fff;
}

tbody>tr:nth-of-type(1) td:nth-of-type(2),
tbody>tr:nth-of-type(2) td:nth-of-type(2) {
    font-size: 0.875rem;
    color: #1a1a1a;
}

td>.original_price {
    color: #888888;
    display: inline-block;
    font-size: 0.875rem;
    position: relative;
}

td>.original_price::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 1px;
    background: #888888;
    top: 0.6rem;
    left: -0.1rem;
}

td>.discount_price {
    color: #FF1515;
    font-size: 1rem;
    font-weight: bold;
}

tbody>tr>.bold_black {
    width: 20%;
    font-size: 1rem;
    color: #1a1a1a;
    font-weight: bold;
}

tbody>tr>td:nth-of-type(2) {
    font-size: 0.875rem;
    color: #1a1a1a;
    width: 20%;
    padding: 1rem 0;
    word-break: keep-all;
}

tbody>tr>td:nth-of-type(3),
tbody>tr>td:nth-of-type(4),
tbody>tr>td:nth-of-type(5) {
    width: 20%;
}

.check_icon {
    width: 1rem;
    margin: 0 auto;
    vertical-align: middle;
}

.class_icon {
    width: 0.85rem;
    margin: 0 auto;
    vertical-align: middle;
}

#select_div {
    text-align: right;
}

#ronibot,
#paibot,
#megabot,
#gigabot,
#terabot  {
    width: 21%;
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
}

#ronibot img,
#paibot img,
#megabot img,
#gigabot img,
#terabot img {
    width: 2.5rem;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    left: 50%;
    margin-left: -1.25rem;
    top: -0.8rem;
}

thead tr td {
    font-size: 0.875rem
}

thead tr td:nth-of-type(1) {
    background: #fafafa;
}

td .data_div {
    display: inline-block;
    width: 30%;
    font-size: 0.875rem
}

.data_div:nth-of-type(1) {
    position: relative;
}

.data_div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 2rem;
    top: 0.3rem;
    right: 0;
    background: #D7D7D7;
}

#select_ticket {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 3rem;
}

#select_ticket>span {
    color: #0035E1;
    font-weight: bold;
    margin-right: 1rem;
}

table {
    border-bottom: 1px solid #D7D7D7;
}

#row {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 3rem;
}

#next_btn {
    background: #0035E1;
    color: #fff;
    width: 12.5rem;
    height: 3rem;
    font-size: 1.125rem;
    border-radius: 3px;
    font-weight: bold;
}

#sec3_title {
    text-align: center;
    font-size: 1.375rem;
    color: #333333;
    margin-bottom: 3.5rem;
}

#sec3_title span {
    font-weight: bold;
}

.swiper-container_bottom {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    border: 1px solid #eaeaea;
}

.swiper-container_bottom .swiper-wrapper .swiper-slide {
    height: 40rem;
}

#bottom_slider_menu {
    font-size: 0;
}

#bottom_slider_menu li {
    text-align: center;
    font-size: 1rem;
    color: #1a1a1a;
    display: inline-flex;
    width: 11.111%;
    height: 3rem;
    border-radius: 5px 5px 0px 0px;
    vertical-align: middle;
    background: #F0F0F0;
    border: 1px solid #aaaaaa;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
}

.click_menu {
    background: #2DABE8!important;
    font-weight: bold!important;
    color: #fff!important;
}

.second_menu {
    padding: 1rem 2rem;
    background: #000000;
    opacity: 0.8;
    z-index: 9;
    position: relative;
}

.second_menu li {
    margin-right: 1rem;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.875rem;
}

.second_menu li:last-of-type {
    margin-top: 1rem;
    display: block;
    cursor: inherit;
    text-decoration: none;
}

.secound_click_active {
    color: #2DABE8!important;
    font-weight: bold;
}

.swiper-container_bottom .swiper-button-next {
    right: 0;
    background: url(/assets/images/icon/next_white.png) no-repeat;
    background-position: center 1rem;
    background-size: 1.5rem;
    background-color: #333;
    opacity: 0.6;
    top: 23rem;
    width: 6rem;
    color: #fff;
    height: 7rem;
    font-size: 0.875rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 0.5rem;
    display: none;
}

.swiper-container_bottom .swiper-button-prev {
    left: 0;
    background: url(/assets/images/icon/prev_white.png) no-repeat;
    background-color: #333;
    opacity: 0.6;
    background-position: center 1rem;
    background-size: 1.5rem;
    top: 23rem;
    width: 6rem;
    color: #fff;
    height: 7rem;
    font-size: 0.875rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 0.5rem;
    display: none;
}

#section3 {
    margin-bottom: 10rem;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.botttom_slide1 {
    width: 100%;
}

#section2_pc {
    display: block;
    position: relative;
}

#sec2_mb {
    display: none;
}

.mb_ticket_header {
    background: #FAFAFA;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 3px 3px 0 0;
    padding: 1rem 2rem;
    font-size: 0;
}

.mb_ticket_header h1 {
    color: #1a1a1a;
    font-size: 1.273rem;
    display: inline-block;
    width: 70%;
    padding-left: 1.5rem;
    position: relative;
    vertical-align: middle;
}

.mb_ticket_header h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45rem;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #C4C4C4;
}

.mb_ticket_header .roni_one::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45rem;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #0035E1;
}

.mb_ticket_header .pai_one::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45rem;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #FFDE00;
}

.mb_ticket_header h2 {
    display: inline-block;
    width: 30%;
    font-size: 1.455rem;
    color: #1a1a1a;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}

.mb_ticket_header .original_price {
    font-size: 0.9rem;
    color: #888888;
    display: block;
    line-height: 0.8rem;
    position: relative;
}

.mb_ticket_header .original_price::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 1px;
    right: 0;
    top: 0.4rem;
    background: #888888;
}

.mb_ticket_header .discount_price {
    font-size: 1.25rem;
    color: #FF2B2B;
    font-weight: bold;
}

.data_mb {
    display: inline-block;
    font-size: 1rem;
    color: #1a1a1a;
    width: 35%;
    text-align: left;
    font-weight: 600;
    position: relative;
}

.data_mb2 {
    position: relative;
    display: inline-block;
    width: 65%;
    font-size: 1rem;
    text-align: right;
}

.data_mb2 span {
    font-size: 0.9rem;
    color: #1a1a1a;
    font-weight: bold;
}

.data_mb3 {
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
  }
  
.slide_info {
    font-size: 0;
}

.slide_info .title {
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

.slide_info h2 {
    font-size: 0.95rem;
    font-weight: 600;
    color: #1a1a1a;
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: top;
    margin-top: 0.5rem;
}

.slide_info p {
    color: #575757;
    font-size: 0.95rem;
    width: 80%;
    display: inline-block;
    margin-top: 0.5rem;
}

.data_div_box {
    font-size: 0;
    margin-bottom: 2rem;
    margin-top: 0;
}

.slide_info .mb_icon {
    width: 20%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.slide_info .mb_icon img {
    width: 1.3rem;
    display: inline-block;
}

.mobile_selected {
    border: 3px solid #2DABE8 !important;
}

.swiper-container_ticket_free,
.swiper-container_ticket_free2,
.swiper-container_ticket_free3 {
    border-radius: 3px;
}

.swiper-container_ticket_free .mb_slider_group,
.swiper-container_ticket_free2 .mb_slider_group,
.swiper-container_ticket_free3 .mb_slider_group {
    padding: 1rem 2rem;
}

.mb_one_line {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.swiper-container_ticket_free .swiper-slide,
.swiper-container_ticket_free2 .swiper-slide,
.swiper-container_ticket_free3 .swiper-slide {
    position: relative;
}

.swiper-container_bottom .swiper-pagination {
    display: none;
}

#bottom_menu_mb {
    display: none;
}

.buy_titles {
    margin-top: 7.5rem;
    position: relative;
    width: 10rem;
    text-align: center;
    margin: 0 auto;
}

.buy_titles h1 {
    color: #333333;
    font-weight: bold;
    font-size: 1.375rem;
    position: relative;
    z-index: 10;
}

.buy_titles span {
    position: absolute;
    top: 0;
    left: 0;
}

.buy_titles span {
    content: "";
    position: absolute;
    width: 10rem;
    height: 1rem;
    background: rgba(45, 171, 232, 0.3);
    right: 0;
    top: 0.6rem;
    z-index: 0;
}

#ticket_types {
    background: #F3F3F3;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    max-width: 30rem;
    width: 100%;
    height: 10.5rem;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.ribons {
    position: absolute;
    right: 2rem;
    top: 0;
    width: 2rem;
    height: 3.3rem;
    display: inline-block;
}

#blue_ticket {
    background: url(/assets/images/icon/ribon.png)no-repeat;
    background-size: cover;
    background-position: center;
}

#y_ticket {
    background: url(/assets/images/icon/ribon_y.png)no-repeat;
    background-size: cover;
    background-position: center;
}

#ticket_types h1 {
    font-size: 1rem;
    font-weight: bold;
}

#ticket_types h1 #roni {
    color: #0035E1;
}

#ticket_types h1 #pai {
    color: #FFC700;
}

#ticket_types h2 {
    font-size: 1rem;
    margin-top: 1rem;
}

.btn_line {
    text-align: right;
}

.btn_line #change_ticket {
    border: 1px solid #2DABE8;
    border-radius: 3px;
    width: 8rem;
    height: 2.5rem;
    color: #2dabe8;
    font-size: 0.9rem;
}

#section02 {
    max-width: 30rem;
    margin: 0 auto;
    width: 100%;
}

#section02 input {
    display: none;
}

#section02 input[class="checkbox"]+label {
    background-color: #fff;
    border: 1px solid #C4C4C4;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
}

#section02 input[class="checkbox"]:checked+label {
    width: 15px;
    height: 15px;
    background: url("/assets/images/icon/check_black.png")no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: #C4C4C4;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: pointer;
}

#check_title {
    font-size: 0.8125rem;
    color: #1a1a1a;
    font-weight: bold;
    display: inline-block;
}

#section02 h1 {
    font-size: 0.8125rem;
    color: #1a1a1a;
    display: inline-block;
    vertical-align: middle;
}

#alert_agrees_div {
    height: 6rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 2rem;
}

div#checked {
    padding: 1rem 0rem;
    margin-top: 1rem;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

#disagree_text2 {
    font-size: 0.9rem;
    color: #FF2B2B;
    text-align: center;
    margin-bottom: 0.5rem;
}

#disagree_text {
    font-size: 0.9rem;
    color: #FF2B2B;
    text-align: center;
    margin-bottom: 0.5rem;
    display: none;
}

#payed_title,
#nomal_payed_title {
    text-align: center;
    color: #1a1a1a;
    font-size: 1rem;
    /* margin-top: 4rem; */
}

.text_align_center {
    text-align: center;
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
}

#payed_card {
    max-width: 17.5rem;
    width: 100%;
    height: 4rem;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background: url("/assets/images/icon/card.png")no-repeat;
    background-size: 2.5rem;
    font-size: 0.9rem;
    background-position: 1.5rem 0.7rem;
    font-weight: bold;
    color: #1a1a1a;
    padding-left: 1rem;
    box-sizing: border-box;
}

#payed_card span {
    font-weight: 400;
}

#next_step {
    background: #888888;
    border-radius: 3px;
    color: #fff;
    width: 10rem;
    height: 2.8rem;
    margin-top: 3rem;
}

#btnPaymentInfo {
    background: #888888;
    border-radius: 3px;
    color: #fff;
    width: 10rem;
    height: 2.8rem;
    margin-top: 3rem;
}

.checked_row:nth-of-type(1) {
    margin-bottom: 0.5rem;
}

#thanks_text {
    text-align: center;
    font-size: 0.8125rem;
    color: #888888;
    padding-bottom: 2rem;
    border-bottom: 1px solid #C4C4C4;
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
}

#thanks_text #free {}

#thanks_text #not_free {
    display: none;
}

#payed_title2 {
    max-width: 30rem;
    width: 100%;
    font-size: 0.8125rem;
    color: #1a1a1a;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3rem;
}

.buy_titles2 {
    margin-top: 7.5rem;
    position: relative;
    width: 16rem;
    text-align: center;
    margin: 0 auto;
}

.buy_titles2 h1 {
    color: #333333;
    font-weight: bold;
    font-size: 1.375rem;
    position: relative;
    z-index: 10;
}

.buy_titles2 span {
    position: absolute;
    top: 0;
    left: 0;
}

.buy_titles2 span {
    content: "";
    position: absolute;
    width: 16rem;
    height: 1rem;
    background: rgba(45, 171, 232, 0.3);
    right: 0;
    top: 0.6rem;
    z-index: 0;
}

#card_info {
    max-width: 17.5rem;
    width: 100%;
    height: 4rem;
    font-size: 0.8125rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

#card_info h1 {
    font-size: 0.8125rem;
    color: #1a1a1a;
    vertical-align: middle;
    display: inline-block;
    margin-left: 1rem;
    font-weight: bold;
}

#card_info h1 span {
    font-weight: 300;
}

#card_icons {
    background: url(/assets/images/icon/card.png)no-repeat;
    background-position: center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    display: inline-block;
}

.swiper_border .swiper-slide {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    min-height: 340px;
}

.swiper_1_button_wrapper {}

.button_edit1 {
    left: -3rem;
    top: 66%;
}

.button_edit2 {
    right: -3rem;
    top: 66%;
}

.nav_text {
    min-height: 40px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: block;
}

.blue_active {
    color: #2DABE8;
    text-decoration: underline;
    cursor: pointer;
}


/*============================
#page_title_top_div
============================*/

div#page_title_top_div {
    background: #F8F8F8;
    text-align: center;
    height: 6.5rem;
    padding: 1rem 0rem;
}

div#page_title_top_div h1 {
    color: #333333;
    font-weight: bold;
    font-size: 1.688rem;
}

div#page_title_top_div h2 {
    color: #888888;
    font-size: 1rem;
}


/*============================
#tree_menu_ul
============================*/

ul#tree_menu_ul {
    max-width: 1200px;
    height: 3.125rem;
    margin: 0 auto;
    font-size: 0;
    margin-top: 4.875rem;
    margin-bottom: 6rem;
}

#tree_menu_ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_active2 {
    background: #2DABE8!important;
    color: #fff!important;
    text-decoration: none!important;
    font-weight: bold!important;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
}

.blue_active2 a {
    color: #fff;
}

ul#tree_menu_ul li {
    vertical-align: middle;
    display: inline-block;
    width: 33.3333%;
    background: #F3F3F3;
    border: 1px solid #D7D7D7;
    font-size: 1rem;
    height: 100%;
    text-align: center;
    display: inline-flex;
    color: #1a1a1a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul#tree_menu_ul li:nth-of-type(1) {
    border-radius: 30px 0 0 30px;
}

ul#tree_menu_ul li:nth-of-type(3) {
    border-radius: 0px 30px 30px 0px;
}


/*============================
#two_menu_ul
============================*/

ul#two_menu_ul {
    max-width: 600px;
    height: 3.125rem;
    margin: 0 auto;
    font-size: 0;
    /* display: none; */
    margin-top: 4.875rem;
    margin-bottom: 6rem;
}

ul#two_menu_ul li.blue_active {
    background: #2DABE8;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

ul#two_menu_ul li {
    display: inline-block;
    width: 50%;
    background: #F3F3F3;
    border: 1px solid #D7D7D7;
    font-size: 1rem;
    height: 100%;
    text-align: center;
    display: inline-flex;
    color: #1a1a1a;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

ul#two_menu_ul li:nth-of-type(1) {
    border-radius: 30px 0 0 30px;
}

ul#two_menu_ul li:nth-of-type(2) {
    border-radius: 0 30px 30px 0;
}


/*============================
#m_sec1
============================*/

div#m_sec1 {}

div#m_sec1 div.row {
    margin-bottom: 1rem;
}

div.row img.left_icon {
    display: inline-block;
    width: 3.25rem;
    vertical-align: middle;
}

div.row h1.m_sec_title {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    color: #1A1A1A;
    display: inline-block;
    padding-left: 0.6rem;
}

div.row .q_icon {
    display: inline-block;
    width: 1rem;
    vertical-align: middle;
    margin-left: 0.3rem;
    cursor: pointer;
    height: 1rem;
}

div.row div.q_popup {
    display: inline-block;
    background: #1a1a1a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: none;
    position: absolute;
    margin-left: 1.5rem;
}

div.row div.q_popup h1 {
    color: #fff;
    font-size: 0.75rem;
    display: inline-block;
    vertical-align: middle;
}

div.row div.q_popup img.close_popup {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;
    cursor: pointer;
}


/*============================
#useing_service
============================*/

div#m_sec1 table#useing_service {
    border: none;
    margin-bottom: 5rem;
    font-size: 1rem;
}

div#m_sec1 table#useing_service thead {
    background: #FAFAFA;
}

div#m_sec1 table#useing_service thead tr {
    height: 3rem;
    border-bottom: 1px solid #d7d7d7;
}

div#m_sec1 table#useing_service thead tr th {
    color: #1a1a1a;
    font-size: 1rem;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(1) {
    width: 15%;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(2) {
    width: 20%;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(3) {
    width: 20%;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(4) {
    width: 20%;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(5) {
    width: 10%;
}

div#m_sec1 table#useing_service thead tr th:nth-of-type(6) {
    width: 15%;
}

div#m_sec1 table#useing_service tbody {}

div#m_sec1 table#useing_service tbody tr {
    border-top: none;
    border-bottom: 1px solid #d7d7d7;
}

div#m_sec1 table#useing_service tbody tr td {
    border-right: none;
    background-color: #fff;
    color: #1a1a1a;
    font-size: 0.875rem;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(1) {
    width: 15%;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(2) {
    width: 20%;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(3) {
    width: 20%;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(4) {
    width: 20%;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(5) {
    width: 10%;
}

div#m_sec1 table#useing_service tbody tr td:nth-of-type(6) {
    width: 15%;
}

div#m_sec1 table#useing_service tbody tr td span.stop_paying {
    color: #AEAEAE;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

div#m_sec1 table#useing_service tbody tr td span.paying00 {
    color: #2DABE8;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.7rem;
    cursor: pointer;
}


/*============================
#m_sec2
============================*/

div#m_sec2 {
    margin-bottom: 5rem;
}

div#m_sec2 div.row {
    margin-bottom: 1rem;
}

div#m_sec2 div.row img.left_icon {}

div#m_sec2 div.row h1.m_sec_title {}

div#m_sec2 div.row img {}

div#m_sec2 div.row div.q_popup {}

div#m_sec2 div.row div.q_popup h1 {}

div#m_sec2 div.row div.q_popup img.close_popup {}


/*============================
#useing_service
============================*/

div#m_sec2 table#useing_service {
    border: none;
}

div#m_sec2 table#useing_service thead {
    background: #FAFAFA;
}

div#m_sec2 table#useing_service thead tr {}

div#m_sec2 table#useing_service thead tr th {
    height: 3rem;
    border-bottom: 1px solid #d7d7d7;
}

div#m_sec2 table#useing_service tbody {}

div#m_sec2 table#useing_service tbody tr {
    border-top: none;
    border-bottom: 1px solid#D7D7D7;
}

div#m_sec2 table#useing_service tbody tr td {
    background: #fff;
    border-right: none;
    background-color: #fff;
    color: #1a1a1a;
    font-size: 0.875rem;
}

tbody tr td span.change_payment_btn {
    color: #2DABE8;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.7rem;
    cursor: pointer;
}


/*============================
#m_sec3
============================*/

div#m_sec3 {
    margin-bottom: 10rem;
}

div#m_sec3 div.row {
    margin-bottom: 1rem;
}

div#m_sec3 div.row img.left_icon {
    width: 2.188rem;
}

div#m_sec3 div.row h1.m_sec_title {}

div#m_sec3 div.row img {}

div#m_sec3 div.row div.q_popup {}

div#m_sec3 div.row div.q_popup h1 {}

div#m_sec3 div.row div.q_popup img.close_popup {}


/*============================
#useing_service
============================*/

div#m_sec3 table#useing_service {
    border: none;
}

div#m_sec3 table#useing_service thead {
    background: #FAFAFA;
}

div#m_sec3 table#useing_service thead tr {}

div#m_sec3 table#useing_service thead tr th {
    height: 3rem;
    border-bottom: 1px solid #d7d7d7;
}

div#m_sec3 table#useing_service tbody {}

div#m_sec3 table#useing_service tbody tr {
    border-top: none;
    border-bottom: 1px solid #d7d7d7;
}

div#m_sec3 table#useing_service tbody tr td {
    border-right: none;
    background-color: #fff;
    color: #1a1a1a;
    font-size: 0.875rem;
}

div#m_sec3 table#useing_service tbody tr td:nth-of-type(2) {
    padding-left: 1rem;
}

div#m_sec3 table#useing_service tbody tr td button.open_s_point {
    margin-left: 0.5rem;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
}

#m_sec3_mb button.open_s_point_mb {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 6rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

div#m_sec3 table#useing_service tbody tr td.two_row {}

div#m_sec3 table#useing_service tbody tr td.two_row h1 {
    color: #1a1a1a;
    font-size: 0.875rem;
}

div#m_sec3 table#useing_service tbody tr td.two_row h2 {
    color: #616161;
    font-size: 0.625rem;
}

div#m_sec3 table#useing_service tbody tr td span.cancel_reservation_point {
    color: #AEAEAE;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

div#m_sec3 table#useing_service tbody tr td span.reservation_point {
    color: #2DABE8;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.7rem;
    cursor: pointer;
}


/*---sÃƒÂ«Ã‚ÂªÃ‚Â¨ÃƒÂ«Ã¢â‚¬Â¹Ã‚Â¬--*/


/*============================
#s_modal_body
============================*/

div.s_modal {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

div#s_modal_body {
    background: #fff;
    opacity: 1;
    z-index: 1;
    max-width: 50rem;
    width: 90%;
    position: absolute;
    padding: 3rem 2rem;
    height: auto;
    max-height: 90%;
}


/*============================
#s_header
============================*/

div#s_modal_body div#s_header {}


/*============================
#close_btn
============================*/

div#s_modal_body div#s_header img#close_btn {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}


/*============================
#y_alert
============================*/

div#s_modal_body div#s_header img#y_alert {
    display: inline-block;
    width: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

div#s_modal_body div#s_header h1 {
    display: inline-block;
    font-size: 1.25rem;
    color: #1a1a1a;
    font-weight: bold;
    vertical-align: middle;
}

div#s_modal_body div#s_header h2 {
    display: inline-block;
    font-size: 1.1rem;
    color: #aaaaaa;
    vertical-align: middle;
}


/*============================
#text2
============================*/

div#s_modal_body h1#text2 {
    font-size: 1rem;
    color: #1a1a1a;
    margin-top: 2rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}


/*============================
#s_point_modal_table
============================*/

div#s_modal_body table#s_point_modal_table {
    margin-top: 1rem;
    border: 1px solid #D7D7D7;
}

div#s_modal_body table#s_point_modal_table thead {}

div#s_modal_body table#s_point_modal_table thead tr {}

div#s_modal_body table#s_point_modal_table thead tr th {
    background: #F3F3F3;
    height: 2.6rem;
    width: 50%;
    font-size: 0.875rem;
    color: #1a1a1a;
}

div#s_modal_body table#s_point_modal_table tbody {}

div#s_modal_body table#s_point_modal_table tbody tr {}

div#s_modal_body table#s_point_modal_table tbody tr td {
    background: #fff;
    font-size: 0.875rem;
    color: #1a1a1a;
    border-right: none;
}

div#s_modal_body table#s_point_modal_table tbody tr td:nth-of-type(1) {
    position: relative;
}

div#s_modal_body table#s_point_modal_table tbody tr td:nth-of-type(1)::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    top: 25%;
    height: 50%;
    background: #d7d7d7;
}

div#s_modal_body table#s_point_modal_table tfoot tr {}

div#s_modal_body table#s_point_modal_table tfoot tr td {
    background: #F3F3F3;
    height: 2.6rem;
    width: 50%;
    font-size: 0.875rem;
    color: #1a1a1a;
    font-weight: bold;
    border-right: none;
}

div#s_modal_body table#s_point_modal_table tfoot tr td#total_point_blue {
    color: #2DABE8;
}


/*============================
#null_s_point
============================*/

div#s_modal_body h1#null_s_point {
    font-size: 1rem;
    color: #888;
    text-align: center;
    height: 13rem;
    display: none;
    align-items: center;
    justify-content: center;
}


/*============================
#close_s_modal
============================*/

div#s_modal_body button#close_s_modal {
    max-width: 12.5rem;
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background: #2DABE8;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3rem;
    display: block;
}


/*============================
#s_modal_bg
============================*/

div#s_modal_bg {}


/*============================
#m_sec1_mb
============================*/

.m_sevice_mb {}

.m_sevice_mb div.row {
    margin-bottom: 1rem;
    padding: 0rem 2rem;
}

#m_sec3_mb.m_sevice_mb div.row img.left_icon {
    width: 3rem;
}

.m_sevice_mb div.row img.left_icon {
    display: inline-block;
    width: 4.727rem;
    vertical-align: middle;
}

.m_sevice_mb div.row h1.m_sec_title {
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1A1A1A;
    display: inline-block;
    padding-left: 0.6rem;
}

.m_sevice_mb div.row img.q_icon {
    display: inline-block;
    width: 1.3rem;
    vertical-align: middle;
    margin-left: 0.3rem;
    cursor: pointer;
    height: 1.3rem;
}

.m_sevice_mb div.row div.q_popup {}

.m_sevice_mb div.row div.q_popup h1 {}

.m_sevice_mb div.row div.q_popup img.close_popup {}

.m_sevice_mb ul.mb_table_service {}

.m_sevice_mb ul.mb_table_service.gray_s_date {
    color: #616161;
    font-size: 1.273rem;
}

#m_sec3_mb .gray_s_date {
    color: #616161;
    font-size: 0.9rem;
}

.width50 {
    width: 50%!important;
}

.point_s {
    width: 50%!important;
}

.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 {
    margin-bottom: 3rem;
    background: #F3F3F3;
    padding: 1rem 2rem;
}

.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 h1 {
    font-size: 1.091rem;
    display: inline-block;
    width: 50%;
}

.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 h2 {
    position: relative;
    font-size: 0.8182rem;
    font-weight: bold;
    color: #1a1a1a;
    display: inline-block;
    width: 50%;
    text-align: right;
    z-index: 2;
}

.m_sevice_mb ul.mb_table_service li.gray_bg.gray_bg2 {
    position: relative;
}

.m_sevice_mb ul.mb_table_service li.gray_bg2 {
    background: #F3F3F3;
    padding: 1rem 2rem;
    position: relative;
    margin-bottom: 3rem;
}

.m_sevice_mb ul.mb_table_service li.gray_bg::after {
    content: "";
    position: absolute;
    right: 1.3rem;
    background: #2DABE8;
    opacity: 0.3;
    height: 1rem;
    top: 1.4rem;
    width: 5rem;
}

.m_sevice_mb ul.mb_table_service li.gray_bg {
    background: #F3F3F3;
    padding: 1rem 2rem;
    position: relative;
    border-top: 1px solid #ddd;
}

.m_sevice_mb ul.mb_table_service li.gray_bg h1 {
    display: inline-block;
    width: 50%;
}

.m_sevice_mb ul.mb_table_service li.gray_bg h2.blue_liner0 {
    width: 50%;
    padding-right: 2rem;
}

.m_sevice_mb ul.mb_table_service li {
    font-size: 0;
    padding: 1rem 2rem;
    border-bottom: 1px solid #F3F3F3;
}

.m_sevice_mb ul.mb_table_service li>h1 {
    font-size: 1.1rem;
    display: inline-block;
    width: 20%;
    color: #1a1a1a;
}

.m_sevice_mb ul.mb_table_service li h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #1a1a1a;
    position: relative;
    display: inline-block;
    width: 80%;
    text-align: right;
    z-index: 2;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row {
    display: inline-block;
    width: 80%;
    text-align: right;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.payment {
    background: #F3F3F3;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: bold;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.change_payment_btn {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.receipt_btn {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.reservation_point_mb {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 6rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.m_sevice_mb ul.mb_table_service li .s_mb_btn_row button.reservation_point_mb_cancel {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 6rem;
    height: 2.5rem;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: none;
}

.m_sevice_mb ul.mb_table_service li button.stop_paying {
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    width: 5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-size: 0.9091rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

#m_sec2_mb {
    display: none;
}

#m_sec1_mb {
    display: none;
}

#m_sec3_mb {
    display: none;
}

div.popup_table_form {
    width: 100%;
}

div.popup_table_form div.popup_table_form_color {
    background-color: #f3f3f3;
}

div.popup_table_form div.popup_table_form_color div.row {
    width: 100%;
    font-size: 0;
    text-align: center;
}

div.popup_table_form div.popup_table_form_color div.row div.col {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    padding: 1rem 0;
}

div.popup_table_form div.popup_table_form_body {}

.scroll_active {
    height: 27.88rem;
    overflow-y: auto;
}

div.popup_table_form div.popup_table_form_body div.row {
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
}

div.popup_table_form div.popup_table_form_body div.row div.col {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    padding: 0.3rem 0;
}

div.popup_table_form div.popup_table_form_color div.row div.col.bold {
    font-weight: bold;
}

div.popup_table_form div.popup_table_form_color div.row div.col.color.bold {
    color: #2DABE8;
}


/*============================
#close_account_title
============================*/

h1#close_account_title {
    font-size: 1.5rem;
    color: #1a1a1a;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}


/*============================
#ticket_type_ingfo2
============================*/

div#ticket_type_ingfo2 {
    background: #F9F9F9;
    height: 12.38rem;
    padding: 3rem 4rem;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


/*============================
#left
============================*/

div#ticket_type_ingfo2 div#left {
    width: 50%;
    display: inline-block;
}

div#ticket_type_ingfo2 div#left h1 {
    font-size: 1.125rem;
    color: #1a1a1a;
    font-weight: bold;
}

div#ticket_type_ingfo2 div#left h2 {
    font-size: 0.875rem;
    color: #797979;
    margin-top: 0.3rem;
}


/*============================
#right
============================*/

div#ticket_type_ingfo2 div#right {
    display: inline-block;
    width: 50%;
    text-align: right;
}

div#ticket_type_ingfo2 div#right h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

div#ticket_type_ingfo2 div#right h1.useing {
    color: #2DABE8;
}

div#ticket_type_ingfo2 div#right h1.stop_useing {
    color: #888888;
}


/*============================
#this-alert
============================*/

p#this-alert {
    font-size: 0.9rem;
    color: #888888;
    margin-bottom: 5rem;
}


/*============================
#close_account_reason
============================*/

div#close_account_reason {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 5rem;
}

div#close_account_reason div.line01 {
    margin-top: 2rem;
    font-size: 0;
}

div#close_account_reason div.line01>h1 {
    display: inline-block;
    width: 25%;
    font-size: 1rem;
    color: #1a1a1a;
    vertical-align: top;
}


/*============================
#reason
============================*/

div#close_account_reason div.line01 select#reason {
    width: 75%;
    height: 2.5rem;
    display: inline-block;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    background: url("/assets/images/icon/under_.png")no-repeat;
    background-size: 1.3rem;
    background-position: 26.5rem 0.6rem;
    background-color: #fff;
    -webkit-appearance: none;
}

div#close_account_reason div.line01 select#reason option {}

div#close_account_reason div.line01 h1 span {
    color: #797979;
    font-size: 0.8rem;
    margin-left: 0.2rem;
}

div#close_account_reason div.line01 textarea {
    width: 75%;
    padding: 0.5rem;
    height: 13rem;
    overflow-y: auto;
    vertical-align: middle;
}

div#close_account_reason div.line01 div.line02 {
    display: inline-block;
    vertical-align: top;
}

div#close_account_reason .line02 h1 {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
}

div#close_account_reason div.line01 div.line02 h2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.6rem;
    vertical-align: middle;
}

div#close_account_reason div.line01 div.line02 button {
    background: #E7E7E7;
    border-radius: 3px;
    width: 7rem;
    height: 2.4rem;
    vertical-align: middle;
}

div#close_account_reason div.line01 div.line02 img {
    display: inline-block;
    width: 1rem;
    margin-left: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
    margin-left: 0;
}

div#close_account_reason div.line01 div.line02 p {
    font-size: 0.8rem;
    color: #1a1a1a;
    display: inline-block;
    vertical-align: middle;
}


/*============================
#back
============================*/

div#close_account_reason div.line01 button#back {
    background: #E7E7E7;
    color: #1a1a1a;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 1rem;
}


/*============================
#agree
============================*/

div#close_account_reason div.line01 button#agree {
    background: #2DABE8;
    color: #fff;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 1rem;
}

#checked_user {
    display: none;
}

#reason option:nth-of-type(1) {
    color: #888 !important;
}


/*============================
#close_account_alert_div
============================*/

div#close_account_alert_div {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

div#close_account_alert_div ul {
    max-width: 35rem;
    background: #fff;
    position: relative;
    width: 100%;
    max-height: 14rem;
    height: 100%;
    display: flex;
    z-index: 2;
}

div#close_account_alert_div ul img {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

div#close_account_alert_div ul li {
    font-size: 0;
}

div#close_account_alert_div ul li:nth-of-type(1) {
    height: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#close_account_alert_div ul li h1 {
    text-align: center;
    font-size: 1.2rem;
    color: #666666;
}

div#close_account_alert_div ul li h1 span {
    margin: 0 0.5rem;
    color: #1a1a1a;
}

div#close_account_alert_div ul li:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/*============================
#close_this_modal
============================*/

div#close_account_alert_div ul li button#close_this_modal {
    width: 50%;
    display: inline-block;
    background: #C0C0C0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    height: 4rem;
}


/*============================
#account_agree
============================*/

div#close_account_alert_div ul li button#account_agree {
    width: 50%;
    display: inline-block;
    background: #009ACA;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    height: 4rem;
}


/*============================
#bg
============================*/

div#close_account_alert_div div#bg {
    position: absolute;
    background: rgba(25, 25, 25, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

div#close_account_reason div.line01 div.line02 button {
    background: #E7E7E7;
    border-radius: 3px;
    width: 7rem;
    height: 2.4rem;
    vertical-align: middle;
    font-size: 0.875rem;
}

div.change_card_payment_div {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}


/*============================
#change_card_payment_body
============================*/

div.change_card_payment_div div#change_card_payment_body {
    max-width: 40rem;
    width: 90%;
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 2rem;
}


/*============================
#x
============================*/

div.change_card_payment_div div#change_card_payment_body img#x {
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
}

div.change_card_payment_div div#change_card_payment_body h1 {
    font-size: 1.1rem;
    color: #1a1a1a;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}

div.change_card_payment_div div#change_card_payment_body h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1a1a1a;
}


/*============================
#change_card_num
============================*/

div.change_card_payment_div div#change_card_payment_body div#change_card_num {
    font-size: 0;
    margin: 0 auto;
    text-align: center;
}

div.change_card_payment_div div#change_card_payment_body div#change_card_num input {
    width: 23.5%;
    display: inline-block;
    height: 2rem;
}

div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(1),
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(2),
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(3) {
    position: relative;
    margin-right: 2%;
    height: 2rem;
}

div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(1)::after,
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(2)::after,
div.change_card_payment_div div#change_card_payment_body div#change_card_num input:nth-of-type(3)::after {
    content: "";
    position: absolute;
}


/*============================
#card_mm_yy
============================*/

div.change_card_payment_div div#change_card_payment_body div#card_mm_yy {}


/*============================
#mm
============================*/

div.change_card_payment_div div#change_card_payment_body div#card_mm_yy input#mm {
    max-width: 6rem;
    height: 2rem;
}


/*============================
#yy
============================*/

div.change_card_payment_div div#change_card_payment_body div#card_mm_yy input#yy {
    max-width: 6rem;
    width: 100%;
    height: 2rem;
}

div.change_card_payment_div div#change_card_payment_body h1 span {
    color: #666666;
    font-size: 0.9rem;
}


/*============================
#pwd
============================*/

div.change_card_payment_div div#change_card_payment_body div#pwd {}

div.change_card_payment_div div#change_card_payment_body div#pwd span {
    margin-right: 0.3rem;
    vertical-align: middle;
}

div.change_card_payment_div div#change_card_payment_body div#pwd input {
    max-width: 3rem;
    width: 100%;
    height: 2rem;
}


/*============================
#checked_agree_
============================*/

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ {}


/*============================
#agree11
============================*/

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11 {
    display: none;
    vertical-align: middle;
}

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11[type="checkbox"]+label {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #d7d7d7;
    background: #fff;
    vertical-align: middle;
    margin-top: 1rem;
}

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ input#agree11[type="checkbox"]:checked+label {
    width: 1rem;
    height: 1rem;
    border: 1px solid #d7d7d7;
    background: #fff;
    background: url("/assets/images/icon/check_black.png")no-repeat;
    display: inline-block;
    background-size: 50%;
    background-position: center;
    vertical-align: middle;
    margin-top: 1rem;
}

div.change_card_payment_div div#change_card_payment_body div#checked_agree_>h1 {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.3rem;
}

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ h1 span {
    color: #2DABE8;
    text-decoration: underline;
    cursor: pointer;
}


/*============================
#red_alert
============================*/

div.change_card_payment_div div#change_card_payment_body div#checked_agree_ p#red_alert {
    color: #EE0000;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}


/*============================
#change_card_payment_btn_div
============================*/

div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div {
    font-size: 0;
    margin-top: 2rem;
}


/*============================
#close_div
============================*/

div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div button#close_div {
    width: 48%;
    background: #E7E7E7;
    border-radius: 3px;
    height: 3rem;
    font-size: 1.1rem;
}


/*============================
#ok
============================*/

div.change_card_payment_div div#change_card_payment_body div#change_card_payment_btn_div button#ok {
    width: 48%;
    background: #2DABE8;
    border-radius: 3px;
    height: 3rem;
    font-size: 1.1rem;
    margin-left: 4%;
}


/*============================
#bg
============================*/

div.change_card_payment_div div#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(25, 25, 25, 0.4);
}

#margin0 {
    margin-right: 0!important;
}


/*============================
#change_ticket_type_modals
============================*/

div#change_ticket_type_modals {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}


/*============================
#parent_div
============================*/

div#change_ticket_type_modals div#parent_div {
    background: #fff;
    max-width: 34rem;
    width: 90%;
    padding: 2rem;
    position: relative;
    z-index: 3;
}


/*============================
#title
============================*/

div#change_ticket_type_modals div#parent_div h1#title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1a1a1a;
}


/*============================
#title2
============================*/

div#change_ticket_type_modals div#parent_div h2#title2 {
    color: #666666;
    font-size: 1.1rem;
    margin-top: 1rem;
}

div#change_ticket_type_modals div#parent_div div.round_g_box {
    background: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding: 2rem;
}


/*============================
#roni_ribon
============================*/

div#change_ticket_type_modals div#parent_div div.round_g_box img#roni_ribon {
    display: inline-block;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0;
}

div#change_ticket_type_modals div#parent_div div.round_g_box h1 {
    font-size: 1.1rem;
    color: #1a1a1a;
    font-weight: bold;
}


/*============================
#roni
============================*/

div#change_ticket_type_modals div#parent_div div.round_g_box h1 span#roni {
    color: #0035E1;
}

div#change_ticket_type_modals div#parent_div div.round_g_box h2 {
    color: #888888;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}


/*============================
#pai_ribon
============================*/

div#change_ticket_type_modals div#parent_div div.round_g_box img#pai_ribon {
    display: inline-block;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0;
}

div#change_ticket_type_modals div#parent_div p {
    font-size: 0.9rem;
    color: #666666;
    margin-top: 2rem;
    padding: 0rem 2rem;
}


/*============================
#change_card_payment_btn_div
============================*/

div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div {
    font-size: 0;
    margin-top: 3rem;
}


/*============================
#close_div
============================*/

div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div button#close_div {
    background: #C0C0C0;
    width: 48%;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
}


/*============================
#ok
============================*/

div#change_ticket_type_modals div#parent_div div#change_card_payment_btn_div button#ok {
    background: #009ACA;
    width: 48%;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-left: 4%;
    color: #fff;
}


/*============================
#bg
============================*/

div#change_ticket_type_modals div#bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.6);
}


/*============================
#ticket_type_popup
============================*/

div#ticket_type_popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

div#ticket_type_popup ul {
    background: #fff;
    max-width: 32rem;
    width: 90%;
    position: absolute;
    z-index: 2;
}

div#ticket_type_popup ul li:nth-of-type(1) {
    font-size: 0.9rem;
    color: #1a1a1a;
    text-align: center;
    padding: 4rem 0rem;
    position: relative;
}

div#ticket_type_popup ul li:nth-of-type(1) img {
    position: absolute;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    top: 1em;
    right: 1rem;
    cursor: pointer;
}

div#ticket_type_popup ul li:last-of-type button {
    color: #fff;
    background: #009ACA;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1.2rem 0rem;
}


/*============================
#bg
============================*/

div#ticket_type_popup div#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.6);
    z-index: 1;
}

.mb_table_service .ac_menu_icon {
    display: inline-block;
    width: 1.3rem;
    position: absolute;
    top: 1.2rem;
}

div.agree_text_popup_wrap {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 100%;
}

div.agree_text_popup_wrap div.display_none_back {
    position: absolute;
    height: auto;
    background-color: #fff;
    display: block;
    max-width: 40rem;
    width: 100%;
    opacity: 1;
    z-index: 33;
}

.agree_script_div {
    display: none;
}

div.agree_text_popup_wrap div.display_none_back h1 {
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    height: 23rem;
    border: 1px solid #dbdbdb;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

div.agree_text_popup_wrap div.display_none_back #title {
    text-align: left;
    font-size: 1rem;
    background-color: #333333;
    position: relative;
    line-height: 49px;
    height: 49px;
    text-align: left;
}

div.agree_text_popup_wrap div.display_none_back #title h1 {
    font-size: 1.25rem;
    width: 90%;
    color: #fff;
    margin: 0 auto;
    font-weight: normal;
    height: auto;
    border: none;
}

div.agree_text_popup_wrap div.display_none_back button.btn_confirm_terms.join_step_popup_close {}


/*============================
#bg
============================*/

div.agree_text_popup_wrap div#bg {
    position: absolute;
    top: 0;
    background: rgba(25, 25, 25, 0.6);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.search_button_div {
    display: inline-block;
}

.top_btn_container {
    position: fixed;
    max-width: 1380px;
    width: 95%;
    left: 50%;
    margin-left: -690px;
    bottom: 14%;
    text-align: right;
    height: 1px;
    z-index: 6;
}

.edit_top_btn {
    background: url(/assets/images/peersale/state_top_btn.png) no-repeat;
    background-color: #EAEAEA;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 4.85rem;
    background-size: 0.875rem;
    background-position: center 0.875rem;
    cursor: pointer;
    float: right;
}

.edit_top_btn h1 {
    color: #333333;
    text-align: center;
    display: block;
    font-size: 0.875rem;
}

.swiper_left_area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 9rem;
    height: 100%;
    z-index: 6;
}

.swiper_right_area {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 9rem;
    height: 100%;
    z-index: 6;
}

div.popup_change_1 {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9;
}

div.popup_change_1 div.popup_header {
    padding: 1.5rem 1rem;
    padding-bottom: 0;
}

div.popup_change_1 div.popup_header h1 {
    font-size: 1.25rem;
    font-weight: 600;
    /* color: ; */
}


/*============================
#close_btn
============================*/

div.popup_change_1 div.popup_header img#close_btn {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

div.popup_change_1 form {}

div.popup_change_1 form div.row {
    margin-top: 2rem;
    padding-left: 1.5rem;
}

div.popup_change_1 form div.row h1.title {
    font-size: 1.15rem;
    color: #333;
    margin-bottom: 0.5rem;
}

div.popup_change_1 form div.row div {}

div.popup_change_1 form div.row div input {
    width: 10%;
    min-width: 3.5rem;
    padding: 0.3rem;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 0;
}

div.popup_change_1 form div.row h1 {
    font-size: 1.15rem;
    color: #333;
    margin-bottom: 0.5rem;
}

div.popup_change_1 form div.row div div.col {
    display: inline-block;
    min-width: 0;
    max-width: 100px;
    font-size: 1rem;
    margin-right: 0.5rem;
}

div.popup_change_1 form div.row div div.col input {
    width: 2.8rem;
    text-align: center;
    padding-left: 0;
}

div.popup_change_1 form div.row div div.col span {}

div.popup_change_1 form div.row h1 span {}

div.popup_change_1 form div.row div h1 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0.3rem;
}

div.popup_change_1 form div.agree {
    margin-top: 2rem;
    padding-left: 1.5rem;
}

div.popup_change_1 form div.agree input {
    display: inline-block;
    vertical-align: middle;
}

div.popup_change_1 form div.agree h1 {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.13rem;
    width: calc(100% - 20px - 0.5rem);
    word-break: keep-all;
}

div.popup_change_1 form div.agree h1 p {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: #2DABE8;
}

.popup_change_1 .error {
    color: #ea2929;
    display: none;
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    word-break: keep-all;
}

.button_row {
    text-align: center;
    margin-top: 3.5rem;
    display: block;
    font-size: 0;
}

.button_row button.close {
    display: inline-flex;
    font-size: 1.15rem;
    text-align: center;
    color: #ffffff;
    background-color: #aaa;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem 0;
}

.button_row input {
    display: inline-flex;
    font-size: 1.15rem;
    text-align: center;
    color: #fff;
    background-color: #2DABE8;
    border: 0;
    margin-left: 0;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    cursor: pointer;
}

.popup_box {
    background-color: #fff;
    position: relative;
    z-index: 6;
    max-width: 420px;
    width: 90%;
}

.popup_black {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
}

.agree input[class="checkbox"]+label {
    background-color: #fff;
    border: 1px solid #C4C4C4;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
}

.agree input[class="checkbox"]:checked+label {
    width: 15px;
    height: 15px;
    background: url(/assets/images/icon/check_black.png)no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: #C4C4C4;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5rem;
    cursor: pointer;
}

.popup_box_2 #ticket_types {
    width: 90%;
    padding-bottom: 0;
    height: 8.5rem;
    margin: 0.5rem auto;
    margin-top: 0.5rem;
}

.change_title {
    font-size: 1.15rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
}

.gui_text {
    font-size: 0.875rem;
    text-align: left;
    width: calc(100% - 3rem);
    margin: 0 auto;
    display: block;
    word-break: keep-all;
    color: #6d6d6d;
}

.vid_btn {
    font-size: 1rem;
    color: #fff;
    background-color: #009aca;
    display: block;
    width: 106px;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 3rem;
    cursor: pointer;
    position: absolute;
    top: -0.7rem;
}

.vid_btn2 {
    font-size: 1rem;
    color: #fff;
    background-color: #009aca;
    display: block;
    width: 106px;
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 3rem;
    cursor: pointer;
    position: absolute;
    top: -1.875rem;
}

.ronibot_active::before {
    content: '';
    position: absolute;
    border: 5px solid #4b67f1 !important;
    width: 20.5%;
    right: 21.15% !important;
    top: 0;
    height: 99.5%;
    border-radius: 5px;
    z-index: 6;
}

.paibot_active::before {
    content: '';
    position: absolute;
    border: 5px solid #4b67f1 !important;
    width: 20.5%;
    right: -0.1%!important;
    top: 0;
    height: 99.5%;
    border-radius: 5px;
    z-index: 6;
}

#section2_pc>table {
    position: relative;
    display: block;
}

#section2_pc>table::before {
    content: '';
    position: absolute;
    border: 5px solid #aaa;
    width: 20.4%;
    right: 21%;
    top: 0;
    height: 99.5%;
    border-radius: 5px;
    cursor: pointer;
}

#section2_pc>table::after {
    content: '';
    position: absolute;
    border: 5px solid #aaa;
    width: 20.9%;
    right: -0.2%;
    top: 0;
    height: 99.5%;
    border-radius: 5px;
    cursor: pointer;
}

.disable_ronibot::after {
    content: '';
    position: absolute;
    border: 5px solid #a0a0a0;
    width: 20.9%;
    right: 20.7% !important;
    top: 0;
    height: 99.5%;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    cursor: default;
}

.paibot_active::after {
    content: '';
    right: 20.7% !important;
}

@media(max-width:880px) {
    #sec1_title_div h1 span::after {
        width: 8rem;
    }
    .tui-datepicker {
        z-index: 9;
    }
    .tui-datepicker-input.tui-has-focus {
        border-color: #aaa;
        margin: 0.5rem 0;
    }
    .time_select_item_2 {
        width: 100% !important;
    }
    .middle_text {
        display: none !important;
    }
    .time_select_item_1 {
        display: block;
        width: 100%;
    }
    .tui-datepicker-input {
        width: 100% !important;
    }
    #checked_user {
        display: block;
        text-align: left;
        margin-top: 1rem;
    }
    div#close_account_reason div.line01 div.line02 {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        position: relative;
    }
    div#close_account_reason div.line01 div.line02 {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    div#close_account_reason div.line01>h1 br {
        display: none;
    }
    div#close_account_reason div.line01 textarea {
        width: 100%;
        padding: 0.5rem;
        height: 13rem;
        overflow-y: auto;
        margin-top: 0.5rem;
        vertical-align: middle;
    }
    div#close_account_reason div.line01>h1 {
        display: inline-block;
        width: 100%;
        font-size: 1.1rem;
        color: #1a1a1a;
        vertical-align: top;
    }
    div#close_account_reason div.line01 h1 span {
        color: #797979;
        font-size: 0.8rem;
        margin-left: 0;
    }
    div#close_account_reason div.line01 div.line02 button {
        background: #E7E7E7;
        border-radius: 3px;
        width: 8rem;
        height: 2.4rem;
        vertical-align: middle;
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: -0.3rem;
    }
    div#close_account_reason div.line01 select#reason {
        width: 100%;
        height: 2.5rem;
        display: inline-block;
        padding-left: 0.5rem;
        font-size: 1rem;
        background: url(/assets/images/icon/under_.png)no-repeat;
        background-size: 1.6rem;
        background-position-x: right;
        background-position-y: center;
        background-color: #fff;
        -webkit-appearance: none;
        margin-top: 0.5rem;
    }
    p#this-alert {
        font-size: 1rem;
        color: #888888;
        margin-bottom: 5rem;
    }
    div#ticket_type_ingfo2 div#left h2 {
        font-size: 0.9rem;
        color: #797979;
        margin-top: 0;
    }
    div#ticket_type_ingfo2 div#left h1 {
        font-size: 1.2rem;
        color: #1a1a1a;
        font-weight: bold;
    }
    div#close_account_reason div.line01 button#agree {
        background: #2DABE8;
        color: #fff;
        font-weight: bold;
        width: 50%;
        height: 3.4rem;
        font-size: 1rem;
        border-radius: 0;
        margin-right: 0;
    }
    div#close_account_reason div.line01 button#back {
        background: #E7E7E7;
        color: #1a1a1a;
        font-weight: bold;
        width: 50%;
        height: 3.4rem;
        font-size: 1rem;
        border-radius: 0;
        margin-right: 0;
    }
    div#ticket_type_ingfo2 div#left {
        width: 70%;
        display: inline-block;
    }
    div#ticket_type_ingfo2 div#right {
        display: inline-block;
        width: 30%;
        text-align: right;
    }
    div#ticket_type_ingfo2 {
        background: #F9F9F9;
        height: 12.38rem;
        padding: 2rem;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }
    .m_sevice_mb div.row {
        margin-bottom: 1rem;
        padding: 0rem 2rem;
        position: relative;
    }
    .m_sevice_mb div.row div.q_popup {
        margin-left: 0;
        position: absolute;
        z-index: 99;
        max-width: 80%;
        left: 2rem;
        width: 100%;
        bottom: -4rem;
    }
    div.row div.q_popup h1 {
        color: #fff;
        font-size: 0.9rem;
        width: 85%;
        display: inline-block;
        vertical-align: middle;
    }
    div.row div.q_popup h1 br {
        display: none;
    }
    .m_sevice_mb div.row div.q_popup img.close_popup {
        width: 2rem;
        margin-right: 0;
        display: inline-block;
        position: absolute;
        right: 1rem;
    }
    ul#tree_menu_ul {
        max-width: 1200px;
        height: 3.125rem;
        margin: 0 auto;
        font-size: 0;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }
    div#page_title_top_div {
        background: #F8F8F8;
        text-align: center;
        height: 7.1rem;
        padding: 1rem 0rem;
    }
    div#page_title_top_div h1 {
        font-size: 1.818rem;
        color: #333333;
        font-weight: bold;
    }
    div#page_title_top_div h2 {
        font-size: 1.2rem;
        color: #888888;
    }
    ul#tree_menu_ul {
        height: 4rem;
    }
    ul#tree_menu_ul li {
        font-size: 1.2rem;
        font-weight: bold;
    }
    ul#two_menu_ul {
        font-size: 0;
        height: 4rem;
        margin-top: 3r;
        margin-top: 3rem;
    }
    ul#two_menu_ul li {
        display: inline-flex;
        width: 50%;
        border-radius: 0;
        font-size: 1.2rem;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
    ul#tree_menu_ul li:nth-of-type(1),
    ul#tree_menu_ul li:nth-of-type(3) {
        border-radius: 0;
    }
    ul#two_menu_ul li:nth-of-type(1),
    ul#two_menu_ul li:nth-of-type(2) {
        border-radius: 0;
    }
    #m_sec2 {
        display: none;
    }
    #m_sec1 {
        display: none;
    }
    #m_sec3 {
        display: none;
    }
    #m_sec1_mb {
        display: block;
    }
    #m_sec2_mb {
        display: block;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    #m_sec3_mb {
        display: block;
        margin-bottom: 5rem;
    }
    .data_div {
        position: absolute;
        width: 6rem;
        height: 1rem;
        background: #FFDE00;
        opacity: 0.3;
        left: 0;
        top: 1.3rem;
        z-index: 0;
    }
    .footer_wra {
        position: absolute!important;
        width: 100%;
    }
    #section3 {
        margin-bottom: 6rem;
    }
    #section2_pc {
        display: none;
    }
    #sec2_mb {
        display: block;
    }
    #sec3_title {
        font-size: 1rem;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    #bottom_slider_menu {
        display: none;
    }
    #sec1_title_div h1 {
        font-size: 1.1rem;
    }
    #sec1_title_div h2 {
        font-size: 0.9rem;
    }
    .second_menu {
        padding: 1rem;
    }
    .second_menu li {
        font-size: 0.9rem;
    }
    .second_menu li:last-of-type {
        margin-top: 0.5rem;
    }
    .swiper-container_bottom .swiper-button-next,
    .swiper-container_bottom .swiper-button-prev {
        display: none;
    }
    .swiper-container_ticket_free,
    .swiper-container_ticket_free2,
    .swiper-container_ticket_free3 {
        position: relative;
    }
    .swiper-container_ticket_free .swiper-pagination-bullets,
    .swiper-container_ticket_free2 .swiper-pagination-bullets,
    .swiper-container_ticket_free3 .swiper-pagination-bullets {
        position: absolute;
        bottom: -2rem;
        width: 100%;
        margin: 0 3px;
        display: block;
        bottom: 0rem;
        text-align: center;
    }
    .swiper-container_ticket_free,
    .swiper-container_ticket_free2,
    .swiper-container_ticket_free3 {
        margin-top: 5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .buy {
        width: 8rem;
        height: 2.6rem;
        color: #fff;
        background: #AAAAAA;
        border-radius: 3px;
        font-size: 1rem;
        font-weight: bold;
    }
    .rows {
        text-align: center;
        margin-top: 3rem;
    }
    .select_ticket {
        position: absolute;
        right: 0;
        display: inline-block;
        top: 0rem;
        z-index: 99;
        display: none;
    }
    .mb_one_box {
        position: relative;
    }
    .select_ticket img {
        width: 4rem;
    }
    #sec2_mb {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    .container_wrapper {
        width: 100%;
    }
    .swiper-container_bottom .swiper-pagination {
        display: block;
    }
    #bottom_menu_mb {
        display: block;
        width: auto;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    #bottom_menu_mb select {
        width: 100%;
        margin: 0 auto;
        display: block;
        border: 0;
        width: 15rem;
        border-bottom: 1px solid #2DABE8;
        background: url(/assets/images/icon/icon_select.png) no-repeat;
        background-size: 20px;
        background-position: right;
        -webkit-appearance: none;
        text-align: center;
        padding-bottom: 0.3rem;
        padding-left: 1rem;
    }
    #ticket_types {
        background: #F3F3F3;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        max-width: 40rem;
        width: 90%;
        height: 10.5rem;
        margin: 0 auto;
        position: relative;
        padding: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    #section02 {
        max-width: 40rem;
        width: 90%;
    }
    #payed_card {
        max-width: 25rem;
        width: 100%;
        height: 5rem;
        border: 1px solid #cacaca;
        border-radius: 3px;
        background: url(/assets/images/icon/card.png)no-repeat;
        background-size: 3rem;
        font-size: 1.1rem;
        background-position: 1.5rem 0.8rem;
        font-weight: bold;
        color: #1a1a1a;
        padding-left: 1rem;
    }
    #next_step {
        background: #888888;
        border-radius: 3px;
        color: #fff;
        width: 13rem;
        height: 3.4rem;
        margin-top: 3rem;
    }
    #btnPaymentInfo {
        background: #888888;
        border-radius: 3px;
        color: #fff;
        width: 13rem;
        height: 3.4rem;
        margin-top: 1rem;
    }
    #ticket_types h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    #ticket_types h2 {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
    .btn_line {
        text-align: right;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    #section02 h1 {
        font-size: 0.95rem;
        color: #1a1a1a;
        display: inline-block;
        vertical-align: middle;
    }
    #payed_title {
        text-align: center;
        color: #1a1a1a;
        font-size: 0.95rem;
        margin-top: 1rem;
    }
    #thanks_text {
        text-align: center;
        font-size: 1rem;
        color: #888888;
        padding-bottom: 2rem;
        border-bottom: 1px solid #C4C4C4;
        max-width: 40rem;
        width: 90%;
        margin: 0 auto;
    }
    #payed_title2 {
        font-size: 0.8125rem;
        color: #1a1a1a;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 3rem;
        font-size: 1.182rem;
        max-width: 40rem;
        width: 90%;
    }
    #card_info h1 {
        font-size: 1.182rem;
        color: #1a1a1a;
        vertical-align: middle;
        display: inline-block;
        margin-left: 1rem;
        font-weight: bold;
    }
    .swiper-container_bottom .swiper-wrapper .swiper-slide {
        border: 1px solid #d7d7d7;
        height: 27.5rem;
    }
    .scroll_active {
        height: 18rem;
        overflow-y: auto;
    }
    div#s_modal_body {
        background: #fff;
        opacity: 1;
        z-index: 1;
        max-width: 50rem;
        width: 90%;
        position: absolute;
        padding: 2rem 1rem;
        height: auto;
        max-height: 90%;
    }
    div.popup_table_form div.popup_table_form_body div.row div.col {
        display: inline-block;
        width: 50%;
        font-size: 1rem;
        padding: 0.5rem 0;
    }
    div#s_modal_body h1#text2 {
        font-size: 1rem;
        color: #1a1a1a;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.4rem;
    }
    div#s_modal_body button#close_s_modal {
        max-width: 12.5rem;
        width: 100%;
        height: 3rem;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px;
        color: #fff;
        background: #2DABE8;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 2rem;
        display: block;
    }
}