@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -0.98px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

main {
  width: 100%;
  height: auto;
}
main .fixed2 {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: calc(5% + 100px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
main .fixed2 span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: 5%;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
main .fixed span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed img {
  filter: grayscale(100%) brightness(180%);
}
main .fixed.active span {
  color: #3d78ff;
}
main .fixed.active img {
  filter: none;
}
main section {
  padding-top: 160px;
}
main section article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
main section article input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
main section article input::placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}

article#top .title {
  display: flex;
  align-items: center;
}
article#top .title h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #202020;
  margin-bottom: 4px;
}
article#top .title span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d78ff;
  padding: 4px 18px 5px 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-left: 4px;
  cursor: pointer;
}
article#top .processBar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .processBar .step {
  width: 33.3333%;
}
article#top .processBar .step span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #dedede;
}
article#top .processBar .step p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #dedede;
}
article#top .processBar .step.active span {
  background-color: #3d78ff;
}
article#top .processBar .step.active p {
  color: #505050;
}

.checkBoxDiv {
  transform-origin: left;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkBoxDiv label.checkBox {
  width: 16px;
  height: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv input.chkBox {
  display: none;
}
.checkBoxDiv input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}
.checkBoxDiv label.text {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkBoxDiv.square label.checkBox {
  width: 15px;
  height: 15px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 1px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv.square input.chkBox {
  display: none;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2.5px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 1400px) {
  main .fixed2 {
    right: 140px;
  }
  main .fixed {
    right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  article#top .title h1 {
    font-size: 26px;
    letter-spacing: -1.3px;
  }
  article#top .processBar {
    margin-top: 60px;
  }
  article#top .processBar .step p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  main .fixed2 {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 30%;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed2 span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed._70 {
    width: 70%;
  }
  main .fixed span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed img {
    display: none;
  }
  main .fixed.active {
    background-color: #3d78ff;
  }
  main .fixed.active span {
    color: white;
  }
}

article#top .title img#talkInfo {
  display: none;
}

article#bizInfo {
  margin-top: 80px;
  margin-bottom: 200px;
}
article#bizInfo h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  color: #202020;
}
article#bizInfo h2 small {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.98px;
  text-align: left;
  color: #dedede;
  margin-left: 4px;
}
article#bizInfo .bg {
  width: 100%;
  padding: 40px 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}
article#bizInfo .bg .wrapper {
  width: 100%;
  max-width: 534px;
  margin: 0 auto;
}
article#bizInfo .bg .wrapper p {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.98px;
  color: #474246;
  position: relative;
}
article#bizInfo .bg .wrapper p.essential::after {
  content: "*";
  position: absolute;
  top: 0px;
  right: -7px;
  display: block;
}
article#bizInfo .bg .wrapper p.question {
  display: flex;
  align-items: center;
}
article#bizInfo .bg .wrapper p.question img {
  margin-left: 5px;
  cursor: pointer;
}
article#bizInfo .bg .wrapper .row,
article#bizInfo .bg .wrapper .flexRow {
  position: relative;
  margin-top: 5px;
  margin-bottom: 40px;
}
article#bizInfo .bg .wrapper .row span.underMsg,
article#bizInfo .bg .wrapper .flexRow span.underMsg {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  text-align: left;
  color: #bbb;
  position: absolute;
  top: 100%;
  left: 4px;
}
article#bizInfo .bg .wrapper .row span.underMsg b,
article#bizInfo .bg .wrapper .flexRow span.underMsg b {
  font-weight: 500;
  color: #3d78ff;
}
article#bizInfo .bg .wrapper .row span.underMsg.red,
article#bizInfo .bg .wrapper .flexRow span.underMsg.red {
  color: #ff7070;
  display: none;
}
article#bizInfo .bg .wrapper .row span.underMsg.marginLeft,
article#bizInfo .bg .wrapper .flexRow span.underMsg.marginLeft {
  margin-left: 112px;
}
article#bizInfo .bg .wrapper .row span.errMsg,
article#bizInfo .bg .wrapper .flexRow span.errMsg {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  text-align: left;
  color: #ff7070;
  position: absolute;
  top: calc(100% + 20px);
  left: 4px;
  display: none;
}
article#bizInfo .bg .wrapper .row span.errMsg#msg2.blue,
article#bizInfo .bg .wrapper .flexRow span.errMsg#msg2.blue {
  color: #3d78ff;
}
article#bizInfo .bg .wrapper .row span.errMsg#msg4,
article#bizInfo .bg .wrapper .flexRow span.errMsg#msg4 {
  top: 50%;
  right: 5px;
  left: auto;
  transform: translateY(-50%);
}
article#bizInfo .bg .wrapper .row span.errMsg#chrg_no2Msg,
article#bizInfo .bg .wrapper .flexRow span.errMsg#chrg_no2Msg {
  top: 50%;
  right: 5px;
  left: auto;
  transform: translateY(-50%);
}
article#bizInfo .bg .wrapper .row {
  margin-bottom: 40px;
}
article#bizInfo .bg .wrapper .row input {
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#bizInfo .bg .wrapper .row input:focus {
  outline: 2px solid black;
}
article#bizInfo .bg .wrapper .row select {
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 11px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#bizInfo .bg .wrapper .row select:focus {
  outline: 2px solid black;
}
article#bizInfo .bg .wrapper .flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#bizInfo .bg .wrapper .flexRow input {
  flex: 1;
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#bizInfo .bg .wrapper .flexRow input#bizNum {
  margin-right: 12px;
}
article#bizInfo .bg .wrapper .flexRow input:focus {
  outline: 2px solid black;
}
article#bizInfo .bg .wrapper .flexRow select#userPhone_1,
article#bizInfo .bg .wrapper .flexRow select#managerPhone_1 {
  width: 100px;
  margin-right: 12px;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 11px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#bizInfo .bg .wrapper .flexRow select#userPhone_1:focus,
article#bizInfo .bg .wrapper .flexRow select#managerPhone_1:focus {
  outline: 2px solid black;
}
article#bizInfo .bg .wrapper .flexRow button {
  width: 100px;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 12px 0;
  background-color: #e6e6e6;
  color: #ababab;
  font-size: 12px;
  letter-spacing: -0.84px;
  cursor: pointer;
}
article#bizInfo .bg .wrapper .flexRow button.blue {
  background-color: #3d78ff;
  color: white;
}
article#bizInfo .bg .wrapper .flexRow button:disabled {
  background-color: #f0f0f0;
  color: #ababab;
  pointer-events: none;
}

button.fixed3 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 60%;
  right: 5%;
  z-index: 10;
}

.modal#talkInfo .layerPopup .popupBody {
  max-height: 80vh;
  overflow: hidden;
}
.modal#talkInfo .wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 80px 80px 0 80px;
  box-sizing: border-box;
}
.modal#talkInfo .wrapper .left {
  width: 35%;
}
.modal#talkInfo .wrapper .left img {
  width: 100%;
}
.modal#talkInfo .wrapper .right {
  width: 55%;
}
.modal#talkInfo .wrapper .right .row.flexRight {
  display: flex;
  justify-content: right;
  margin-bottom: 60px;
}
.modal#talkInfo .wrapper .right .row.flexRight img {
  width: 100px;
}
.modal#talkInfo .wrapper .right .row p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.98px;
  text-align: left;
  color: #2b2b2b;
}
.modal#talkInfo .wrapper .right .flexRow {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal#talkInfo .wrapper .right .flexRow h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2.52px;
  color: #2b2b2b;
  margin-bottom: 3px;
}
.modal#talkInfo .wrapper .right .flexRow span {
  flex: 1;
  display: block;
  margin-left: 12px;
  height: 1px;
  background-color: #d6d6d6;
}
.modal#talkInfo .wrapper .right .grayBox {
  margin-top: 80px;
  background-color: #f8f8f8;
  padding: 60px 40px;
  box-sizing: border-box;
}
.modal#talkInfo .wrapper .right .grayBox h3 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1.82px;
  color: #2b2b2b;
}
.modal#talkInfo .wrapper .right .grayBox .flexRow {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.modal#talkInfo .wrapper .right .grayBox .flexRow input {
  flex: 1;
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  font-size: 12px;
  margin-right: 12px;
}
.modal#talkInfo .wrapper .right .grayBox .flexRow select {
  width: 120px;
  margin-right: 12px;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 11px 0;
  text-indent: 10px;
  font-size: 12px;
}
.modal#talkInfo .wrapper .right .grayBox .flexRow button {
  width: 120px;
  outline: none;
  border: 1px solid #2b2b2b;
  padding: 12px 0;
  background-color: #2b2b2b;
  color: white;
  font-size: 12px;
  letter-spacing: -0.84px;
  cursor: pointer;
}
.modal#talkInfo .wrapper .right .grayBox .flexRow span.underMsg {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  text-align: left;
  color: #bbb;
  position: absolute;
  bottom: -20px;
  left: 0;
  background: none;
}

@media only screen and (max-width: 900px) {
  article#top .title {
    justify-content: space-between;
  }
  article#top .title h1 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1.3px;
    color: #202020;
  }
  article#top .title img#talkInfo {
    width: 100px;
    display: block;
    cursor: pointer;
  }
  button.fixed3 {
    display: none;
  }
  .modal#talkInfo .layerPopup .popupBody {
    max-height: 80vh;
    overflow: hidden;
  }
  .modal#talkInfo .wrapper {
    max-width: 100%;
    padding: 30px 16px;
  }
  .modal#talkInfo .wrapper .left {
    display: none;
  }
  .modal#talkInfo .wrapper .right {
    width: 100%;
  }
  .modal#talkInfo .wrapper .right .row.flexRight {
    margin-bottom: 40px;
  }
  .modal#talkInfo .wrapper .right .row.flexRight img {
    width: 65px;
  }
  .modal#talkInfo .wrapper .right .row p {
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: -0.98px;
    text-align: left;
    color: #2b2b2b;
  }
  .modal#talkInfo .wrapper .right .flexRow {
    margin-bottom: 30px;
  }
  .modal#talkInfo .wrapper .right .flexRow h2 {
    font-size: 26px;
  }
  .modal#talkInfo .wrapper .right .grayBox {
    margin-top: 40px;
    padding: 24px 0px;
  }
  .modal#talkInfo .wrapper .right .grayBox h3 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1.82px;
    color: #2b2b2b;
  }
  .modal#talkInfo .wrapper .right .grayBox .flexRow {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .modal#talkInfo .wrapper .right .grayBox .flexRow input {
    flex: 1;
    width: 100%;
    outline: none;
    border: 1px solid #e2e2e2;
    padding: 12px 0;
    text-indent: 10px;
    font-size: 12px;
    margin-right: 12px;
  }
  .modal#talkInfo .wrapper .right .grayBox .flexRow select {
    width: 70px;
    margin-right: 12px;
    outline: none;
    border: 1px solid #e2e2e2;
    padding: 11px 0;
    text-indent: 10px;
    font-size: 12px;
  }
  .modal#talkInfo .wrapper .right .grayBox .flexRow button {
    width: 70px;
    outline: none;
    border: 1px solid #2b2b2b;
    padding: 12px 0;
    background-color: #2b2b2b;
    color: white;
    font-size: 12px;
    letter-spacing: -0.84px;
    cursor: pointer;
  }
  .modal#talkInfo .wrapper .right .grayBox .flexRow span.underMsg {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    color: #979797;
  }
}

/* 사업자 등록 번호 아이디 수정후 추가 */
article#bizInfo .bg .wrapper .flexRow input#biz_no {
  margin-right: 12px;
}

/* 아이디 수정 */
article#bizInfo .bg .wrapper .flexRow select#ceo_no1,
article#bizInfo .bg .wrapper .flexRow select#chrg_no1 {
  width: 100px;
  margin-right: 12px;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 11px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#bizInfo .bg .wrapper .flexRow select#ceo_no1:focus,
article#bizInfo .bg .wrapper .flexRow select#chrg_no1:focus {
  outline: 2px solid black;
}
