@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  font-size: 16px;
  letter-spacing: -0.98px;
}

html,
body {
  width: 100%;
  height: auto;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  display: block;
}

header,
main,
footer,
nav,
section,
article,
aside {
  display: block;
}

main {
  width: 100%;
  height: auto;
}
main .fixed2 {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: calc(5% + 100px);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
main .fixed2 span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  top: 210px;
  right: 5%;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
main .fixed span {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: right;
  color: #dedede;
  margin-bottom: 4px;
}
main .fixed img {
  filter: grayscale(100%) brightness(180%);
}
main .fixed.active span {
  color: #3d78ff;
}
main .fixed.active img {
  filter: none;
}
main section {
  padding-top: 160px;
}
main section article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
main section article input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
main section article input::placeholder {
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}

article#top .title {
  display: flex;
  align-items: center;
}
article#top .title h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #202020;
  margin-bottom: 4px;
}
article#top .title span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d78ff;
  padding: 4px 18px 5px 18px;
  border: 1px solid #3d78ff;
  border-radius: 20px;
  margin-left: 4px;
  cursor: pointer;
}
article#top .processBar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#top .processBar .step {
  width: 33.3333%;
}
article#top .processBar .step span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #dedede;
}
article#top .processBar .step p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #dedede;
}
article#top .processBar .step.active span {
  background-color: #3d78ff;
}
article#top .processBar .step.active p {
  color: #505050;
}

.checkBoxDiv {
  transform-origin: left;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkBoxDiv label.checkBox {
  width: 16px;
  height: 16px;
  border: 1px solid #cfcfcf;
  border-radius: 13px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv input.chkBox {
  display: none;
}
.checkBoxDiv input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}
.checkBoxDiv label.text {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.checkBoxDiv.square label.checkBox {
  width: 15px;
  height: 15px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 1px;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
  display: block;
}
.checkBoxDiv.square input.chkBox {
  display: none;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox {
  background-color: #3d78ff;
  border: 1px solid #3d78ff;
}
.checkBoxDiv.square input.chkBox:checked + label.checkBox::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2.5px;
  width: 9px;
  height: 12px;
  box-shadow: inset 2px 2px white;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 1400px) {
  main .fixed2 {
    right: 140px;
  }
  main .fixed {
    right: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  article#top .title h1 {
    font-size: 26px;
    letter-spacing: -1.3px;
  }
  article#top .processBar {
    margin-top: 60px;
  }
  article#top .processBar .step p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  main .fixed2 {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    width: 30%;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed2 span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed {
    top: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    z-index: 10;
    padding: 12px 0;
  }
  main .fixed._70 {
    width: 70%;
  }
  main .fixed span {
    display: block;
    text-align: center;
    font-size: 22px;
    color: #cecece;
  }
  main .fixed img {
    display: none;
  }
  main .fixed.active {
    background-color: #3d78ff;
  }
  main .fixed.active span {
    color: white;
  }
}

article#selfVerification {
  margin-top: 80px;
  margin-bottom: 200px;
}
article#selfVerification h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  color: #202020;
}
article#selfVerification .formBg {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 40px 0 20px 0;
  background-color: #f9f9f9;
}
article#selfVerification .formBg .formDiv {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
article#selfVerification .formBg .formDiv p {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.98px;
  color: #474246;
  position: relative;
}
article#selfVerification .formBg .formDiv p.essential::after {
  content: "*";
  position: absolute;
  top: 0px;
  right: -7px;
  display: block;
}
article#selfVerification .formBg .formDiv .row,
article#selfVerification .formBg .formDiv .flexRow {
  position: relative;
  margin-top: 5px;
  margin-bottom: 40px;
}
article#selfVerification .formBg .formDiv .row span.underMsg,
article#selfVerification .formBg .formDiv .flexRow span.underMsg {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  text-align: left;
  color: #bbb;
  position: absolute;
  top: 100%;
  left: 4px;
}
article#selfVerification .formBg .formDiv .row span.underMsg b,
article#selfVerification .formBg .formDiv .flexRow span.underMsg b {
  font-weight: 500;
  color: #3d78ff;
}
article#selfVerification .formBg .formDiv .row span.underMsg.red,
article#selfVerification .formBg .formDiv .flexRow span.underMsg.red {
  color: #ff7070;
  display: none;
}
article#selfVerification .formBg .formDiv .row span.errMsg,
article#selfVerification .formBg .formDiv .flexRow span.errMsg {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  text-align: left;
  color: #ff7070;
  position: absolute;
  top: calc(100% + 20px);
  left: 4px;
  display: none;
}
article#selfVerification .formBg .formDiv .row {
  margin-bottom: 60px;
}
article#selfVerification .formBg .formDiv .row input {
  width: 100%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  font-size: 12px;
}
article#selfVerification .formBg .formDiv .flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#selfVerification .formBg .formDiv .flexRow .left {
  width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article#selfVerification .formBg .formDiv .flexRow .left input {
  width: 31%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  color: #bbb;
  font-size: 12px;
}
article#selfVerification .formBg .formDiv .flexRow .left input:disabled {
  background-color: #f0f0f0;
}
article#selfVerification .formBg .formDiv .flexRow .left input#verificationCode {
  width: 100%;
}
article#selfVerification .formBg .formDiv .flexRow .left input:focus {
  outline: 2px solid black;
}
article#selfVerification .formBg .formDiv .flexRow .left span {
  color: #bbb;
  font-size: 12px;
  text-align: center;
}
article#selfVerification .formBg .formDiv .flexRow .left select {
  width: 31%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 10px 0;
  text-indent: 10px;
  font-size: 12px;
  letter-spacing: -0.84px;
  color: #bbb;
}
article#selfVerification .formBg .formDiv .flexRow .left select:focus {
  outline: 2px solid black;
}
article#selfVerification .formBg .formDiv .flexRow .left select:disabled {
  background-color: #f0f0f0;
}
article#selfVerification .formBg .formDiv .flexRow button {
  width: 100px;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 12px 0;
  background-color: #e6e6e6;
  color: #ababab;
  font-size: 12px;
  letter-spacing: -0.84px;
  cursor: pointer;
}
article#selfVerification .formBg .formDiv .flexRow button.blue {
  background-color: #3d78ff;
  color: white;
}
article#selfVerification .formBg .formDiv .flexRow button:disabled {
  background-color: #f0f0f0;
  color: #ababab;
  pointer-events: none;
}

article#termsAgree {
  margin-top: 80px;
}
article#termsAgree h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.65px;
  color: #202020;
}
article#termsAgree .formBg {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 40px 0;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;
}
article#termsAgree .formBg .formDiv {
  width: 50%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
}
article#termsAgree .formBg .formDiv .checkAll {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}
article#termsAgree .formBg .formDiv .checkAll p {
  font-size: 14px;
  letter-spacing: -0.98px;
  color: #202020;
  margin-left: 12px;
  margin-bottom: 1px;
  cursor: pointer;
}
article#termsAgree .formBg .formDiv .grayBox {
  padding: 20px 18px;
  box-sizing: border-box;
  background-color: #eeeeee;
}
article#termsAgree .formBg .formDiv .grayBox pre {
  white-space: pre-line;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#termsAgree .formBg .formDiv .panel.marketing .paddingBox pre {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#termsAgree .formBg .formDiv .panel.marketing .paddingBox img {
  width: 100%;
  margin-top: 18px;
}
article#termsAgree .formBg .formDiv .accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 18px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}
article#termsAgree .formBg .formDiv .accordion .title .left {
  display: flex;
  align-items: center;
}
article#termsAgree .formBg .formDiv .accordion .title .left p {
  font-size: 14px;
  letter-spacing: -0.98px;
  margin-left: 12px;
  margin-bottom: 1px;
  color: #202020;
  cursor: pointer;
}
article#termsAgree .formBg .formDiv .accordion .title .left p b {
  font-weight: 500;
  color: #3d78ff;
}
article#termsAgree .formBg .formDiv .accordion .title span {
  padding: 10px;
  cursor: pointer;
}
article#termsAgree .formBg .formDiv .accordion .title span img {
  transition: all 0.2s;
  width: 15px;
}
article#termsAgree .formBg .formDiv .accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eeeeee;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
article#termsAgree .formBg .formDiv .accordion .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
article#termsAgree .formBg .formDiv .accordion .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
article#termsAgree .formBg .formDiv .accordion .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
article#termsAgree .formBg .formDiv .accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#termsAgree .formBg .formDiv .accordion .checkBoxRow {
  padding: 10px 0;
  margin-left: 50px;
}
article#termsAgree .formBg .formDiv .accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
article#termsAgree .formBg .formDiv .accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}
article#termsAgree .formBg .formDiv .accordion.active .title span img {
  transform: rotate(90deg);
}
article#termsAgree .formBg .formDiv .accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  article#selfVerification .formBg {
    padding: 24px 8px;
    box-sizing: border-box;
  }
  article#selfVerification .formBg .formDiv {
    width: 100%;
  }
  article#selfVerification .formBg .formDiv p {
    font-size: 12px;
  }
  article#selfVerification .formBg .formDiv .row span.underMsg,
  article#selfVerification .formBg .formDiv .flexRow span.underMsg {
    font-size: 10px;
  }
  article#selfVerification .formBg .formDiv .row span.errMsg,
  article#selfVerification .formBg .formDiv .flexRow span.errMsg {
    font-size: 10px;
    top: -20px;
    right: 0;
    left: auto;
  }
  article#selfVerification .formBg .formDiv .row {
    margin-bottom: 40px;
  }
  article#selfVerification .formBg .formDiv .row input {
    font-size: 10px;
  }
  article#selfVerification .formBg .formDiv .flexRow .left input {
    font-size: 10px;
  }
  article#selfVerification .formBg .formDiv .flexRow .left span {
    font-size: 10px;
  }
  article#selfVerification .formBg .formDiv .flexRow .left select {
    font-size: 12px;
  }
  article#selfVerification .formBg .formDiv .flexRow button {
    font-size: 10px;
  }
  article#selfVerification .formBg .formDiv .flexRow.emailRow {
    flex-wrap: wrap;
    justify-content: right;
  }
  article#selfVerification .formBg .formDiv .flexRow.emailRow .left {
    width: 100%;
  }
  article#selfVerification .formBg .formDiv .flexRow.emailRow .left input,
  article#selfVerification .formBg .formDiv .flexRow.emailRow .left select {
    min-width: 100px;
  }
  article#selfVerification .formBg .formDiv .flexRow.emailRow button {
    width: 100px;
  }
  article#selfVerification .formBg .formDiv .flexRow.emailRow button#reqVerificationCode {
    margin-top: 8px;
  }
  article#termsAgree {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  article#termsAgree .formBg .formDiv {
    width: 100%;
  }
}