.myModal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparentize(#000, .9);
    z-index: 1000;
    overflow: hidden;

    &.on{
        display: block;
    }

    .content{
        width: 465px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);

        .top{
            border: 1px solid;
            display: none;
            align-items: center;
            justify-content: space-between;
            padding-left: 16px;
            box-sizing: border-box;
            background-color: #484848;

            &.show{
                display: flex;
            }

            p.modalTitle{
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -0.8px;
                text-align: left;
                color: #fff;
            }

            button#title_closeModal{
                padding: 16px;
                box-sizing: border-box;
                filter: invert(.8);
            }
        }

        button#closeModal{
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px;
            opacity: .5;

            &.hide{
                display: none;
            }
        }

        .main{
            padding: 35px 15px;
            box-sizing: border-box;
            font-size: 14px;
            letter-spacing: -0.6px;
            text-align: center;
            color: $dark;
        }

        .bottom{
            display: flex;
            justify-content: space-between;

            button{
                width: 100%;
                font-size: 14px;
                letter-spacing: -0.6px;
                text-align: center;
                color: #fff;
                padding: 11px 0 12px;
                background-color: $gray;

                &.blue{
                    background-color: $blue;
                }
                &.dark{
                    background-color: $dark;
                }
                &.gray{
                    background-color: $gray;
                }
                &.silver{
                    background-color: $silver;
                }
            }
        }
    }
}