@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: auto;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
    display: block;
}

button{
    border: none;
    cursor: pointer;
    background: none;
}

header,
main,
footer,
nav,
section,
article,
aside {
    display: block;
}

@mixin media_screen ($breakpoint){
    @media screen and (max-width: #{$breakpoint}) {
        @content;
    }
}

@include media_screen (1800px){
}

@mixin keyframes ($animation_name) {
	@keyframes #{$animation_name} {
		@content;
	}
}

@include keyframes (fadeIn) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}