@charset "utf-8";

$blue: #3e59b9;
$yellow: #ddce17;
$selected: #6382f0;


@mixin hideLine {
    content: "";
    position: absolute;
    top: 1px;
    left: -4px;
    height: 100%;
    height: calc(100% - 3px);
    width: 6px;
    background: #f5f5f5;
}

@mixin checkBullet {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: url(/assets/images/common/event/check_circle.png) no-repeat left top;
    border-radius: 50%;
}

.event_popup_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.35);
    font-size: 13px;
    line-height: 1.6;
    z-index: 9999;
    p, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .event_popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border: 1px solid #ddd;
        min-width: 560px;
        max-width: 600px;
        .popup_header {
            position: relative;
            padding: 1rem;
            background: $blue;
            border-bottom: 1px solid #ddd;
            margin: -1px;
            h2 {
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                margin: 0;
                line-height: 1.4;
                text-align: center;
                strong {
                    color: $yellow;
                }
            }
            .pop_close {
                position: absolute;
                top: 50%;
                right: 20px;
                width: 30px;
                height: 30px;
                transform: translateY(-50%);
                background: none;
                border: 0;
                padding: 0;
                opacity: 0.8;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .popup_body {
            padding: 1rem;
            .event_msg_box {
                padding: 1rem;
                background: #efefef;
                margin-bottom: 1rem;
            }
            .event_table {
                table {
                    border: 1px solid #ddd;
                    border-bottom: 0;
                    margin-bottom: 1rem;
                    table-layout: fixed;
                    border-collapse: collapse;
                    width: 100%;
                    th, td {
                        text-align: center;
                        padding: 0.5rem;
                    }
                    thead {
                        th {
                            font-size: 11px;
                            border-bottom: 1px solid #ddd;
                            background: #efefef;
                        }
                    }
                    tbody {
                        &.ronibot {
                            .type {
                                background: $blue;
                                color: #fff;
                            }
                        }
                        &.paibot {
                            .type {
                                background: $yellow;
                                color: #fff;
                            }
                        }
                        tr:hover {
                            td:not(.event_msg) {
                                background: #f5f5f5;
                            }
                        }
                        td {
                            border-right: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            cursor: pointer;
                            &.on {
                                position: relative;
                                outline: 2px solid $selected;
                                outline-offset: -2px;
                                background: #f5f5f5;
                                &.price::before {
                                    @include hideLine;
                                }
                                &.price::after {
                                    @include checkBullet;
                                }
                            }
                            &:last-child {
                                border-right: 0;
                            }
                            del {
                                display: block;
                                color: #a6a6a6;
                            }
                            ins {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .event_guide {
                    padding-top: 1rem;
                    border-top: 1px dashed #ddd;
                    margin-bottom: 1rem;
                    font-size: 12px;
                    ul {
                        li {
                            text-indent: -15px;
                            padding-left: 15px;
                            color: #999;
                        }
                    }
                }
                .selected_bot {
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                    margin: 1rem 0;
                    min-height: 25px;
                    &.on {
                        .t {
                            display: inline-block;
                        }
                    }
                    .bot_name {
                        color: $blue;
                        &.ronibot {
                            color: $blue;
                        }
                        &.paibot {
                            color: $yellow;
                        }
                    }
                    .t {
                        display: none;
                    }
                }
            }
        }
        .popup_footer {
            text-align: center;
            padding: 1rem;
            border-top: 1px solid #ddd;
            margin: 0;
            width: 100%;
            button {
                border: 1px solid $blue;
                background: $blue;
                color: #fff;
                padding: 0.75rem 2rem;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .event_popup_container {
        padding: 1rem;
        .event_popup {
            min-width: 94%;
            font-size: 12px;
            .popup_header {
                h2 {
                    font-size: 16px;
                    text-align: left;
                    letter-spacing: -0.04rem;
                    strong {
                        margin-right: 10px;
                    }
                }
                .pop_close {
                    width: 20px;
                    height: 20px;
                    right: 15px;
                }
            }
            .popup_body {
                max-height: calc(100vh - 135px);
                overflow: auto;
                .event_table {
                    table {
                        .event_msg {
                            display: none;
                        }
                        tbody {
                            td.on {
                                &.price {
                                    z-index: 2;
                                    &::after {
                                        @include hideLine;
                                        left: auto;
                                        right: -4px;
                                        border-radius: 0;
                                    }
                                }
                                &.event_money {
                                    z-index: 1;
                                    &::after {
                                        @include checkBullet;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    .event_popup_container .event_popup .popup_body .event_table table tbody td.on.price::before {
        top: 0;
        height: 100%;
        bottom: 0;
    }
}