@charset "utf-8";

// 라인
$black: #1a1a1a;
$blue: #598ae2;
$blue2: #3149d9;
$sky: #2DABE8;
$red: #fb102b;
$line: #d7d7d7;
$selectedCell: #d5eefa;

// 텍스트
$subText: #777;

// bot 
$freebot: #e0e0e0;
$ronibot: #0035e1;
$paibot: #ffc700;
$bankbot: #85b86f;
$bankbotYear: #689356;
